{% load i18n %}

<div class="modal fade" id="proxyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="proxy-dialog" role="document">
    <div class="modal-content">
      <form method="get" action="">
      <div id="proxy-modal__header" class="modal-header proxy-modal__header">
        <div class="proxy-modal__title" id="myModalLabel">{% trans "Select Proxy User(s)" %}</div>
        <img src="/static/images/icon_cross.svg" alt="close" class="close login-modal__close" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <div class="row">
          <select multiple size="10">
            <option value="a" selected="selected">[ucsd_signaling_gateway]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Center for International Earth Science Information Network (CIESIN)
            <option value="b">[aasdata]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESIPCommon Federation of Earth Science Information Partners (ESIP) Commons</option>
            <option value="c" selected="selected">[acsess]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indiana University Sustainable Environment-Actionable Data (SEAD)</option>
            <option value="d">[aep]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboratory for Basic and Translational Cognitive Neuroscience</option>
            <option value="e">[artlas]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partnership for Interdisciplinary Studies of Coastal Oceans (PISCO)</option>
            <option value="f">[ualberta]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UAlberta Journal of Professional Continuing and Online Education</option>
            <option value="g">[benchfly]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Center for International Earth Science Information Network (CIESIN)
            <option value="h">[biocaddie]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESIPCommon Federation of Earth Science Information Partners (ESIP) Commons</option>
            <option value="i">[biocaddie-api]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indiana University Sustainable Environment-Actionable Data (SEAD)</option>
            <option value="j">[ucsd_signaling_gateway]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Laboratory for Basic and Translational Cognitive Neuroscience</option>
            <option value="k">[ucsd_signaling_gateway]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Partnership for Interdisciplinary Studies of Coastal Oceans (PISCO)</option>
            <option value="l" selected="selected">[ualberta]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UAlberta Journal of Professional Continuing and Online Education</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button id="submit_close" type="button" class="btn btn-primary" name="submit_checks" value="Apply Changes">{% trans "Add user(s)" %}</button>
      </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$("#submit_close").click(function(e){
  var str = "";
  var s = $('select option:selected');
  s.each(function() {
    str += $( this ).text() + " ";
    console.log("str = %s", str);
  });
  // $('#name').val($('#firstname').val() + " " + $('#lastname').val());
  // $( this ).dialog( "close" );
});
</script>
