{% load i18n %}

<div class="modal fade" id="proxyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="proxy-dialog" role="document">
    <div class="modal-content">
      <div id="proxy-modal__header" class="modal-header proxy-modal__header">
        <div class="proxy-modal__title" id="myModalLabel">{% trans "Select Proxy User(s)" %}</div>
        <a href="" data-bs-dismiss="modal" aria-label="close"><img src="/static/images/icon_cross.svg" class="close login-modal__close"></a>
      </div>
      <div class="modal-body">
        <div class="row">
          <select multiple size="10" class="select__autowidth">
          {% for k,v in proxy_users_choose %}
            <option value="{{k}}">[{{k}}]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{v}}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button__cancel" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
        <button id="submit_close" type="button" class="button__primary" name="submit_checks" value="Apply Changes">{% trans "Add user(s)" %}</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  var txt = $('#id_proxy_users_picked');

  function setTextAreaDimension(x) {
    var h, div = Math.ceil(x.val().length/34);
    h = div * 30;
    x.css('height', h);
    if (x.val().length < 2) {
      x.css('width', 10);
    } else {
      x.css('width', 250);
    }
  }

  // Set height for textarea of already selected proxy users 
  setTextAreaDimension(txt);

  // Already chosen proxies should show up as selected in the modal list
  $("select").val({{ proxy_users_picked_list|safe }});

  // On modal close: Populate textarea with selected proxy usernames.
  $("#submit_close").click(function(e){
    var assigned = [],
        s = $('select option:selected'),
        comma = new RegExp(","),
        re = /^\[(.*?)\]/;
    // Grab what's already been picked 
    if (comma.test(txt)) {
      assigned = txt.text().trim().split(', ');
    }
    // Only add items not already found in list of already assigned proxy users
    s.each(function() {
        // Grab username from "[username]   displayName"
        i = re.exec($( this ).text())[1];
        if ($.inArray( i, assigned ) == -1) {
            assigned.push(i);
        }
    });
    txt.val(assigned.join(", "));
    if (txt.val() == '') {
      txt.val('{{proxies_default}}');
    }
    setTextAreaDimension(txt); 
    $('#proxyModal').modal('hide');
  });
});
</script>
