{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}My Account{% endblock %}

{% block content %}
  <div class="grid_12 menu_secondary" id="submenu">
		<a href="/ezid/account/edit" class="menu_current">Account Information</a>
		<span class="pad">|</span>
		<a href="/ezid/account/change_pwd">Change Password</a>
		<span class="pad">|</span>
		<a href="/ezid/account/user_stats">Usage</a>
	</div>
	
	<script type="text/javascript">
	  /* function to move this submenu into the space of the normal position.
	   * This could go away after reworking the menu structure to allow different
	   * types of submenus.  This submenu is problematic since the "my account"
	   * area doesn't have a menu item in the main menu categories.
	   */
		$(function() {
     var first = $('.menu_secondary').first();
     var second = $('#submenu');
     first.html(second.html());
     second.remove();
    });
		
	</script>
  <div class="grid_12">
    <h1>My Account</h1>
    <h2>Account Information</h2>
    
    <form autocomplete="off" id="edit_form" action="{% url ui_account.edit %}" method="post" >
      <div class="left_desc">Username:</div>
      <div class="right_val">{{ username }}</div>
      
      <div>
        <div style="float:left; width:350px;">
          <label for="givenName" class="left">
            First name:
          </label>
          <div class="field_right" style="width: 230px;">
            <input type="text" name="givenName" id="givenName" size="25"
                value="{{ givenName }}" />
          </div>
        </div>
        
        <div style="float:left; width: 350px;">
          <label for="sn" class="left" style="text-align:right;">
            Last name:&nbsp;&nbsp;&nbsp;
          </label>
          <div class="field_right" style="width: 230px;">
            <input type="text" name="sn" id="sn" size="25"
                value="{{ sn }}" />
          </div>
        </div>
      </div>
      
      <label for="mail" class="left">
        Email address:
      </label>
      <div class="field_right">
        <input type="text" name="mail" id="mail" size="25"
            value="{% form_or_default "mail" mail %}" />
      </div>
      
      <label for="telephoneNumber" class="left">
        Phone number:
      </label>
      <div class="field_right">
        <input type="text" name="telephoneNumber" id="telephoneNumber" size="25"
            value="{{ telephoneNumber }}" />
      </div>
      
      <div style="clear:both">&nbsp;</div>
      <label for="ezidCoOwners" class="left">
        Co-owners:
      </label>
      <div class="field_right">
        <input type="text" name="ezidCoOwners" id="ezidCoOwners" size="35"
            value="{{ ezidCoOwners }}" />{% help_icon "coowners_help" %}
      </div>

      <label class="left" style="margin: 5px 0 0 0;">&nbsp;</label>
      <div class="field_right" style="margin: 5px 0 0 0;font-size:85%;">
        Use commas to separate multiple entries.
      </div>
      <div style="clear:both">&nbsp;</div>
      
      <label class="left">&nbsp;</label>
      <div class="field_right">
        <input type="submit" value="Save" />
      </div>
      <div style="clear:both">&nbsp;</div>   
    </form>
    
  </div>
  
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/ezid/static/javascripts/help_box.js"></script>
{% endblock %}