{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Request password reset" %}{% endblock %}
{% block heading %}{% content_heading _("Request password reset") %}{% endblock %}
{% block content %}

<div class="container vertical-buffer">
<form method="post" action="{% url "ui_account.pwreset" %}" class="form-horizontal" role="form">
  {{ form.non_field_errors }}
  {% for field in form %}
    <div class="row form-group form-group-sm{% if field.errors %} has-error{% endif %}">
      <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-4">
        {{ field|add_attributes:"form-control"}}
      </div>
    {% if field.errors %}
      <div class="col-sm-2">
      {% for error in field.errors %}
        {{ error|escape }}
      {% endfor %}
      </div>
    {% endif %}
    </div>
  {% endfor %}
  <div class="row form-group form-group-sm">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary padding-side-med">{% trans "SEND EMAIL" %}</button>
    </div>
  </div>
</form>

<div class="col-sm-6 vertical-buffer">
  <p>{% trans "You will be sent an email containing a link allowing your password to be reset." %}</p>
  <p>(
    {% url "ui.contact" as url_contact %}
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags 
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p> 
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a> 
{% endcomment %}

    {% blocktrans trimmed %}<a href="{{ url_contact }}">Contact us</a> if you don't remember your username.{% endblocktrans %})
  </p>
</div>
<div class="col-sm-6">&nbsp;</div>

</div>
{% endblock %}
