{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}EZID : {% trans "Reset Password" %}{% endblock %}
{% block heading %}{% content_heading _("Reset Password") %}{% endblock %}
{% block content %}
<p><br/></p>
<form method="post" action="{% url "ui_account.pwreset" pwrr %}" class="general__form" role="form">
  {{ form.non_field_errors }}
  <div class="fcontrol__group-inline general__form-element-group">
    <label for="account_username" class="fcontrol__text-label-inline general__form-label">{% trans "Username" %}</label>
    <div class="fcontrol__text-nofield">{{ username }}</div>
  </div>

  {% for field in form %}
  {% include "includes/_inlinetext.html" with field=field form_name="general__" %}
  {% endfor %}
  <button class="button__primary general__form-submit">{% trans "Send Email" %}</button>
</form>
{% endblock %}
