/* These styles are only used on the tombstone page, now, I think */

body { text-align: center; font-family: Helvetica, sans-serif }
td { text-align: left }
#tabs a:hover { color: blue }
#idtable .editable:hover { background-color: #FFF1A8; border-color: black;
  cursor: text }
#idtable #moreswitch:hover { color: blue }
#idtable #moreswitch:hover #more { background-position: 0 12px }
#idtable #moreswitch:hover #less { background-position: 12px 12px }
#admin .switch:hover { color: blue }
#admin .switch:hover .open { background-position: 0 12px }
#admin .switch:hover .closed { background-position: 12px 12px }
#tombstone { width: 40em; margin-left: auto; margin-right: auto }
#tombstone #title { font-size: 200%; font-weight: bold }
#tombstone #metadata { text-align: left; border: 2px solid black;
  font-size: 75%; padding: 1em; margin-left: auto; margin-right: auto }
#tombstone #metadata th { padding: .25em .5em; text-align: left;
  white-space: nowrap }
#tombstone #metadata td { padding: .25em .5em }
#tombstone img { border-width: 0; margin-top: 1em }

/* For rendering DataCite metadata... */

#tombstone .dcms_table { text-align: left; border: 2px solid black;
  font-size: 75%; padding: 1em; margin-left: auto; margin-right: auto }
#tombstone .dcms_label { padding: .25em .5em; text-align: left;
  white-space: nowrap }
#tombstone .dcms_value { padding: .25em .5em }
#tombstone .dcms_sublabel { font-size: 80% }
#tombstone .dcms_subvalue { font-size: 80% }
#tombstone .dcms_identifier { display: none }
