{% extends "layouts/base.html" %}

{% block title %}System Status{% endblock %}

{% block content %}
  <div class="grid_9">
    <h1>System Status</h1>
    <table class="status">
    	<tr>
    		<th>Status</th>
    		<th>Resource</th>
    	</tr>
    	{% for ss in status_list %}
		  	<tr>
		  		<td id='{{ss.id}}' class="update_status"><img src='/static/images/ajax-loader_gray.gif' alt='Progress indicator' /></td>
		  		<td>{{ss.name}}</td>
		  	</tr>
    	{% endfor %}
    </table>
  </div>
  
  <div class="grid_3">
  	<br/>
  	<div class="status_sidebox">
  		<h2>Legend</h2>
  		<p><img src="/static/images/good_flag.png" alt="service up">&nbsp;&nbsp;Service up</p>
  		<p><img src="/static/images/maybe_flag.png" alt="service state unknown">&nbsp;&nbsp;Service state unknown</p>
  		<p><img src="/static/images/fail_flag.png" alt="service down">&nbsp;&nbsp;Service down</p>
  	</div>
  	<br/><br/>
  	<div class="status_sidebox" style="text-align:center">
  		<h2>For Developer Use Only</h2>
  		<form id="reloadit" action="{% url "ui_admin.system_status" %}" method="post" >
  			<input type="submit" value="Reload EZID"/>
  		</form>
  		<br/>
  	</div>
  </div>
  <script type="text/javascript">
  	function preload(arrayOfImages) {
	    $(arrayOfImages).each(function(){
	        $('<img/>')[0].src = this;
	    });
		}
  
    $(document).ready(function() {
    	preload([
    		'/static/images/good_flag.png',
    		'/static/images/fail_flag.png',
    		'/static/images/maybe_flag.png',
    		'/static/images/ajax-loader_gray.gif'
			]); //must preload images or Safari doesn't refresh images on page until it gets un-busy with all requests sometimes
			
	    setTimeout(function() { // set timeout also needed for Safari and page reload, doesn't happen on new navigation to page in most cases
		    $('.update_status').each(function() {
		    	$.ajax({
			  		url:			'{% url "ui_admin.ajax_system_status" %}' + "?id=" + escape(this.id),
			  		success: 	function(data){
			  		  var ar = data.split(':');
			  		  var id = ar[0];
			  		  var resp = ar[1];
			  			if(resp == 'up'){
			  				$('#' + id).html("<img src='/static/images/good_flag.png' alt='service up' title='service up' />");
			  			}else if(resp == 'down'){
			  				$('#' + id).html("<img src='/static/images/fail_flag.png' alt='service down' title='service down' />");
			  			}else{
			  				$('#' + id).html("<img src='/static/images/maybe_flag.png' alt='service state unknown' title='service state unknown' />");
			  			}
			  			$('#' + id).show();  // this is to keep Safari repainting and not freezing while ajax is continuously loading
			   		},
			  			async:	true
			  		}); // end ajax function
		    });
	    }, 1500);
    });
  	
  </script>
{% endblock %}
