{% extends "layouts/information.html" %}

{% block title %}EZID Community{% endblock %}

{% block main_column %}
	<h1>A Partial List of EZID Clients</h1>

	<dl>
		<dt><a href="http://www.lib.berkeley.edu/">UC Berkeley Library (on behalf of the UC Berkeley campus)</a></dt>
		<dd>The UCB Library licenses the EZID service for Berkeley researchers. <i>Sponsored accounts:</i></dd>
		<dd><a href="http://opencontext.org/">Open Context</a> Open Context is a free, open access resource for the electronic publication of primary field research from archaeology and related disciplines.</dd>
		<dd><a href="http://crcns.org/">CRCNS.org</a> Collaborative Research in Computational Neuroscience - Data sharing - contains a repository of high-quality experimental data sets that are valuable for testing computational models of the brain and new analysis methods. The data include physiological recordings from sensory and memory systems, as well as eye movement data.</dd>
		<dd><a href="http://www.law.berkeley.edu/HRCweb/index.html">Human Rights Center</a> The Human Rights Center promotes human rights and international justice worldwide and trains the next generation of human rights researchers and advocates.</dd>

		<dt><a href="http://library.ucsc.edu/">UC Santa Cruz Library</a></dt>
		<dd>The UCSC University Library holds a growing collection of digitized and "born digital" materials in many formats from the library's archives, including the campus archive, historic maps, faculty papers, the records of the Lick Observatory, and the Grateful Dead Archive.</dd>

		<dt><a href="http://libraries.ucsd.edu/">UC San Diego Library (on behalf of the UC San Diego campus)</a> </dt>
		<dd>UC San Diego <a href="http://rci.ucsd.edu/">Research Cyberinfrastructure</a> is the hardware, software, and people that support scientific research. UCSD RCI offers EZID as a component service for researchers.</dd>
		<dd>The UCSD Library licenses the EZID service for UCSD researchers. <i>Sponsored accounts:</i></dd>

		<dd><a href="http://www.opentopography.org">OpenTopography</a>: OpenTopography facilitates community access to high-resolution, Earth science-oriented, topography data, and related tools and resources.  Support for OpenTopography comes from the National Science Foundation's <a href="http://www.nsf.gov/funding/pgm_summ.jsp?pims_id=6186">Earth Sciences: Instrumentation and Facilities Program (EAR/IF)</a> and the <a href="http://www.nsf.gov/dir/index.jsp?org=OCI">Office of Cyberinfrastructure</a>.</dd>

		<dt><a href="http://aas.org">American Astronomical Society</a></dt> 
		<dd>The American Astronomical Society (AAS) is the major organization of professional astronomers in North America. The mission of the Society is to enhance and share humanity's scientific understanding of the Universe. The AAS publishes two of the major journals in astrophysics.</dd>

		<dt><a href="http://www.cndp.fr/">Centre national de documentation p&#233;dagogique</a></dt>

		<dd>The CRDP (Centre r&#233;gional de documentation p&#233;dagogique) de l'academie d'Aix-Marseille is a public structure member of the Services culture, &#233;ditions, ressources pour l'&#201;ducation nationale (SC&#201;R&#201;N). The center works with primary and secondary schools providing resources and educational contents. Among its activities: information, publishing, promotion of uses of Information and Communication Technologies, and cultural and artistic activities. The CRDP uses EZID for www.coredu.fr, an online editorial resources catalog for French school establishments.</dd>

		<dt><a href="http://ciser.cornell.edu/About_CISER.shtml">Cornell Institute for Social and Economic Research</a></dt>
		<dd>CISER is working on using EZID-generated DOIs for selected studies in its <a href="http://ciser.cornell.edu/ASPs/search.asp">Data Archive</a>.</dd>

		<dt><a href="http://www.maxwell.syr.edu/moynihan_cqrm.aspx">Consortium on Qualitative Research Methods</a></dt>

		<dd>The Consortium on Qualitative Research Methods hosts the <a href="http://www.maxwell.syr.edu/moynihan/cqrm/About_CQRM/">Institute for Qualitative and Multi-Method Research</a> at the Maxwell School of Syracuse University. In 2012, CQRM will launch the Qualitative Data Repository, an NSF funded archive for qualitative social science data.</dd>

		<dt><a href="http://www.tdar.org/">The Digital Archaeological Record (tDAR)</a></dt>
		<dd><a href="http://www.digitalantiquity.org">Digital Antiquity</a> is a non-profit organization devoted to enhancing preservation of and access to irreplaceable archaeological knowledge. Digital Antiquity supports research, cultural resource management, education, and public outreach through tDAR (the Digital Archaeological Record -http://www.tdar.org), a digital repository for discovering, managing, preserving, and using archaeological information.</dd>

		<dt><a href="http://datadryad.org/">Dryad Digital Repository</a></dt>
		<dd>Dryad is an international repository of data underlying published literature in the basic and applied biosciences.</dd>

		<dt><a href="http://www.fhcrc.org/">Fred Hutchinson Cancer Research Center</a></dt>
		<dd>The Arnold Library provides information services and resources in support of the Fred Hutchinson Cancer Research Center's research, scholarship, educational and patient care activities.</dd>

		<dt><a href="http://www.labarchives.com/">LabArchives</a></dt>
		<dd>LabArchives is an innovative web-based Electronic Laboratory Notebook (ELN) that also can serve as a repository for sharing of data sets.  Under control of the user, and in partnership with EZID from the California Digital Library, LabArchives provides for the assignment of Digital Object Identifiers (DOIs) to sets of data that are stored in LabArchives notebooks.  LabArchives also stores all versions of data, making it possible for readers to review older as well as more recent iterations of information.</dd>

		<dt><a href="http://ncar.ucar.edu/">National Center for Atmospheric Research (NCAR)</a></dt>
		<dd>The National Center for Atmospheric Research (NCAR) is a federally funded research and development center devoted to service, research and education in the atmospheric and related sciences. NCAR is assigning DOIs to data in order to track the use of data sets over time, give scientists and data centers credit for their work in collecting and managing data, and enable data to be discovered, accessed, and used more easily.</dd>

		<dt><a href="http://earthdata.nasa.gov/">NASA Earth Observing System Data and Information System (EOSDIS)</a></dt>

		<dd>The EOSIS is a key core capability in NASA's Earth Science Data Systems Program. It provides end-to-end capabilities for managing NASA's Earth science data from various sources - satellites, aircraft, field measurements, and various other programs.</dd>

		<dt><a href="http://www.usgs.gov/core_science_systems/csas/">USGS/Earth Sciences Data Clearinghouse (formerly National Biological Info. Infrastructure)</a> </dt>
		<dd>The USGS and its collaborators Oak Ridge National Lab are providing access and management of earth science data and information to meet research and land manager needs related to ecosystems, habitats, species, climate change, and other grand science challenges. </dd>

	</dl>
{% endblock %}