{% extends "layouts/information.html" %}

{% block title %}Understanding Identifiers{% endblock %}

{% block main_column %}
  <h1>Contact Us</h1>
  
  <p>We welcome your comments and feedback.  Please contact us in any of the following ways.</p>
  
  <h2>By mail</h2>
  <p>
  	EZID, UC Curation Center<br/>
  	California Digital Library (CDL)<br/>
  	Office of the President<br/>
  	415 20th Street, 4th Floor<br/>
  	Oakland, CA 94612-2901
  </p>
  
  <h2>By phone or fax</h2>

	<p>
		CDL Helpline: (510) 987-0555<br/>
		CDL Administration: (510) 987-0425<br/>
		Fax: (510) 893-5212
	</p>

	<h2>By email</h2>
	<p><a href="mailto:uc3@ucop.edu">uc3@ucop.edu</a></p>
{% endblock %}