{% extends "layouts/information.html" %}

{% block title %}EZID Home{% endblock %}

{% block main_column %}
  <h1>EZID (easy-eye-dee) makes it easy to create and manage unique,
    persistent identifiers.</h1>
  <ul>
    <li>
      You can create identifiers for any kind of entity — physical, digital,
      abstract, etc. For identifiers of objects on the web, you can use EZID
      to maintain their current locations so that people who click on the
      identifiers are correctly forwarded.</li>
    <li>
      You can also store citation metadata with identifiers to aid in
      interpreting and maintaining them. Several citation formats are possible.
    </li>
    <li>
      EZID supports a number of persistent identifier technologies,
      including ARKs (Archival Resource Keys), DOIs (Digital Object
      Identifiers), and URNs (Uniform Resource Names).
    </li>
    <li>
      Visit our website for more information about EZID identifiers,
      features, and benefits.
    </li>
  </ul>
  
  <p>
    To operate EZID use the tabs above or the programming interface.
    You will need a login account to create identifiers, but anyone
    can view identifier metadata. Please contact us if you are
    interested in setting up an account.
  </p>
{% endblock %}
{% block sidebar %}

{% endblock %}