<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}EZID{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/text.css" />

    <link rel="shortcut icon" href="/ezid/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/ezid/static/stylesheets/styles.css"/>

    <script type="text/javascript" src="/ezid/static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/ezid/static/javascripts/base.js"></script>
  </head>
  <body>
    <div class="container_16">
      <div class="grid_4 top_area">
        <a href=".">
          <img src="/ezid/static/images/ezid_logo.png" alt="EZID Logo" width="203" height="81"/>
        </a>
      </div>
      <div class="grid_5 top_area status">
        <div>
          Place status message here...
        </div>
      </div>
      <div class="grid_7 top_area right-links">
        Logged in as <strong>ezid_admin</strong>
        &nbsp;|&nbsp;
        <a href="">My Account</a>
        &nbsp;|&nbsp;
        <a href="">Login</a>
        &nbsp;|&nbsp;
        <a href="">Contact Us</a>
      </div>
      
      <div class="grid_16 menu_main">
        <div>
          <span class="menu_current">Home</span>
        </div>
        <div>
          <a href="">Manage IDs</a>
        </div>
        <div>
          <a href="">Create IDs</a>
        </div>
        <div>
          <a href="">Lookup ID</a>
        </div>
        <div>
          <a href="">Demo</a>
        </div>
        <div>
          <a href="">Admin</a>
        </div>
      </div>

      <div class="grid_16 menu_secondary">
        <span class="menu_current">Why EZID?</span>
        &nbsp;|&nbsp;
        <a href="">Understanding Identifiers</a>
        &nbsp;|&nbsp;
        <a href="">Pricing</a>
        &nbsp;|&nbsp;
        <a href="">Documentation</a>
        &nbsp;|&nbsp;
        <a href="">Outreach</a>
        &nbsp;|&nbsp;
        <a href="">The EZID Community</a>  
      </div>
      <div class="grid_12">
        <div style="margin-right: 40px;">
          <h1>EZID (easy-eye-dee) makes it easy to create and manage unique,
            persistent identifiers.</h1>
          
          <ul>
            <li>
              You can create identifiers for any kind of entity — physical, digital,
              abstract, etc. For identifiers of objects on the web, you can use EZID
              to maintain their current locations so that people who click on the
              identifiers are correctly forwarded.</li>
            <li>
              You can also store citation metadata with identifiers to aid in
              interpreting and maintaining them. Several citation formats are possible.
            </li>
            <li>
              EZID supports a number of persistent identifier technologies,
              including ARKs (Archival Resource Keys), DOIs (Digital Object
              Identifiers), and URNs (Uniform Resource Names).
            </li>
            <li>
              Visit our website for more information about EZID identifiers,
              features, and benefits.
            </li>
          </ul>
          
          <p>
            To operate EZID use the tabs above or the programming interface.
            You will need a login account to create identifiers, but anyone
            can view identifier metadata. Please contact us if you are
            interested in setting up an account.
          </p>
        </div>
      </div>
      <div class="grid_4">
        <h1>Learn More</h1>
        <div class="rb1"><div class="rb2"><div class="rb3"><div class="rb4">
        <div class="rb5"><div class="rb6"><div class="rb7"><div class="rb8">
          <ul class="linklist">
            <li><a href="">Why EZID?</a></li>
            <li><a href="">Understanding Identifiers</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Outreach</a></li>
            <li><a href="">The EZID Community</a></li>
          </ul>
        </div></div></div></div></div></div></div></div>
      </div>
      <div class="grid_16">
        <div class="rb1"><div class="rb2"><div class="rb3"><div class="rb4">
        <div class="rb5"><div class="rb6"><div class="rb7"><div class="rb8">
          <strong>Latest news from EZID</strong>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href=''>EZID: A Tool for Creation and Long-Term Management of Identifiers</a>
        </div></div></div></div></div></div></div></div>
      </div>
      <div class="grid_16 copyright">
        EZID is a service of the
        <a href="http://www.cdlib.org/services/uc3/">University of California Curation Center</a>
        of the <a href="http://www.cdlib.org">California Digital Library</a><br/>
        Copyright &copy; 2009-2011&nbsp;&nbsp;The Regents of the University of California&nbsp;&nbsp;
        <img src="/ezid/static/images/uc_logo.png" alt="UC Logo"/>
        &nbsp;&nbsp;
        <a href="">About Us</a>&nbsp;&nbsp;
        <a href="">Help</a>&nbsp;&nbsp;
        <a href="">Privacy Policy</a>
      </div>
    </div>
  </body>
</html>
