{% extends "layouts/information.html" %}

{% block title %}Outreach{% endblock %}

{% block main_column %}
  <h1>Outreach</h1>
     
  <p><a href="">EZID Webinar, Aug. 11, 2011</a></p>
  
  <p><a href="">Webinar Slides, Aug. 11, 2011</a></p>
  
  <p><a href="">Data Management and EZID Presentation</a> at ALA Annual Meeting, June 26, 2011, slides.</p>
  
  <p><a href="">EZID Webinar, Oct. 26, 2010</a></p>
  
  <p><a href="">Webinar Slides, Oct. 26, 2010</a></p>
  
  <p><a href="">EZID and DataCite Presentation</a> for NISO, August 11, 2010, slides.</p>
  
  <p><a href="">EZID Handout</a></p>
{% endblock %}