{% extends "layouts/information.html" %}

{% block title %}Pricing{% endblock %}

{% block main_column %}
  <h1>Pricing</h1>
     
  <h2>University of California</h2>  
  <p>
    The UC community works collaboratively to deliver the
    service internally, and UC prices reflect that approach.
  </p>
  
  <h2>Non-UC Institutions & Organizations</h2>
  <p>
    Non-UC accounts are charged a yearly subscription fee
    entitling the account-holders to create and manage unlimited identifiers.
  </p>
  
  <h2>Consortia</h2>
  <p>
    Discounted subscription fees are available for consortia of
    three or more institutions or organizations.
  </p>
{% endblock %}