{% extends "layouts/information.html" %}

{% block title %}Why EZID?{% endblock %}

{% block main_column %}
  <h1>Why EZID?</h1>
     
  <h2>Meeting researcher needs early in the lifecycle</h2>
  
  <p>
    You do
    data-intensive research and write papers based on it. You
    want to refer to the dataset right now even though you
    haven't yet found a permanent &quot;home&quot; for the data. (It's
    still on your desktop.) You can register the dataset now
    with EZID. You'll get a clickable reference you can use in
    your paper. You're just starting to build a second dataset,
    and you use EZID to get a preservation-ready identifier for
    it even before you have any data. When your papers are
    published and you move your data, you can update the
    metadata associated with the permanent ID, and the clickable
    reference will still work. When a paper begins to get cited
    by others, even if you move the data again, as long as you
    update the metadata again, the clickable reference will
    always work!
  </p>
   
  <h2>Helping a research team</h2>

  <p>    
    You are part of a
    research team studying language change. You work with a
    regional humanities research center where a data federation
    is hosted. The center's data services harvest metadata from
    your database. Right now, your database is stored on your
    departmental web server, but the server is getting old, and
    your chairman has announced that the department is
    considering moving all data storage to &quot;cloud storage.&quot; You
    can use the EZID services to register an identifier now and
    circulate that clickable address to your colleagues and to
    the entire data federation. When your department completes
    its transition to the cloud, you use EZID again to update
    the location details so that references to your database
    continues to work perfectly.
  </p>
 
    <h2>Researchers on the move</h2>

  <p>
    You are a molecular biology researcher/educator who has
    published extensively in the field. You use the EZID
    services to allocate identifiers to your work, the datasets
    that accompany and inform your published articles. You are
    planning an exit strategy and go into research full time in
    private industry, with a genetic engineering firm that has
    made you a generous offer. You plan to move your datasets
    with you. You use the EZID services again to update the
    location details, and there is no interruption of access to
    your data via the original identifiers.
  </p>
   
  <h2>Managing the output of a grant</h2>

  <p>
    You have received a research grant from
    the National Science Foundation. As part of your grant
    requirements, you must submit a formal data management plan.
    The data management plan will save you time and resources in
    the long run and ensure that your data will be usable in the
    future. A key component of the plan is naming and organizing
    your files, and EZID services can help you. Register your
    files with EZID from the beginning. As your work progresses,
    if you need to move your files, as long as you update the
    metadata, the clickable references will continue to work.
  </p>
{% endblock %}