// ##### Accordion Component ##### //

$accordion-padding: 15px;

.accordion {
	// empty
}

.accordion__section {
	display: block;
	margin: 0 0 10px;
	padding: 0 $accordion-padding;
	border-top: 1px solid $design-light-gray-border-color;
	border-right: 1px solid $design-light-gray-border-color;
	border-left: 1px solid $design-light-gray-border-color;

	&.open {
		border-bottom: 1px solid $design-light-gray-border-color;

		.accordion__title {
			background-image: url('../images/icon_minus-sign.svg');
		}

	}

}

.accordion__title {
	display: block;
	margin: 0 (-$accordion-padding);
	padding: 10px 10px 10px ($accordion-padding + 25px);
	border-bottom: 1px solid $design-light-gray-border-color;

	background-color: $design-light-gray-bg-color;
	background-image: url('../images/icon_plus-sign.svg');
	background-repeat: no-repeat;
	background-position: left $accordion-padding center; // needs Modernizr fallback
	background-size: 12px;
	cursor: pointer;

	// Remove native arrow icon from Chrome & Safari
	&::-webkit-details-marker {
	  display: none;
	}

}
