// ##### Accordion Component ##### //

.accordion {
	// empty
}

.accordion__section {

	&.open {
		.accordion__title:before {
			content: '+';
		}

	}

}

.accordion__title {
	display: block;
	margin: 0 0 5px;
	padding: 10px;
	border: 1px solid $design-light-gray-border-color;
	background: $design-light-gray-bg-color;
	cursor: pointer;

	// Remove native arrow icon from Chrome & Safari
	&::-webkit-details-marker {
	  display: none;
	}

	&:before {
		padding: 0 10px 0 0;
		content: '-';
	}

}
