// ##### Button Elements ##### //

%button__base {
	height: $form-element-height;
	padding: 0 1.3em;
	border: none; // reset default style
	color: $design-white-color;
	font-size: 0.85em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer; // reset default style
}

%button__primary {
	@extend %button__base;
	background: linear-gradient(to bottom, $design-primary-gradient-top, $design-primary-gradient-bottom);
}

.button__primary-example {
	@extend %button__primary;
}

%button__pop {
	@extend %button__base;
	background: linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
}

.button__pop-example {
	@extend %button__pop;
}
