// ##### Button Elements ##### //

%button__base {
	display: inline-block; // if class applied to <a>instead of <button>
	height: $form-element-height;
	padding: 0 1.3em;
	border: none; // reset default style
	color: $design-white-color;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer; // reset default style

	&:hover { // OK to remove if links disabled in bootstrap
		color: $design-white-color;
	}

}

%button__primary {
	@extend %button__base;
	background: linear-gradient(to bottom, $design-primary-gradient-top, $design-primary-gradient-bottom);
}

.button__primary {
	@extend %button__primary;
}

%button__pop {
	@extend %button__base;
	background: linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
}

.button__pop {
	@extend %button__pop;
}
