/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Cite Component ##### //

.cite {
	$box-padding: 1.5rem;

	display: flex;
	flex-direction: column;
	padding: $box-padding;
	border: 1px solid $design-primary-color;
	border-radius: $form-element-border-radius;

	header {
		margin: (-$box-padding) (-$box-padding) $box-padding (-$box-padding);
		padding: 1rem 1rem 1rem $box-padding;
		background: $design-primary-color url('../images/icon_quote-right-solid.svg') left $box-padding center / 1.8rem no-repeat;
	}

	h3 {
		margin: 0 0 0 3.5rem;
		color: $design-white-color;
	}

	select {
		min-width: 16rem;
		margin-right: auto;
		margin-bottom: 1.5rem;
		padding: 1rem;
		border: none;
		border-radius: $form-element-border-radius;
		background: $design-primary-color url('../images/icon_caret-down-solid.svg') right 1.7rem center / 1.8rem no-repeat;
		appearance: none;
		color: $design-white-color;
		font-size: 1.1em;
	}

	button {
		margin-right: auto;
		padding: .5rem 1rem;
		border: none;
		border-radius: $form-element-border-radius;
		background-color: $design-primary-color;
		color: $design-white-color;
		font-size: 1.1em;
	}
}
