// ##### Contact Layout ##### //

.contact {
	// empty
}

.contact__note {
	max-width: 1000px;
	margin: 30px auto;
	padding: 0 25% 0 0;
	color: $design-primary-color;
	font-size: 1.4em;
	font-weight: bold;
}

.contact__label {
	width: $form-element-label-width;

	@include bp(screen1) {
		text-align: right;
	}

}

.contact__form-element {
	max-width: 1000px;
	margin: 30px auto 0;
}
