// ##### Contact Layout ##### //
// ##### Also used for Account Settings Layout ##### //

.contact {
	// empty
}

.contact__note {
	max-width: 1000px;
	margin: 30px auto;
	color: $design-primary-color;
	font-size: 1.4em;
	font-weight: bold;

	@include bp(screen2) {
		padding: 0 20% 0 0;
	}

}

.contact__form {
	max-width: 1000px;
	margin: 0 auto;

	@include bp(screen2) {
		padding: 0 20% 0 0;
	}

}

.contact__form-label {

	@include bp(screen1) {
		width: $form-element-label-width;
	}

}

.contact__form-element {
	margin: 0 0 30px;
}

.contact__form-submit {

	@include bp(screen1) {
		margin: 0 0 25px $form-element-label-width + 0.5rem;
	}

}
