// ##### Create ID Layout ##### //
$form-element-tight-group-spacing: 8px;
$form-element-end-group-spacing: 32px;

.create {
	// empty
}

.create__tab {
	max-width: 1000px;
	margin: 10px auto 0;

	@include bp(screen2) {
		margin: 30px auto 20px;
	}

}

.create__sidebox {
	padding: 0 0 20px;

	@include bp(screen2) {
		padding: 0 0 20px 20px;
	}

}

/* START special styles to imitate bootstrap so that item order is correct for screen readers :-/ */

/* Custom row for the layout */
.bs-create__row {
  position: relative;
}

/* Custom class for main content */
.bs-create__main {
  width: 66.66%;
  float: left;
}

/* Custom class for sidebar */
.bs-create__sidebox {
	position: absolute;
	padding-top: 28px;
	padding-right: 30px;
  	right: 0;
	top: 0;
  	width: 31.2%;
}

/* Clear the floated/absolute positioning below the row */
.bs-fieldset-stacked {
  width: 100%;
  float: left;
}

/* END special styles to imitate bootstrap so that item order is correct for screen readers :-/ */

.create__radio-button {
	margin: 0 0 $form-element-group-spacing 45px;
}

.create__inline-nested-legend {
	width: $form-element-label-width;
	font-size: 1em;
	font-weight: normal;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.create__form-element-group {
	margin: 0 0 $form-element-group-spacing;
}

.create__form-element-tight-group {
	margin: 0 0 $form-element-tight-group-spacing;
}

.create__form-element-end-group {
	margin: 0 0 $form-element-end-group-spacing;
}

.create__form-label {
	width: $form-element-label-width;

	@include bp(screen1) {
		text-align: right;
	}

}

.create__label-advanced {
	width: $form-element-label-width;
}

.create__label-advanced--in-accordion {
	width: ($form-element-label-width - 1.6rem);
}

.create__accordion-section {

	&[open] {

		.create__form-element-group,
		.create__form-element-tight-group,
		.create__form-element-end-group,
                .fieldset-controls__container-small {
			display: flex; // override jquery.details script, which sets all children to display: block by default
		}

		.create__accordion-title {
			margin: 0 (-$accordion-padding) $form-element-group-spacing;
		}

	}

}

.create__button-wrapper {
	display: flex;
	flex-flow: row wrap;

	@include bp(screen1) {
		flex-flow: row nowrap;
	}

}

.create__button {
	margin: $form-element-group-spacing 0 0;

	@include bp(screen2) {
		margin: $form-element-group-spacing 0 0 ($form-element-label-width + 0.5rem);
	}

}

.create__button-note {
	margin: $form-element-group-spacing;
	padding-bottom: 15px;
}

.create__nested-fieldset {
	padding: 40px 0 30px;
	border-top: 1px solid $design-dark-gray-color;
}

.create__nested-legend {
	color: $design-black-color;
	font-size: 1.2em;
	text-transform: uppercase;
}

.create__fcontrol-group {
	padding: 30px 0 0;
}
