// ##### Create ID Layout ##### //

.create {
	// empty
}

.create__tab {
	max-width: 1000px;
	margin: 10px auto 0;

	@include bp(screen2) {
		margin: 30px auto 20px;
	}

}

.create__radio-buttons {
	padding: 0 0 0 2.4em;
}

.create__fieldset {

	@include bp(screen2) {
		margin: 20px 0 0;
	}

}

.create__text-fields {
	margin: 0 0 15px;
}

.create__text-labels {
	width: 12em;
	text-align: right;
}

.create__button {
	margin: 20px 0 0;

	@include bp(screen2) {
		margin: 20px 0 0 13.8em;
	}

}

.create__buttton-note {
	margin: 20px 0 0;
}
