// ##### Customize Table Component ##### //

.customize-table {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto 10px;
	padding: 10px;
	background: $gray-lighter;
    color: $design-black-color;

	@include bp(screen1) {
		flex-flow: row nowrap;
		margin: 0 auto 30px;
		padding: 12px;
	}

}

.customize-table__heading {
	display: inline-block;
	margin: 0 0 10px;
	font-size: 1.4em;
	font-weight: bold;
	vertical-align: baseline;
    color: $design-black-color;

	@include bp(screen1) {
		margin: 0;
	}

}

.customize-table__button-all {
	@extend %button__primary;
	flex: 0 0 auto;
	margin-left: 15px;
}

.customize-table__button-customize {
	@extend %button__primary;
	flex: 0 0 auto;
}
