// ##### Dashboard Layout ##### //

.dashboard {
	// empty
}

.dashboard__report-heading {
	// toDo: Fix spacing of report heading
}

.dashboard__button-go {
        @extend %button__primary;
        flex: 0 0 auto;
        margin-left: 15px;
}

.dashboard__csv-link {
        @extend %link__primary;
	margin-top: 60px;
        font-size: 1.1em;
	white-space: nowrap;

	@include bp(screen1) {
        	margin-left: 25px;
	}
}

%dashboard__indent {
	margin-left: 14px;
}

.dashboard__month-range {
	@extend %dashboard__indent;
	margin-bottom: 20px;
	// toDo: Fix spacing
}

.dashboard__table-identifiers {
	@extend %dashboard__indent;
}

.loading {
  width: 100%;
  height: 100px;
  background: url('/static/images/loading_100x100.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px 60px;
}

