// ##### Diagram Element - Used only on learn page for now ##### //

.diagram__img-wrapper {
	padding: 0 0 10px 20px;
	float: right;
}

.diagram__img {
    width: 100%;
    max-width: 450px;
    height: auto;
	border: 1px solid $design-black-color;

	@include bp(screen2) {
		width: 487px;
	}

}

