// ##### Fieldsets ##### //

// ***** Fieldset Groups ***** //

.fieldset-stacked {
	padding: 0 0 1em;
}

.fieldset-inline,
.fieldset-hidden {
	padding: 1em 0;
}

.fieldset-inline__elements {
	display: inline-block;
}

// ***** Standard Legends ***** //

%fieldset__legend {
	margin: 0 0.5em 1em 0;
	padding: 1em 0 0;
	color: $design-primary-color;
	font-size: 1.3em;
	font-weight: bold;
}

.fieldset-stacked__legend,
.fieldset-inline__legend,
.fieldset__inline-select-text {
	@extend %fieldset__legend;
}

// ***** Numbered Legends ***** //

%fieldset__legend-numbered {
	// extend from the generic legends:
	@extend %fieldset__legend;

	&:before {
		margin: 0 0.5em 0 0;
		padding: 5px 10px;
		background: $design-pop-color;
		color: $design-white-color;
	}

}


@for $i from 1 through 3 { // add numbers to the classes
  .fieldset-stacked__legend-number-#{$i},
	.fieldset-inline__legend-number-#{$i} {
		@extend %fieldset__legend-numbered;

		&:before {
			content: '#{$i}';
		}

	}

}

// ***** Hidden Legends ***** //

.fieldset-hidden__legend {
	@extend %hide;
}

// ***** Fieldset Borders ***** //

.fieldset-stacked + .fieldset-inline,
.fieldset-inline + .fieldset-stacked,
.fieldset-inline + .fieldset-inline,
.fieldset-stacked + .fieldset-stacked,
.fieldset-stacked + .fieldset-hidden,
.fieldset-hidden + .fieldset-stacked,
.fieldset-inline + .fieldset-hidden,
.fieldset-hidden + .fieldset-inline,
.fieldset-hidden + .fieldset-hidden {
// .fieldset-stacked, .fieldset-inline {
	border-top: 1px solid $design-dark-gray-color;
}

.fieldset__inline-select-group {
	display: flex;
	flex-flow: row wrap;
}

.fieldset__inline-select-text {
	margin: 0 0 0 0.5em;
}
