// ##### Fieldsets ##### //

// ***** Spacing Between Legends and Elements ***** //

$fieldset-legend-spacing: 1em;
$subfieldset-label-spacing: 0.3em;

// ***** H2 inside ***** //
.fieldset__heading-2 {
	margin: 0;
	font-size: inherit;
}

// ***** Fieldset Containers ***** //

%fieldset {
	margin: 0 0 1em;
}

.fieldset-stacked,
.fieldset-inline,
.fieldset-hidden,
.fieldset-controls {
	@extend %fieldset;
}

.fieldset-stacked-no-border {
    @extend %fieldset;
    border: none;
    padding: 0;
    display: block;
}

.fieldset-clear {
    @extend %fieldset;
    border: none;
    padding: 0;
    display: block;
    clear: both;
}

.fieldset-inline {

	border: none;
	padding: 0;

	@include bp(screen1) {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

}

// ***** Legends ***** //

%fieldset__legend {
	display: flex;
	align-items: center;
	margin: 0 0.5em 0 0;
	color: $design-primary-color;
	font-size: 1.2em;
	font-weight: bold;

	@include bp(screen2) {
		font-size: 1.4em;
	}

}

%subfieldset__legend {
	display: flex;
	margin: 0 0 0.5em;
	color: $design-primary-color;
	font-size: 1.05em;
	font-weight: bold;

}

.subfieldset__legend {
	@extend %subfieldset__legend;
}

.fieldset-stacked__embedded-select-append-text,
.fieldset-controls__legend {
	@extend %fieldset__legend;
}

.fieldset-stacked__legend {
	@extend %fieldset__legend;
	margin: 0 0 $fieldset-legend-spacing;
}

%fieldset-inline__legend {
	@extend %fieldset__legend;
	margin: 0 0 0.5em;

	@include bp(screen1) {
		margin: 0 1em 0 0;
	}

}

.fieldset-inline__legend {
	@extend %fieldset-inline__legend;
}

.subfieldset-inline__legend {
	@extend %subfieldset__legend;
	margin: 0 0 0.5em;

	@include bp(screen1) {
		margin: 0 1em 0 0;
	}

}

// ***** Numbered Legends ***** //

%fieldset__legend-numbered {
	@extend %fieldset-inline__legend;
    display: inline-flex;
    width: auto;
    max-width: max-content;
    padding: 0;
    vertical-align: middle;

	&::before {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.8em;
		height: 1.8em;
		margin: 0 0.8em 0 0;
		background: $design-pop-color;
		color: $design-white-color;
		font-size: 0.8em;
		font-weight: normal;
	}

}


@for $i from 1 through 5 { // add numbers to the classes
  .fieldset-stacked__legend-number-#{$i},
	.fieldset-inline__legend-number-#{$i} {
		@extend %fieldset__legend-numbered;

		&::before {
			content: '#{$i}';
		}

	}

}

[class^='fieldset-stacked__legend-number'] {
	margin: 0 0 $fieldset-legend-spacing;
}

// ***** Hidden Legends ***** //

.fieldset-hidden__legend {
	@extend %hide;
}

// ***** Fieldset Borders ***** //

.fieldset__top-border {
	padding: $form-element-group-spacing 0 0;
	border-top: 1px solid $design-dark-gray-color;
}

.fieldset__bottom-border {
	margin: 0 0 $form-element-group-spacing;
	border-bottom: 1px solid $design-dark-gray-color;
}

// ***** Stacked Fieldset with Inline Select ***** //

.fieldset-stacked__embedded-select {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 $fieldset-legend-spacing;
}

.fieldset-stacked__embedded-select-append-text {
	margin: 0 0 0 5px;
}

// ***** Stacked Fieldset with Embedded Buttons ***** //

.fieldset-controls__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 $fieldset-legend-spacing;
}

.fieldset-controls__buttons {
	display: flex;
	justify-content: space-between;
	width: 80px;
}

// ***** Subfieldsets ***** //
.subfieldset__container .fcontrol__text-label-inline {
	margin: 0 0 0 $subfieldset-label-spacing;
}

.subfieldset-inline__container .fcontrol__text-label-inline,
.subfieldset-inline__container .fcontrol__textarea-label-inline {
	@extend %subfieldset__legend;
}

// ***** Inline Text Input with Embedded Buttons ***** //
.fieldset-controls__container-small {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
}

.fieldset-controls__buttons-small {
	display: flex;
	justify-content: space-between;
	width: 46px;

	@include bp(screen2) {
		margin-bottom: 4px;
	}
}

%span-styles {
  display: inline;
  font-size: inherit;
  color: inherit;
  // Add any other span-specific styles here
}

// Apply these styles to legend-inline
.legend-inline {
  @extend %span-styles;
}

.legend-clear {
  display: block;
  clear: both;
}
