// ##### Fieldsets ##### //

// ***** Spacing Between Legends and Elements ***** //

$fieldset-legend-spacing: 1em;

// ***** Fieldset Containers ***** //

%fieldset {
	margin: 0 0 1em;
}

.fieldset-stacked,
.fieldset-inline,
.fieldset-hidden,
.fieldset-controls {
	@extend %fieldset;
}

.fieldset-inline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

// ***** Unnumbered Legends ***** //

%fieldset__legend {
	display: flex;
	align-items: center;
	margin: 0 0.5em 0 0;
	color: $design-primary-color;
	font-size: 1.2em;
	font-weight: bold;

	@include bp(screen2) {
		font-size: 1.4em;
	}

}

.fieldset-stacked__legend,
.fieldset-inline__legend,
.fieldset-stacked__embedded-select-append-text,
.fieldset-controls__legend {
	@extend %fieldset__legend;
}

.fieldset-stacked__legend {
	margin: 0 0 $fieldset-legend-spacing;
}

// ***** Numbered Legends ***** //

%fieldset__legend-numbered {

	// extend from the unnumbered legends:
	@extend %fieldset__legend;

	&:before {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.8em;
		height: 1.8em;
		margin: 0 0.8em 0 0;
		background: $design-pop-color;
		color: $design-white-color;
		font-size: 0.8em;
		font-weight: normal;
	}

}


@for $i from 1 through 4 { // add numbers to the classes
  .fieldset-stacked__legend-number-#{$i},
	.fieldset-inline__legend-number-#{$i} {
		@extend %fieldset__legend-numbered;

		&:before {
			content: '#{$i}';
		}

	}

}

[class^='fieldset-stacked__legend-number'] {
	margin: 0 0 $fieldset-legend-spacing;
}

// ***** Hidden Legends ***** //

.fieldset-hidden__legend {
	@extend %hide;
}

// ***** Fieldset Borders ***** //

.fieldset__top-border {
	padding: 1em 0 0;
	border-top: 1px solid $design-dark-gray-color;
}

// ***** Stacked Fieldset with Inline Select ***** //

.fieldset-stacked__embedded-select {
	display: flex;
	flex-flow: row wrap;
	margin: 0 0 $fieldset-legend-spacing;
}

.fieldset-stacked__embedded-select-append-text {
	margin: 0 0 0 5px;
}

// ***** Stacked Fieldset with Embedded Buttons ***** //

.fieldset-controls__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 $fieldset-legend-spacing;
}

.fieldset-controls__buttons {
	display: flex;
	justify-content: space-between;
	width: 80px;
}
