// ##### Fonts ##### //

@font-face {
    font-family: 'KievitWeb';
    src: url('../fonts/KievitWeb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/KievitWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/KievitWeb.woff') format('woff'); /* Modern Browsers */
  }