// ##### Footer Component ##### //

.footer p {
	margin: 0;

	& + p {
		margin: 20px 0;
	}

}

.footer__lang {
	padding: $layout-box-padding;
	background-color: $design-secondary-footer-iconBG;
}

.footer__lang-label {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}

.footer__news {
	padding: $layout-box-padding;
	background-color: $design-secondary-footer-newsfeed;
}

.footer__icons {
	padding: $layout-box-padding;
	background-color: $design-secondary-footer-iconBG;
}

.footer__icon-link {
	
}

.footer__icon {
	width: 30px;
}

.footer__brand {
	display: flex;
	padding: $layout-box-padding;
	background-color: $design-secondary-footer-newsfeed;
}

.footer__logo {
	// remove these two properties after recropping whitespace from image:
	position: relative;
	margin: -50px 0 0 0;
	
	width: 100px;
}

.footer__copyright {
	
}
