// ##### Form Controls ##### //

%fcontrol-focus:focus { // streamlining Bootstrap's form focus styles:
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-color: $design-primary-color;
  outline: 0;
  box-shadow: 0 0 8px rgba($design-primary-color, 0.6);
}

// ***** Stacked Labels ***** //

%fcontrol__group-stacked {
	display: flex;
	flex: 1 1 auto; // for when parent containers of this component use flex
	flex-flow: column nowrap;
}

.fcontrol__group-stacked {
	@extend %fcontrol__group-stacked;
}

.fcontrol__text-label-stacked {
	margin: 0 0 2px;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__text-field-stacked {
	@extend %fcontrol-focus;
	height: $form-element-height;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border: 1px solid $design-light-gray-border-color;
	border-radius: $form-element-border-radius;
}

// ***** Inline Labels ***** //

%fcontrol__group-inline {
	display: flex;
	flex: 1 0 auto; // for when parent containers of this component use flex
	flex-flow: column wrap;

	@include bp(screen1) {
		flex-flow: row wrap;
	}

}

.fcontrol__group-inline {
	@extend %fcontrol__group-inline;
}

.fcontrol__text-label-inline {
	margin: 0 5px 0 0;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__text-nofield {
	//
}

%fcontrol__text-field-inline-base {
	@extend %fcontrol-focus;
	flex: 1 0 auto;
	height: $form-element-height;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border-radius: $form-element-border-radius;
}

.fcontrol__text-field-inline {
	@extend %fcontrol__text-field-inline-base;
	border: 1px solid $design-light-gray-border-color;
}

.fcontrol__text-field-group {
	display: flex;
	flex: 1 0 auto;
}

.fcontrol__text-field-inline-squish {
	@extend %fcontrol__text-field-inline-base;
	border: 1px solid $design-light-gray-border-color;

	@include bp(screen2) {
		max-width: 154px;
	}

	@include bp(screen3) {
		max-width: 100%;
		max-width: none;
	}
}

.fcontrol__caption {
	margin: 12px 0 0;
}

.fcontrol__caption-tight {
	margin: 0;
}

.fcontrol__textarea-caption {
	flex: 1 0 auto;
	margin: 12px 0 0;
}

// ***** Text Areas ***** //

.fcontrol__textarea-label-stacked {
	margin: 0 0 2px;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__textarea-stacked {
	@extend %fcontrol-focus;
	height: 5em;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border: 1px solid $design-light-gray-border-color;
	border-radius: $form-element-border-radius;
}

.fcontrol__textarea-label-inline {
	margin: 0 5px 0 0;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

%fcontrol__textarea-inline-base {
	@extend %fcontrol-focus;
	height: 5em;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border-radius: $form-element-border-radius;
}

.fcontrol__textarea-inline {
	@extend %fcontrol__textarea-inline-base;
	border: 1px solid $design-light-gray-border-color;
}

.fcontrol__textarea-inline-noborder {
	@extend %fcontrol__textarea-inline-base;
	// flex: 1 0 auto;
	// width: 250px;
	height: 30px;
	border: none;
	resize: none;
}

// ***** Hidden Labels ***** //

.fcontrol__text-label-hidden {
	@extend %hide;
}

// ***** Drop-down Lists ***** //

.fcontrol__group {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row wrap;
}

.fcontrol__select-group-stacked {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

%fcontrol__select-group-inline {
	display: flex;
	flex-flow: column wrap;

	@include bp(screen1) {
		flex-flow: row wrap;
		align-items: center;
	}

}

.fcontrol__select-group-inline {
	@extend %fcontrol__select-group-inline;
}

%fcontrol__select-label {
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__select-label-stacked {
	@extend %fcontrol__select-label;
	margin: 0 0 2px;
}

.fcontrol__select-label-inline {
	@extend %fcontrol__select-label;
	align-self: flex-start;
	margin: 0 5px 0 0;
}

.fcontrol__select-label-hidden {
	@extend %hide;
}

%fcontrol__select {
	@extend %fcontrol-focus;
	height: $form-element-height;
	padding: 0 35px 0 0.5em;
	border: 1px solid $design-light-gray-border-color;
	border-radius: $form-element-border-radius;
	background: url('../images/icon_down-arrow2.svg') right 10px center / 12px no-repeat, $design-form-element-bg;
	appearance: none; // removes default down arrow for Chrome and FF 35 and higher

	option,
	optgroup {
		margin: 0.3em 0;
	}

	&::-ms-expand { // removes default down arrow for IE 10 and higher
  	display: none;
  }

}

.fcontrol__select {
	@extend %fcontrol__select;
}

.select__autowidth {
	width: 100%;
	max-width: 99%;
}

.select__heirarchical {
	// Not implemented. Testing with fixed font.
	@include bp(screen2) {
		font-family: "Courier New", Courier, monospace;
		font-size: 0.8em;
	}
}

.fcontrol__select--fullwidth {
	@extend %fcontrol__select;
	flex: 1 0 auto;
	align-self: stretch;
}

// ***** Radio Buttons ***** //

// Inspired from http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/

// Wrap radio button using label:
%fcontrol__radio-label {
  color: $design-primary-color;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

// Stacked version:
.fcontrol__radio-label-stacked {
  @extend %fcontrol__radio-label;
  display: block;
  margin: 0.5em 0;
}

// Inline version:
.fcontrol__radio-label-inline {
  @extend %fcontrol__radio-label;
  display: inline-block;
  margin: 0 0.8em 0 0;
}

// Hide the actual radio button:
.fcontrol__radio-button-stacked {
  @extend %hide;

	// Pseudo form label:
  + span {
  	display: block;

		// Pseudo button styling:
  	&::before {
  		display: inline-block;
		  width: 1em;
		  height: 1em;
		  margin-right: 0.4em;
		  transition: 0.25s ease all;
		  border: 0.125em solid $design-dark-gray-color;
		  border-radius: 1em;
		  background: $design-white-color;
		  content: '';
		  vertical-align: -0.15em;
  	}

  }

}

// Checked style:
.fcontrol__radio-button-stacked:checked + span::before {
  background: $design-dark-gray-color;
}

// Focus style:
.fcontrol__radio-button-stacked:focus + span::before {
  border-color: $design-primary-color;
}

.fcontrol__radio-button-inline {
	font-size: 1em;
}



// ***** Checkbox ***** //

.fcontrol__checkbox-label-inline {
	@extend %fcontrol__select-label;
	margin: 0 5px 0 0;
}

.fcontrol__checkbox-inline {
	transform: scale(1.5);
}


// ***** Required Styles ***** //

.fcontrol__label-required {
	&::after {
		color: $design-red-color;
		font-weight: normal;
		content: ' (Required)';
	}

}

// ***** Help Text ***** //

.fcontrol__help {
	width: 90%;
	padding: 0.9em 1.2em 0;
	color: $input-color-placeholder;
	font-weight: normal;

}

.fcontrol__help-wrapper {
	max-width: 1000px;
	margin: 0 auto 15px;

}

// ***** Error Styles ***** //

.fcontrol__invalid-flag {
	display: none;
	flex: 1 0 auto;
	padding: 0.3em 0.5em;
	border: 1px solid $design-red-color;
	background: $design-red-color;
	color: $design-white-color;

	@include bp(screen2) {
		flex: 0 1 auto;
	}

}

.fcontrol__textarea-group {
	// Implementation occurs in group-.*.--invalid section below
}

.fcontrol__group-stacked--invalid {
	@extend %fcontrol__group-stacked;

	.fcontrol__text-field-stacked {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius $form-element-border-radius 0 0;
	}

	.fcontrol__textarea-group {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius;

		.fcontrol__textarea-stacked {
			border: none;
		}

	}

	.fcontrol__invalid-flag {
		display: block;
		border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
	}

}

// scss-lint:disable DeclarationOrder
.fcontrol__group-inline--invalid {
	@extend %fcontrol__group-inline;

	.fcontrol__text-label-inline {
		align-self: flex-start;
	}

	.fcontrol__text-field-inline {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius $form-element-border-radius 0 0;
	}

	.fcontrol__text-field-group {
		flex-flow: column wrap;
	}

	.fcontrol__textarea-group {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius;

		.fcontrol__textarea-inline {
			border: none;
		}

		.fcontrol__invalid-flag {
			border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
		}

	}

	.fcontrol__invalid-flag {
		display: block;
		border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
	}

	@include bp(screen1) {

		.fcontrol__text-field-inline {
			border-radius: $form-element-border-radius 0 0 $form-element-border-radius;
		}

		.fcontrol__invalid-flag {
			display: block;
			border-radius: 0 $form-element-border-radius $form-element-border-radius 0;
		}

	}

}

.fcontrol__select-group-inline--invalid {
	@extend %fcontrol__select-group-inline;

	.fcontrol__select {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius $form-element-border-radius 0 0;
	}

	.fcontrol__group {
		border: 1px solid $design-red-color;
		border-radius: $form-element-border-radius;
	}

	.fcontrol__invalid-flag {
		display: block;
		border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
	}
}

// Place inline groups inline and add margin in-between

// scss-lint:disable DeclarationOrder
.fcontrol__inline-groups {

	.fcontrol__group-inline:not(:first-child) {
			margin: 15px 0 0;
		}

	@include bp(screen1) {

		.fcontrol__text-label-inline {
			width: 3em;
			text-align: right;
		}

	}

	@include bp(screen2) {
		display: flex;

		.fcontrol__group-inline:not(:first-child) {
			margin: 0 0 0 1em;
		}

		.fcontrol__text-label-inline {
			width: auto;
			text-align: left;
		}

	}

}

::-webkit-input-placeholder {
   color: $input-color-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   color: $input-color-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $input-color-placeholder;
}

:-ms-input-placeholder {
   color: $input-color-placeholder;
}
