// ##### Form Controls ##### //

%fcontrol-focus:focus { // streamlining Bootstrap's form focus styles:
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border-color: $design-primary-color;
  outline: 0;
  box-shadow: 0 0 8px rgba($design-primary-color, 0.6);
}

// ***** Stacked Labels ***** //

%fcontrol__group-stacked {
	display: flex;
	flex: 1 0 auto; // for when parent containers of this component use flex
	flex-flow: column nowrap;
}

.fcontrol__group-stacked {
	@extend %fcontrol__group-stacked;
}

.fcontrol__text-label-stacked {
	margin: 0 0 2px;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__text-field-stacked {
	@extend %fcontrol-focus;
	height: $form-element-height;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border: 1px solid $design-light-gray-border-color;
}

// ***** Inline Labels ***** //

%fcontrol__group-inline {
	display: flex;
	flex: 1 0 auto; // for when parent containers of this component use flex
	flex-flow: row nowrap;
}

.fcontrol__group-inline {
	@extend %fcontrol__group-inline;
}

.fcontrol__text-label-inline {
	align-self: center;
	margin: 0 5px 0 0;
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__text-field-inline {
	@extend %fcontrol-focus;
	flex: 1 0 auto;
	margin: 0; // normalize across browsers
	padding: 0.3em 0.5em;
	border: 1px solid $design-light-gray-border-color;
}

// ***** Hidden Labels ***** //

.fcontrol__text-label-hidden {
	@extend %hide;
}

// ***** Drop-down List Stacked ***** //

.fcontrol__select-group-stacked {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}

.fcontrol__select-group-inline {
	display: flex;
	align-items: center;
}

%fcontrol__select-label {
	color: $design-primary-color;
	font-size: 1em;

	@include bp(screen2) {
		font-size: 1.1em;
	}

}

.fcontrol__select-label-stacked {
	@extend %fcontrol__select-label;
	margin: 0 0 2px;
}

.fcontrol__select-label-inline {
	@extend %fcontrol__select-label;
	margin: 0 5px 0 0;
}

.fcontrol__select-label-hidden {
	@extend %hide;
}

%fcontrol__select {
	@extend %fcontrol-focus;
	padding: 0 0.3em;
	border: 1px solid $design-light-gray-border-color;
	background: $design-form-element-bg;

	option {
		padding: 0.3em 0.5em;
		background: lighten($design-dark-gray-color, 40%);
	}

}

.fcontrol__select {
	@extend %fcontrol__select;
}

.fcontrol__select--fullwidth {
	@extend %fcontrol__select;
	flex: 1 0 auto;
	align-self: stretch;
}

// ***** Radio Buttons ***** //

// Inspired from http://www.sitepoint.com/replacing-radio-buttons-without-replacing-radio-buttons/

// Wrap radio button using label:
%fcontrol__radio-label {
  color: $design-primary-color;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

// Stacked version:
.fcontrol__radio-label-stacked {
  @extend %fcontrol__radio-label;
  display: block;
  margin: 0.5em 0;
}

// Inline version:
.fcontrol__radio-label-inline {
  @extend %fcontrol__radio-label;
  display: inline-block;
  margin: 0 0.8em 0 0;
}

// Hide the actual radio button:
.fcontrol__radio-button-stacked {
  @extend %hide;

	// Pseudo form label:
  + span {
  	display: block;

		// Pseudo button styling:
  	&:before {
  		display: inline-block;
		  width: 1em;
		  height: 1em;
		  margin-right: 0.4em;
		  transition: 0.25s ease all;
		  border: 0.125em solid $design-dark-gray-color;
		  border-radius: 1em;
		  background: $design-white-color;
		  content: '';
		  vertical-align: -0.15em;
  	}

  }

}

// Checked style:
.fcontrol__radio-button-stacked:checked + span:before {
  background: $design-dark-gray-color;
}

// Focus style:
.fcontrol__radio-button-stacked:focus + span:before {
  border-color: $design-primary-color;
}

.fcontrol__radio-button-inline {
	font-size: 1em;
}

// ***** Required Styles ***** //

.fcontrol__label-required {
	&:after {
		color: $design-red-color;
		content: ' (Required)';
	}

}

// ***** Error Styles ***** //

.fcontrol__invalid-flag {
	display: none;
	padding: 0.3em 0.5em;
	border: 1px solid $design-red-color;
	background: $design-red-color;
	color: $design-white-color;
}

.fcontrol__group-stacked--invalid {
	@extend %fcontrol__group-stacked;

	[class^='fcontrol__text-field'] {
		border: 1px solid $design-red-color;
	}

	.fcontrol__invalid-flag {
		display: block;
	}

}

.fcontrol__group-inline--invalid {
	@extend %fcontrol__group-inline;

	[class^='fcontrol__text-field'] {
		border: 1px solid $design-red-color;
	}

	.fcontrol__invalid-flag {
		display: block;
	}

}

// Place inline groups inline and add margin in-between

// scss-lint:disable DeclarationOrder
.fcontrol__inline-groups {

	.fcontrol__group-inline:not(:first-child) {
			margin: 15px 0 0;
		}

	.fcontrol__text-label-inline {
		width: 3em;
		text-align: right;
	}

	@include bp(screen2) {
		display: flex;

		.fcontrol__group-inline:not(:first-child) {
			margin: 0 0 0 1em;
		}

		.fcontrol__text-label-inline {
			width: auto;
			text-align: left;
		}

	}

}
