// ##### Header Component ##### //

.header {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 370px;
}

.header__nav {
	display: flex;
	align-items: flex-end; // align login button to bottom of other nav text
	justify-content: space-between;
	width: 400px;
}

%header__nav-element {
	display: flex;
	align-items: flex-end;
	height: 50px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 23px 23px;
	color: $design-primary-color;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		color: $design-secondary-color;
	}

}

.header__search {
	@extend %header__nav-element;
	background-image: url('../images/searchOff.svg');

	&:hover {
		background-image: url('../images/searchOn.svg');
	}

}

.header__learn {
	@extend %header__nav-element;
	background-image: url('../images/learnOff.svg');

	&:hover {
		background-image: url('../images/learnOn.svg');
	}

}

.header__learn-menu {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__contact {
	@extend %header__nav-element;
	background-image: url('../images/contactOff.svg');

	&:hover {
		background-image: url('../images/contactOn.svg');
	}

}

.header__loginout {
	display: flex;
	align-items: center; // vertical text centering
	height: 40px;
	margin: 0 0 0.2em; // align button bottom with nav text
	padding: 0 20px; // horizontal text centering
	background: linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
	color: $design-white-color;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
