// ##### Header Component ##### //

$header-top-margin: 20px 0 0;

.header {
	display: flex;
	position: relative; // to .header__mobile-menu
	flex-flow: row wrap;
	justify-content: space-between;
}

.header__logos {
	display: flex;
	margin: $header-top-margin;
}

.header__main-logo-link {
	// empty
}

.header__main-logo-image {
	height: 7vw;

	@include bp(screen1) {
		height: 45px;
	}

}

.header__affiliate-logo-link {
	margin: 0 0 0 20px;
}

.header__affiliate-logo-image {
	height: 7vw;

	@include bp(screen1) {
		height: 45px;
	}

}

.header__nav-button {
	position: absolute;
	top: 4vw;
	right: 0;
	padding: 6px;
	border: 1px solid $design-light-gray-border-color;
	background: transparent;

	@include bp(screen1) {
		display: none;
	}

}

.header__nav-button-icon {
	width: 25px;
}

%header__nav {
	width: 100%;
	height: 0; // hide small screen nav
	margin: $header-top-margin;
	overflow: hidden; // hide small screen nav

	@include bp(screen1) {
    display: flex;
		justify-content: space-between;
		width: 400px;
		height: auto; // show large screen nav
		padding: 0 0 0 20px;
		overflow: visible; // show large screen nav
  }

}

.header__nav {
	@extend %header__nav;
}

.header__nav--selected {
	@extend %header__nav;
	height: auto; // show small screen nav

	@include bp(screen1) {
		display: flex;
	}

}

%header__nav-element {
	display: flex;
	padding: 15px 0 15px 45px;
	border: 1px solid $design-light-gray-border-color;
	background-color: $design-light-gray-bg-color;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 23px 23px;
	color: $design-primary-color;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	@include bp(screen1) {
		align-items: flex-end;
		height: 50px;
		margin: 0;
		padding: 0 0 10px;
		border: none;
		background-color: transparent;
		background-position: top center;
		cursor: pointer;

		&:hover {
			color: $design-secondary-color;
		}

	}

	&:last-of-type {
		margin: -1px 0; // collapse borders on 2nd menu element

		@include bp(screen1) {
			margin: 0;
		}

	}

}

.header__search-link {
	@extend %header__nav-element;
	background-image: url('../images/searchOff.svg');

	&:hover {
		background-image: url('../images/searchOn.svg');
	}

}

.header__learn {
	@include bp(screen1) {
		position: relative; // for .header__learn-subnav

		&:hover {
			.header__learn-subnav { // show menu on hover
				display: block;
			}

		}

	}

}

.header__learn-link {
	@extend %header__nav-element;
	background-image: url('../images/learnOff.svg');

	&:hover {
		background-image: url('../images/learnOn.svg');
	}

}

.header__learn-subnav {
	display: none; // hide menu until hover on .header__learn
	position: absolute;
	top: 60px;
	left: 0;
	min-width: 170px;
	margin: 0;
	padding: 0;
	border: 1px solid $design-light-gray-border-color;
	list-style: none;
	box-shadow: 0 6px 12px rgba($design-light-gray-border-color, 0.5);

	li:nth-of-type(6) a {
		border-bottom: 1px dotted $design-black-color;
	}

	a {
		display: block;
		padding: 0.7em 1em;
		color: $design-black-color;
		font-size: 1.1em;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;

		&:hover {
			background: linear-gradient(to bottom, $design-secondary-gradient-top, $design-secondary-color);
			color: $design-white-color;
			font-weight: bold;
		}

	}

}

.header__contact-link {
	@extend %header__nav-element;

	background-image: url('../images/contactOff.svg');

	&:hover {
		background-image: url('../images/contactOn.svg');
	}

}

.header__loginout-link {
	display: none;

	@include bp(screen1) {
		display: flex;
		align-items: center; // vertical text centering
		align-self: flex-end; // align login button to bottom of other nav text
		height: 40px;
		margin: 0 0 14px; // align button bottom with nav text
		padding: 0 20px; // horizontal text centering
		background: linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
		color: $design-white-color;
		font-size: 0.9em;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: $design-black-color;
		}

	}

}
