// ##### Home Page Banner Component ##### //

.home-banner {
	height: 64vw;
	margin: 0 -10px;
	background-color: $design-primary-color;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100%;
	// background-image exsists as a style inline with the HTML

	@include bp(screen1) {
		height: 300px;
		background-position: top;
		background-size: cover;
	}

}

.home-banner__lead {
	box-sizing: content-box;
	width: 71vw;
	margin: 0 auto;
	padding: 3vw 0 0;
	text-align: center;

	@include bp(screen1) {
		width: 430px;
		margin: 0;
		padding: 80px 0 0 10px;
		text-align: left;
	}

	@include bp(screen2) {
		padding: 80px 0 0 100px;
	}

}

.home-banner__lead-text {
	margin: 0;
	color: $design-white-color;
	font-size: 5vw;
	font-weight: bold;

	@include bp(screen1) {
		font-size: 2em;
	}

}

.home-banner__lead-button {
	@extend %button__pop;
	height: auto; // use padding below to center button text
	margin: 2vw 0 0;
	padding: 1.5vw 5vw 1.5vw 2vw; // make room for background arrow icon
	background: url('../images/icon_double-arrow.svg') no-repeat, linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
	background-position: right 10px center; // apply modernizr fallback here
	background-size: 0.8em;
	font-size: 2vw;

	@include bp(screen1) {
		margin: 1em 0 0;
		padding: 0.7em 2.5em 0.7em 1.3em;
		font-size: 0.9em;
	}

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}
