// ##### Home Layout ##### //

.home {
	// empty
}

// Copy of EZID styles:
.home__identifier-box {
	background-color: #F9F8F7;
	padding: 38px 50px 5px 54px;
	box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.24);
}
