// ##### Home Page Banner Component ##### //

.home-banner {
	height: 300px;
	background: url('/images/homeHero_01.jpg') no-repeat;
	background-size: cover;
}

.home-banner__lead {
	width: 500px;

	@include bp(screen1) {
		padding: 100px 0 0 100px;
	}

}

.home-banner__lead-text {
	margin: 0;
	color: $design-white-color;
	font-size: 2em;
	font-weight: bold;

	@include bp(screen1) {
		// empty
	}

}

.home-banner__lead-button {
	@extend %button__pop;
	margin: 1em 0 0;
	padding: 0.7em 28px 0.7em 1.3em; // make room for background arrow icon
	background: url('/images/icon_double-arrow.svg') no-repeat, linear-gradient(to bottom, $design-pop-gradient-top, $design-pop-gradient-bottom);
	background-position: right 10px center; // apply modernizr fallback here
	background-size: 0.8em;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

}
