// ##### Home Layout ##### //

.home {
	// empty
}

.home__identifier-container {
	display: flex;
	flex-flow: column nowrap;

	@include bp(screen2) {
		flex-flow: row nowrap;
		max-width: 1000px;
		margin: 0 auto;
	}

}

.home__identifier-lead-box {
	margin: 20px 0 0;

	@include bp(screen2) {
		width: 120px;
		margin: 30px 0 0;
	}

}

.home__identifier-lead-heading {
	margin: 0;
	color: $design-primary-color;
	font-size: 2em;
	line-height: 1;
	text-transform: uppercase;

	@include bp(screen2) {
		font-size: 2.7em;
	}

}

.home__identifier-lead-note {
	// empty
}

.home__identifier-form {
	margin: 10px 5px;
	padding: 15px 15px 0;
	background-color: $design-light-gray-bg-color;
	box-shadow: 0 0 14px 1px rgba($design-black-color, 0.24);

	@include bp(screen2) {
		width: 100%;
		margin: 30px 15px;
		padding: 30px 50px 0;
		// background-image: url('../images/arrow.png');  // no longer desired
		background-repeat: no-repeat;
		background-position: top 27px left -8px;
	}

}

.home__radio-labels {
	font-size: 1.2em;
}

.home__text-field {
	padding: 0 0 15px;

	@include bp(screen2) {

		&:nth-child(even) {
			padding: 0 0 15px 15px;
		}

  }

}

.home__create-button {

	@include bp(screen2) {
		padding: 0 0 0 15px;
	}

}

.home__button-primary {
	@extend %button__primary;
}
