/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Identifier Boxes Component ##### //

.identifier-boxes {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  margin-bottom: 1.5rem;
}
