// ##### Link Elements ##### //

%link__base {
	position: relative;
	line-height: 1.2;
	text-decoration: none;

	&:hover {
		text-decoration: none; // bootstrap override
	}

	&[href$='.pdf']::after {
		display: inline-block;
		position: relative;
		top: 5px;
		right: 4px;
		left: 4px;
		margin-right: 4px;
		content: url('../images/pdf-icon_18x18.png');
	}

}

%link__primary {
	@extend %link__base;
	border-bottom: 1px solid $design-light-gray-border-color;
	color: $design-primary-color;

	&:hover {
		border-bottom: 1px solid $design-primary-color;
		color: $design-primary-color;
	}

}

.link__primary {
	@extend %link__primary;
}

%link__over-beige {
	@extend %link__base;
	border-bottom: 1px solid $design-light-gray-border-color;
	background: $design-secondary-lightest;
	color: $text-link-over-beige;

	&:hover {
		border-bottom: 1px solid $text-link-over-beige;
		color: $text-link-over-beige;
	}

}

.link__over-beige {
	@extend %link__over-beige;
}

%link__pop {
	@extend %link__base;
	color: $design-pop-color;

	&:hover {
		border-bottom: 1px solid $design-pop-color;
		color: $design-pop-color;
	}

}

.link__pop {
	@extend %link__pop;
}

.download__link {
	@extend %link__primary;
	font-size: 1.1em;
	font-weight: bold;
}

// Courtesy https://teamtreehouse.com/community/how-do-you-make-a-svg-clickable
.object__clickable {
	display: inline-block;
	position: relative;
}

.object__clickable:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
}
