// ##### Link Elements ##### //

%link__primary {
	position: relative;
	border-bottom: 1px solid $design-light-gray-border-color;
	color: $design-primary-color;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $design-primary-color;
		color: $design-primary-color;
		text-decoration: none; // bootstrap override
	}

	&[href$='.pdf']:after {
		position: absolute;
		right: -25px;
		width: 15px;
		height: 15px;
		content: url('../images/pdf-icon_18x18.png');
	}

}

.link__primary {
	@extend %link__primary;
}

%link__over-beige {
	border-bottom: 1px solid $design-light-gray-border-color;
	color: $text-link-over-beige;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $text-link-over-beige;
		color: $text-link-over-beige;
		text-decoration: none; // bootstrap override
	}

}

.link__over-beige {
	@extend %link__over-beige;
	background: $design-secondary-lightest;
}

%link__pop {
	color: $design-pop-color;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $design-pop-color;
		color: $design-pop-color;
		text-decoration: none; // bootstrap override
	}

}

.link__pop {
	@extend %link__pop;
}
