// ##### Login Menu Component ##### //
.login-menu__container {
	margin: 0 -10px;
	background: linear-gradient(to bottom, $design-secondary-gradient-top, $design-secondary-color);
}

.login-menu {
	display: flex;
	flex-flow: column nowrap;

	@include bp(screen1) {
		flex-flow: row nowrap;
		justify-content: space-around;
		max-width: 1235px;
		margin: 0 auto 30px;
		padding: 15px;
	}

}

%login-menu__link {
	display: flex;
	flex: 1 0 auto;
	padding: 15px 10px;
	color: $design-black-color;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	word-spacing: 0.3em;

	@include bp(screen1) {
		position: relative;
		justify-content: center;
		padding: 5px 0;

		&:not(:first-child) {
			border-left: 1px solid $design-black-color;
		}

	}

	&:not(:first-child) {
		border-top: 1px solid $design-black-color;

		@include bp(screen1) {
			border-top: none;
		}

	}

	&:hover,
	&:focus {
		color: $text-link-over-beige;
	}

}

.login-menu__link {
	@extend %login-menu__link;
}

.login-menu__link--selected {
	@extend %login-menu__link;
	color: $text-link-over-beige;

	&::before {
		@include bp(screen1) {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			height: 63px;
			background-image: url('../images/icon_triangle.svg');
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: 25px;
			content: '';
		}

	}

}
