// ##### Pagination Component ##### //

$pagination-element-height: 20px;

.pagination {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}

.pagination__input-group {
	margin: 0 0 10px;
}

%pagination__first-last-buttons {
	position: relative;
	top: -0.3em;
	padding: 0.6em;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.9em;
}

.pagination__first {
	@extend %pagination__first-last-buttons;
	background-image: url('../images/icon_double-arrow-first.svg');
}

.pagination__last {
	@extend %pagination__first-last-buttons;
	background-image: url('../images/icon_double-arrow-first.svg');
    transform: rotate(180deg);
}

.pagination__prev,
.pagination__next {
	border: none;
	background-color: transparent;
	color: $design-primary-color;
}

.pagination__label {
	font-weight: normal;
}

.pagination__input {
	width: 3em; // based on the max number of characters expected
	height: $pagination-element-height;
	padding: 0 0.2em;
	border: 1px solid $design-light-gray-border-color;
	border-radius: $form-element-border-radius;
}

.pagination__select-group {
	margin: 0 10px 10px 0;
}

.pagination__select {
	height: $pagination-element-height;
	padding: 0 20px 0 0.2em;
	border: 1px solid $design-light-gray-border-color;
	border-radius: $form-element-border-radius;
	background: url('../images/icon_down-arrow2.svg') right 6px center / 10px no-repeat, $design-form-element-bg;
	appearance: none; // removes default down arrow for Chrome and FF 35 and higher

	&::-ms-expand { // removes default down arrow for IE 10 and higher
  	display: none;
  }

}
