// ##### Pagination Component ##### //

.pagination {
	flex: 0 0 auto;
}

.pagination__prev {

	&:before {
		display: inline-block;
		margin: 0 0.25em 0 0;
		content: '\007c  \00ab'; // '| <<'
	}

}

.pagination__label {
	font-weight: normal;
}

.pagination__input {
	width: 3em; // based on the max number of characters
}

.pagination__next {

	&:after {
		display: inline-block;
		margin: 0 0 0 0.25em;
		content: '\00bb  \007c'; // '>> |'
	}

}
