// ##### Pagination Component ##### //

.pagination {
	flex: 0 0 auto;
}

.pagination__min {
	margin: 0 0.5em 0 0;
}

.pagination__prev {
	// empty
}

.pagination__label {
	font-weight: normal;
}

.pagination__input {
	width: 3em; // based on the max number of characters
}

.pagination__next {
	// empty
}

.pagination__max {
	margin: 0 0 0 0.5em;
}
