// ##### Pagination Component ##### //

.pagination {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}

.pagination__prev-next-group {
	margin: 0 20px 20px 0;
}

.pagination__select-group {
	margin: 0 0 20px;
}

.pagination__select {
	border: 1px solid $design-light-gray-border-color;
	background: $design-form-element-bg;
}

%pagination__prev-next-base {
	display: inline-block;
	position: relative;
	top: 0.2em;
	width: 1em;
	height: 1em;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.9em;
}

.pagination__first {
	@extend %pagination__prev-next-base;
	margin: 0 0.5em 0 0;
	background-image: url('../images/icon_double-arrow-first.svg');
}

.pagination__prev {
	// empty
}

.pagination__label {
	font-weight: normal;
}

.pagination__input {
	width: 3em; // based on the max number of characters expected
}

.pagination__next {
	// empty
}

.pagination__last {
	@extend %pagination__prev-next-base;
	margin: 0 0 0 0.5em;
	background-image: url('../images/icon_double-arrow-last.svg');
}
