// ##### Link Elements ##### //

.literal-block {
	display: block;
	margin: 1em 0;
	padding: 0.5em;
	border: 1px dotted $gray-light;
	background-color: $gray-lighter;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: visible;
}
