// ##### Proxy User Selector Modal Component ##### //

.proxy-dialog {
	position: relative;
	width: auto;
	margin: 30px auto;

	@include bp(screen1) {
		width: 700px;
	}
}

.proxy-modal__header {
	display: flex;
	justify-content: space-between;
	padding: 0 5px 0 15px;

	.close {
		margin: 8px;
	}
}


.proxy-modal__title {
	margin: 20px 0 10px;
	color: $design-primary-color;
	font-size: 1.3em;
}

