// ##### Search Results Layout ##### //

.search-results__simple {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	max-width: 1000px;
	margin: 10px auto;

	@include bp(screen2) {
		flex-flow: row nowrap;
		margin: $search-layout-element-spacing auto;
	}

}

.search-results__simple-query {
	display: none;

	@include bp(screen2) {
		display: block;
		margin: 10px 0 0;
	}
}

.search-results__simple-button-group {
	display: flex;
	align-self: flex-start;
	margin: 10px 0 0;

	@include bp(screen2) {
		margin: 0 0 0 15px;
	}

}

.search-results__simple-button {
	@extend %button__primary;

	&:last-child {
		margin: 0 0 0 10px;
	}

}


.search-results__pagination {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}

.search-results__pagination-label {
	color: $design-black-color;
	font-size: 1em;
	font-weight: normal;
}

.search-results__select-label {
	color: $design-black-color;
	font-size: inherit;
	font-weight: inherit;
}

.search-results__select-appended-text {
	margin: 0 0 0 5px;
}
