// ##### Simple and Advanced Search Layout ##### //

.search {
	// empty
}

.search__simple {
	display: flex;
	margin: 30px auto;
	max-width: 1000px;
}

.search__simple-button {
	@extend %button__primary;
	margin: 0 0 0 15px;
}
