// ##### Show / Hide Component ##### //

.showhide {
	// empty
}

.showhide__summary {
	position: relative;
	padding: 8px 0 8px 40px;
	color: $design-primary-color;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;

	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 32px;
		height: 32px;
		border: 1px solid $design-light-gray-border-color;
		background: url('../images/icon_down-arrow2.svg') center / 12px no-repeat, $design-form-element-bg;
		content: '';
	}

}
