// ##### Scrollable Table Component ##### //

.table2 {
	display: block;
	width: 100%;

	thead {
		display: block;
		float: left;
		border-top: 1px solid $design-light-gray-border-color;
		border-left: 1px solid $design-light-gray-border-color;

		tr {
			display: block;
		}

	}

	th {
		display: block;
		background: $design-secondary-lightest;
		text-align: left;
	}

	tbody {
		display: flex;
		white-space: nowrap;
		overflow-x: auto;

		tr {
			display: inline-block;
			border-top: 1px solid $design-light-gray-border-color;
		}

	}

	td {
		display: block;
	}

	th,
	td {
		margin: 0;
		padding: 0.5em;
		border-right: 1px solid $design-light-gray-border-color;
		border-bottom: 1px solid $design-light-gray-border-color;
		vertical-align: top;
	}

}

@include bp(screen1) {

	.table2 {
		display: table;
	}

	.table2 thead {
		display: table-header-group;
		float: none;
	}

	.table2 thead tr {
		display: table-row;
	}

	.table2 th {
		display: table-cell;
	}

	.table2 tbody {
		display: table-row-group;
		white-space: normal;
	}

	.table2 tbody tr {
		display: table-row;
	}

	.table2 td {
		display: table-cell;

		&:first-child {
			border-left: 1px solid $design-light-gray-border-color;
		}

	}

}

// http://dbushell.com/demos/tables/rt_05-01-12.html example below:

.rt {
	width: 100%;
	border-collapse: collapse;
}

.rt th,
.rt td {
	margin: 0;
	padding: 0.5em;
	vertical-align: top;
	border: 1px solid $design-light-gray-border-color;
}

.rt th {
	text-align: left;
	background: $design-secondary-lightest;
}

@media (max-width: 45em) {

	#rt1 {
		display: block;
		position: relative;
		width: 100%;
	}

	#rt1 thead {
		display: block;
		float: left;
	}

	#rt1 tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}

	#rt1 thead tr {
		display: block;
	}

	#rt1 th {
		display: block;
	}

	#rt1 tbody tr {
		display: inline-block;
		vertical-align: top;
	}

	#rt1 td {
		display: block;
		min-height: 1.25em;
	}

	/* sort out borders */

	.rt th {
		border-bottom: 0;
	}

	.rt td {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}

	.rt tbody tr {
		border-right: 1px solid $design-light-gray-border-color;
	}

	.rt th:last-child,
	.rt td:last-child {
		border-bottom: 1px solid $design-light-gray-border-color;
	}

}
