// ##### Scrollable Table Component ##### //

.table2 {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 10px;

	thead {
		display: block;
		float: left;
		border-top: 1px solid $design-light-gray-border-color;
		border-left: 1px solid $design-light-gray-border-color;

		tr {
			display: block;
		}

	}

	th {
		display: block;
		position: relative;
		padding: 0.5em 30px 0.5em 0.5em;
		background: $design-secondary-lightest;
		text-align: left;
		cursor: pointer;

		.table__th-link {
			display: block;
			margin: -10px;
			padding: 10px;
			color: $design-black-color;
			text-decoration: none;
			cursor: pointer;
		}

	}

	.sorting::before,
	.sort__desc::before,
	.sort__asc::before {
		position: absolute;
		right: 5px;

	}

	.sorting::before {
		content: url('../images/sort.png');

	}

	.sort__desc::before {
		content: url('../images/sort_desc.png');

	}

	.sort__asc::before {
		content: url('../images/sort_asc.png');

	}

	tbody {
		display: flex; // removes margin between <tr>s
		white-space: nowrap;
		overflow-x: auto;

		tr {
			display: inline-block;
			flex: 1 0 auto;
			border-top: 1px solid $design-light-gray-border-color;
		}

	}

	td {
		display: block;
	}

	.sorting,
	.sort__desc,
	.sort__asc,
	td {
		width: 10em;
		margin: 0;
		padding: 0.5em;
		border-right: 1px solid $design-light-gray-border-color;
		border-bottom: 1px solid $design-light-gray-border-color;
		text-overflow: ellipsis;
		overflow: hidden;
		vertical-align: top;
	}

}

@include bp(screen2) {

	.table2 {
		display: table;

		.sorting,
		.sort__desc,
		.sort__asc {
			display: table-cell;
			width: auto;
			overflow: visible;
		}

	}

	.table2 thead {
		display: table-header-group;
		float: none;
	}

	.table2 thead tr {
		display: table-row;
	}

	.table2 tbody {
		display: table-row-group;
		white-space: normal;
	}

	.table2 tbody tr {
		display: table-row;
	}

	.table2 td {
		display: table-cell;
		width: auto;
		overflow: visible;

		&:first-child {
			border-left: 1px solid $design-light-gray-border-color;
		}

	}

}
