// ##### Table Component ##### //

// Inspired from: http://codepen.io/geoffyuen/pen/FCBEg

.table1 {
	width: 100%;
	border-collapse: collapse;

	th {
		display: none;
		padding: 0.5em;
		background: $design-secondary-color;
		text-align: left;

		@include bp(screen1) {
			display: table-cell;
    }

	}

	tbody tr:nth-child(even) {
	  background: $design-secondary-lightest;
	}

	td {
		display: flex;
		padding: 0.5em;

		@include bp(screen1) {
			display: table-cell;
    }

		&:before {
			flex: 0 0 auto;
			width: 10em;
			font-weight: bold;
			content: attr(data-th)': ';

			@include bp(screen1) {
				display: none;
			}

		}

	}

}
