// ##### Scrollable Table Component ##### //

.table2 {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 10px;

	thead {
		display: block;
		float: left;
		border-top: 1px solid $design-secondary-color;
		border-left: 1px solid $design-secondary-color;

		tr {
			display: block;
		}

	}

	th {
		display: block;
		position: relative;
		background: $design-secondary-lighter;
		text-align: left;

		.sorting:after {
			content: url('../images/sort.png');
			position: relative;
			top: 0;
			right: 6px;
			bottom: 0;
			left: auto;
			height: 11px;
			margin: auto;
			line-height: 1;
			// background-image: url('../images/sort.png');
			// background-position: right center;
			// background-size: 9px 11px;
		}

	}

	tbody {
		display: flex; // removes margin between <tr>s
		overflow-x: auto;
		white-space: nowrap;

		tr {
			display: inline-block;
			flex: 1 0 auto;
			border-top: 1px solid $design-secondary-color;
		}

	}

	td {
		display: block;
	}

	th,
	td {
		width: 10em;
		margin: 0;
		padding: 0.5em;
		overflow: hidden;
		border-right: 1px solid $design-secondary-color;
		border-bottom: 1px solid $design-secondary-color;
		text-overflow: ellipsis;
		vertical-align: top;
	}

}

@include bp(screen2) {

	.table2 {
		display: table;
	}

	.table2 thead {
		display: table-header-group;
		float: none;
	}

	.table2 thead tr {
		display: table-row;
	}

	.table2 th {
		display: table-cell;
		width: auto;
		overflow: visible;
	}

	.table2 tbody {
		display: table-row-group;
		white-space: normal;
	}

	.table2 tbody tr {
		display: table-row;
	}

	.table2 td {
		display: table-cell;
		width: auto;
		overflow: visible;

		&:first-child {
			border-left: 1px solid $design-light-gray-border-color;
		}

	}

}