// ##### Testing ##### //

// ***** Comment this sass partial out before compiling into production ***** //

// Highlight an element with a border:

$bred: 1px solid #f00;
$bblue: 1px solid #00f;
$bgreen: 1px solid #0c0;
