Django~=3.1.7
Jinja2==3.0.1
PyMySQL~=0.9.3
aiomysql~=0.0.21
boto3~=1.17.33
bsddb3~=6.2.9
configparser==5.0.2
feedparser~=6.0.2
filelock~=3.0.12
freezegun~=1.1.0
hjson~=3.0.2
lxml~=4.6.2
myloginpath~=0.0.2
mysql~=0.0.2
pytest==6.2.4
setuptools==57.0.0
fasteners~=0.16
python-dateutil~=2.8.1
Pygments~=2.9.0
