{% load layout_extras %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>EZID: {% block title %}Identifiers made easy{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/reset.css" />
    
    <noscript>
			<link rel="stylesheet" href="/ezid/static/stylesheets/720.min.css" />
		</noscript>
    
    <script type="text/javascript">
    	// Edit to suit your needs.
			var ADAPT_CONFIG = {
		  // Where is your CSS?
		  path: '/ezid/static/stylesheets/',
		
		  // false = Only run once, when page first loads.
		  // true = Change on window resize and page tilt.
		  dynamic: true,
		
		  // First range entry is the minimum.
		  // Last range entry is the maximum.
		  // Separate ranges by "to" keyword.
		  range: [
		    '0px    to 760px  = 720.min.css',
		    '760px  to 980px  = 720.min.css',
		    '980px            = 960.min.css'
		  ]
		};
    	
    </script>
    <script type="text/javascript" src="/ezid/static/javascripts/adapt.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/text.css" />

    <link rel="shortcut icon" href="/ezid/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/ezid/static/stylesheets/styles.css"/>

    <script type="text/javascript" src="/ezid/static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/ezid/static/javascripts/jquery.tooltip.js"></script>

    {% block header %}{% endblock %}
    <script type="text/javascript">/*<![CDATA[*/
      areMessages = {% if messages %}true{% else %}false{% endif %};
      {% block javascript %}{% endblock %}
    /*]]>*/</script>
    {% if not google_analytics_id == 'none' %}
	    <script type="text/javascript">
	  		var _gaq = _gaq || [];
	  		_gaq.push(['_setAccount', '{{ google_analytics_id }}']);
	  		_gaq.push(['_trackPageview']);
	
	  		(function() {
	    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  		})();
			</script>
		{% endif %}
  </head>
  <body>
    <div class="container_12">
      {% include "includes/logo.html" %}
      {% include "includes/user_menu.html" %}
      {% include "includes/status.html" %}
      {% include "includes/top_menu.html" %}    
      {% block content %}{% endblock %}
      
      {% include "includes/footer.html" %}
    </div>
    <script type="text/javascript" src="/ezid/static/javascripts/metadata_tooltips.js"></script>
    <script type="text/javascript">
    	$('input:visible:enabled').first().focus();
    	window.scrollTo(0, 0);
    </script>
    <script type="text/javascript" src="/ezid/static/javascripts/message_box.js"></script>
</html>
