<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- XXX the no-cache statements are to help with development since
      I'm getting bad caching problems.  Remove before production -->
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <title>{% block title %}EZID{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/ezid/static/stylesheets/text.css" />

    <link rel="shortcut icon" href="/ezid/static/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/ezid/static/stylesheets/styles.css"/>

    <script type="text/javascript" src="/ezid/static/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/ezid/static/javascripts/base.js"></script>
    <script type="text/javascript" src="/ezid/static/javascripts/jquery.tooltip.js"></script>
    {% block header %}{% endblock %}
    <script type="text/javascript">/*<![CDATA[*/
      areMessages = {% if messages %}true{% else %}false{% endif %};
      {% block javascript %}{% endblock %}
    /*]]>*/</script>
  </head>
  <body>
    <div class="container_16">
      {% include "includes/logo.html" %}
      {% include "includes/user_menu.html" %}
      {% include "includes/status.html" %}
      {% include "includes/top_menu.html" %}    
      {% block content %}{% endblock %}
      
      {% include "includes/footer.html" %}
    </div>
    <script type="text/javascript" src="/ezid/static/javascripts/metadata_tooltips.js"></script>
  </body>
</html>
