{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}Create Advanced Demo ID{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1>Create ID</h1>
    <form id="create_form" action="{% url ui_demo.advanced %}" method="post">
      
      {% include "includes/simple_id_type.html" %}
      
      {% include "includes/advanced_remainder.html" %}
      
      {% include "includes/advanced_publish_id.html" %}
           
      {% include "includes/advanced_describe.html" %}
      
      <label class="left">&nbsp;</label>
      <div class="field_right">
        <input type="submit" value="Create"/>
      </div>
      <div style="clear:both">&nbsp;</div>
    </form>
  </div>
  
  <script type="text/javascript">
    // focus on first element
    $("#create_form :input:visible:enabled:first").focus();
  </script>

{% endblock %}