{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}Create Advanced Demo ID{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1>Create ID</h1>
    <form id="create_form" action="{% url ui_demo.advanced %}" method="post">
      
      {% include "includes/simple_id_type.html" %}
      
      {% include "includes/advanced_remainder.html" %}
      
      {% include "includes/advanced_publish_id.html" %}
           
      {% include "includes/advanced_describe.html" %}
      
      <label class="left">&nbsp;</label>
      <div class="field_right">
        <input type="submit" value="Create"/>
      </div>
      <div style="clear:both">&nbsp;</div>
    </form>
  </div>
  
  
 <div id="remainder_guidelines" class="help_window">
  	 <h1>My dog has fleas</h1>
  	 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

  <script type="text/javascript" src="/ezid/static/javascripts/advanced_create.js"></script>
  <script type="text/javascript">
    // focus on first element
    $("#create_form :input:visible:enabled:first").focus();
  </script>
  <script type="text/javascript" src="/ezid/static/javascripts/help_box.js"></script>

{% endblock %}