{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Create Advanced Demo ID" %}{% endblock %}
{% block description %}{%trans "Use the EZID demo to create an advanced identifier." %}{% endblock %}
{% block heading %}{% content_heading _("Create an Advanced Demo Identifier") %}{% endblock %}
{% block content %}
<div class="container vertical-buffer-sm">
  <div class="tab">
    <input class="tab__input" id="tab-1" type="radio" name="name"/>
    <label class="tab__label" for="tab-1">{% trans "Simple" %}</label>
    <div class="tab__content">
      <div>This page cannot be loaded unless you have JavaScript activated in your browser.</div>
    </div>
    <input class="tab__input" id="tab-2" type="radio" name="name" checked="checked"/>
    <label class="tab__label" for="tab-2">{% trans "Advanced" %}</label>
    <div class="tab__content gradient-form">

    <form id="create_form" action="{% url "ui_demo.advanced" %}" method="post" class="form-horizontal" role="form">
      <input name="action" id="action" type="hidden" value="create"/>

        <div class="col-xs-12 col-md-5 col-md-push-7">
        <div class="call-out quick-start">
          <h3>{% trans "Quick Start Guides" %}</h3>
          <ul>
            <li><a href="/static/locale/en/EZID_AdvancedCreate.pdf" class="pdf-link" title="PDF Document" target="_blank">{% trans "Advanced Create for DOIs" %}</a></li>
            <li><a href="/static/locale/en/EZID_PlaceholdersForRequiredFields.pdf" title="PDF Document" class="pdf-link" target="_blank">{% trans "Placeholder information for required fields" %}</a></li>
            <li><a href="/static/locale/en/EZID_ResourceTypes.pdf" title="PDF Document" class="pdf-link" target="_blank">{% trans "Resource Types" %}</a></li>
            <li><a href="/static/locale/en/EZID_ContributorTypes.pdf" title="PDF Document" class="pdf-link" target="_blank">{% trans "Contributor Types" %}</a></li>
            <li><a href="/static/locale/en/EZID_RelationTypes.pdf" title="PDF Document" class="pdf-link" target="_blank">{% trans "Relation Types" %}</a></li>
          </ul>
        </div>
        </div>

        <div class="col-xs-12 col-md-7 col-md-pull-5">
          {% include "includes/simple_id_type.html" with calling_page="Demo" %}
          {% include "includes/advanced_remainder.html" %}
          {% include "includes/advanced_publish_id.html" %}
        </div>
      
        {% include "includes/advanced_describe.html" %}
     
      <div class="row idcreate-content-row">
        <div class="col-sm-8 col-sm-offset-2">
          <button type="submit" class="btn btn-primary padding-side-xs">{% trans "CREATE" %}</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{% trans "NOTE" %}:</strong> {% trans "This is a <strong>demo</strong>. To create a real identifier, you must have an account." %}
          <p class="italic vertical-buffer-xs">
    {# Translators: Please preserve &quot; tags #}
            {% trans "Once created, an identifier cannot be renamed or deleted." %}
          </p>
        </div>
      </div> 
    </form>
    </div>
  </div>
<script type="text/javascript">
/* ToDo: Bring in both simple and advanced content onto the same page
   Then this JavaScript will be unnecessary since tabs will swap quickly
   btwn simple/advanced content */
$(document).ready(function() {
  // redirect to Advanced ID create 
  $('#tab-1:not(:checked)').on('change', function() {
    document.getElementById('tab-1').checked = false;
    document.getElementById('tab-2').checked = true;
    window.location.href = "{% url "ui_demo.simple" %}";
  });
});
</script>

</div>  
  <script type="text/javascript" src="/static/javascripts/advanced_create.js"></script>
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box.js"></script>

{% endblock %}
