{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}
{% block title %}{% trans "Create Simple Demo Identifier" %}{% endblock %}

{% block heading %}{% content_heading _("Create a Simple Demo Identifier") %}{% endblock %}
{% block content %}
<div class="container vertical-buffer-sm">
  <ul class="nav nav-tabs nav-idcreate">
    <li role="presentation" class="active">{% trans "Simple" %}</li>
    <li role="presentation"><a href="{% url "ui_demo.advanced" %}">{% trans "Advanced" %}</a></li>
  </ul>
  <div class="idcreate-content gradient-form">
    
    <form id="create_form" action="{% url "ui_demo.simple" %}" method="post" class="form-horizontal" role="form">
      
      {% include "includes/simple_id_type.html" with calling_page="Demo" %}
      
      {% include "includes/simple_describe.html" %}
     
      <div class="row">
        <div class="col-sm-2">
          <!-- TODO: This should instead be positioned using an offset -->
        </div>
        <div class="col-sm-8">
          <button type="submit" class="btn btn-primary padding-side-xs">{% trans "CREATE" %}</button>
          <p class="italic vertical-buffer-xs">
    {# Translators: Please preserve &quot; tags #}
            {% trans "Clicking &quot;Create&quot; will create the identifier and make it public.  To defer making it public, use the Advanced form. Once created, an identifier cannot be renamed or deleted." %}
      	    {% help_icon "public_id_help" %}
          </p>
        </div>
      </div>
    </form>

  </div>
</div> <!-- End Container -->

  <script type="text/javascript" src="/static/javascripts/simple_create.js"></script>
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box.js"></script>

{% endblock %} 
