{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load menus %}
{% load i18n %}
{% block title %}{% block title-twitter %}{% trans "Create Simple Demo Identifier" %}{% endblock %}{% endblock %}
{% block description %}{%trans "Use the EZID demo to create a simple identifier." %}{% endblock %}
{% block heading %}{% content_heading _("Create a Simple Demo Identifier") %}{% endblock %}
{% block content %}
{% learn_breadcrumb _('EZID Demo') %}
<div class="tab create__tab">
  <input class="tab__input" id="tab-1" type="radio" name="name" checked="checked" aria-checked="true"/>
  <label class="tab__label" for="tab-1" tabindex="0">{% trans "Simple" %}</label>
  <div class="tab__content">
    <form id="create_form" action="{% url "ui_demo.simple" %}" method="post" class="form-horizontal" role="form">
    <div class="row">

      <div class="col-md-4 col-md-push-8 create__sidebox">
        <div class="sidebox">
          <h2 class="sidebox__heading">{% trans "Quick Start Guide for Demo IDs" %}</h2>
          <ul class="sidebox__list">
            <li><a href="/static/locale/en/EZID_SimpleCreate.pdf" class="link__primary" title="PDF Document" target="_blank">{% trans "Simple ID Creation" %}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-8 col-md-pull-4">
      {% include "includes/simple_id_type.html" with calling_page="demo" %} 
      </div>

    </div>

    {% include "includes/simple_describe.html" %} 

    {% include "includes/create_button.html" with calling_page="demo" id_type="simple" %} 

  </div>

  <!-- This radio button is hidden by CSS -->
  <input class="tab__input" id="tab-2" type="radio" name="name" aria-checked="false">
  <label class="tab__label" id="tab-2-label" for="tab-2" tabindex="0">{% trans "Advanced" %}</label>
</div>

  <script type="text/javascript" src="/static/javascripts/simple_create.js"></script>
  <script type="text/javascript" src="/static/javascripts/fix_target.js"></script>
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box_.js"></script>

{% endblock %} 
