<div class="grid_12 copyright">
  EZID is a service of the
  <a href="http://www.lib.purdue.edu/">Purdue University Libraries</a><br/>
  Copyright &copy; 2009-{% now "Y" %}&nbsp;&nbsp;The Regents of the University of California&nbsp;&nbsp;
  <!-- <img src="/ezid/static/images/uc_logo.png" alt="UC Logo"/> -->
  <div style="display: inline-block; width: 60px;">&nbsp;</div>
  <a href="/ezid/home/about_us">About Us</a>&nbsp;&nbsp;
  <a href="/ezid/home/help">Help</a>&nbsp;&nbsp;
  <a href="http://www.lib.purdue.edu/info/termuse.html/">Privacy Policy</a>
</div>