{% load i18n %}

<script type="text/javascript">
  $(function() {
    $('#size_set .form-container').formset({
      auto_id: '',
      prefix: '{{ form.size_set.prefix }}',
      deleteCssId: 'button__minus-size',
      addCssId: 'button__plus-size'
    });
  })
</script>

<div id="size_set" class="fieldset-stacked create__nested-fieldset" role="group" aria-labelledby="size_form_set">
  <div class="fieldset-controls__container">
    <div id="size_form_set" class="fieldset-controls__legend create__nested-legend">{% trans "Size" %}</div>
  {% include "create/_datacite_buttons.html" with element="size" %}
  </div>
{% for form in form.size_set %}
  <div class="form-container">
  {{ form.non_field_errors }}
  {% include "create/_datacite_inlinetext.html" with field=form.size %}
  </div>
{% endfor %}
</div>
{{ form.size_set.management_form }}
