{% load i18n %}
<script type="text/javascript">
  $(function() {
    $('#descr_set .form-container').formset({
      auto_id: '',
      prefix: '{{ form.descr_set.prefix }}',
      deleteCssId: 'button__minus-description',
      addCssId: 'button__plus-description'
    });
  })
</script>

<div id="descr_set" class="fieldset-stacked create__nested-fieldset" role="group" aria-labelledby="description_form_set">
  <div class="fieldset-controls__container">
    <div id="description_form_set" class="fieldset-controls__legend create__nested-legend">{% trans "Description" %}</div>
  {% include "create/_datacite_buttons.html" with element="description" %}
  </div>
{% for form in form.descr_set %}
  <div class="form-container">
  {{ form.non_field_errors }}

  {% include "create/_datacite_inlinetextarea.html" with field=form.description %}
  {% include "create/_datacite_inlineselect.html" with field=form.descriptionType %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  </div>
{% endfor %}
</div>
{{ form.descr_set.management_form }}
