{% load layout_extras %}
	<div class="optional">
		<div name="/resource/rightsList" class="element container">
			<label for="/resource/rightsList" class="element">Rights</label>
			<input type="button" value="+" onclick="addOne(this)" name="/resource/rightsList" nbelmtsadded="{{ num_rights }}" class="addButton" />
			<input type="button" value="-" name="/resource/rightsList" class="rmvButton" />
			<div class="helpico">{% help_icon "dcxml_rights_help" %}</div>
{% for rights in datacite_obj_rightsList.rights %}
			<div class="multiple" style="/* border: solid; border-width: 1px; padding: 5px;background:#ffffff */">
				<div name="/resource/rightsList/rights[{{ forloop.counter }}]" class="element">
					<label for="/resource/rightsList/rights[{{ forloop.counter }}]" class="element sized">Rights:</label>
					<input type="text" name="/resource/rightsList/rights[{{ forloop.counter }}]" value="{{ rights.text|default_if_none:"" }}" class="data sized" />
					
					<div class="attribute">
						<label for="/resource/rightsList/rights[{{ forloop.counter }}]/@rightsURI" class="attribute sized">URI:</label>
						<input type="text" name="/resource/rightsList/rights[{{ forloop.counter }}]/@rightsURI" value="{{ rights.attrib.rightsURI }}" class="data sized">
					</div>
					
					<div class="clearboth"></div>
				</div>
			</div>
{% endfor %}
		</div>
	</div>
