{% load layout_extras %}
{% load i18n %}
<div name="/resource/titles" class="element datasite-container">
  <label for="/resource/titles" class="element"><span title="Title is a required section">{% trans "Title" %}</span> <span class="required">*</span></label>
  <input type="button" value="+" onclick="addOne(this)" name="/resource/titles" nbelmtsadded="{{ num_titles }}" class="addButton">
  <input type="button" value="-" name="/resource/titles" class="rmvButton">
  {% for title in datacite_obj_titles.title %} 
  <div class="multiple">
    <div class="row">
      <div name="/resource/titles/title[{{ forloop.counter }}]" class="element form-group form-group-sm">
        <label for="/resource/titles/title[{{ forloop.counter }}]" class="element col-sm-3 control-label"><span title="Title is a required element">Title:</span>
      {% if forloop.first %}<span class="required">*</span>{% endif %}
        </label>
        <div class="col-sm-5">
          <input type="text" name="/resource/titles/title[{{ forloop.counter }}]" value="{{ title.text|default_if_none:"" }}" class="data form-control" />
        </div>
      </div>
    </div>
    <div name="/resource/titles/title[{{ forloop.counter }}]/@titleType" class="attribute row">
    <div class="form-group form-group-sm">
      <label for="/resource/titles/title[{{ forloop.counter }}]/@titleType" class="attribute col-sm-3">{% trans "Type:" %}</label>
      <div class="col-sm-7">
        <label class="radio-css" for="MainTitle"> 
          <input type="radio" id="MainTitle" name="/resource/titles/title[{{ forloop.counter }}]/@titleType" value="" class="data" {% if not title.attrib.titleType or title.attrib.titleType == "" %} checked="checked"{% endif %}/><span>{% trans "Main title" %}</span>
        </label> 
        <label class="radio-css" for="AlternativeTitle"> 
          <input type="radio" id="AlternativeTitle" name="/resource/titles/title[{{ forloop.counter }}]/@titleType" value="AlternativeTitle" class="data" {% if title.attrib.titleType == "AlternativeTitle" %} checked="checked"{% endif %}/><span>{% trans "Alternative title" %}</span>
        </label>
        <label class="radio-css" for="Subtitle"> 
          <input type="radio" id="Subtitle" name="/resource/titles/title[{{ forloop.counter }}]/@titleType" value="Subtitle" class="data"{% if title.attrib.titleType == "Subtitle" %} checked="checked"{% endif %}/><span>{% trans "Subtitle" %}</span>
        </label>
        <label class="radio-css" for="TranslatedTitle"> 
          <input type="radio" id="TranslatedTitle" name="/resource/titles/title[{{ forloop.counter }}]/@titleType" value="TranslatedTitle" class="data" {% if title.attrib.titleType == "TranslatedTitle" %} checked="checked"{% endif %}/><span>{% trans "Translated title" %}</span>
        </label>
      </div>
    </div>
    </div>
  </div>
{% endfor %}
</div>
