{% for relId in datacite_obj_relatedIdentifiers.relatedIdentifier %}
			<div class="multiple">
				<div class="element">
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]" class="element sized">Identifier:</label>
					<input type="text" name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]" value="{{ relId }}"  class="data sized" />
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relatedIdentifierType" class="attribute sized">Identifier Type:</label>
					<select name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relatedIdentifierType" sendselect="yes" class="choice sized">
						<option value=""></option>
						<option value="ARK"{% if relId.attrib.relatedIdentifierType == "ARK"%} selected="selected"{% endif %}>ARK</option>
						<option value="DOI"{% if relId.attrib.relatedIdentifierType == "DOI"%} selected="selected"{% endif %}>DOI</option>
						<option value="EAN13"{% if relId.attrib.relatedIdentifierType == "EAN13"%} selected="selected"{% endif %}>EAN13</option>
						<option value="EISSN"{% if relId.attrib.relatedIdentifierType == "EISSN"%} selected="selected"{% endif %}>eISSN</option>
						<option value="Handle"{% if relId.attrib.relatedIdentifierType == "Handle"%} selected="selected"{% endif %}>Handle</option>
						<option value="ISBN"{% if relId.attrib.relatedIdentifierType == "ISBN"%} selected="selected"{% endif %}>ISBN</option>
						<option value="ISSN"{% if relId.attrib.relatedIdentifierType == "ISSN"%} selected="selected"{% endif %}>ISSN</option>
						<option value="ISTC"{% if relId.attrib.relatedIdentifierType == "ISTC"%} selected="selected"{% endif %}>ISTC</option>
						<option value="LISSN"{% if relId.attrib.relatedIdentifierType == "LISSN"%} selected="selected"{% endif %}>LISSN</option>
						<option value="LSID"{% if relId.attrib.relatedIdentifierType == "LSID"%} selected="selected"{% endif %}>LSID</option>
						<option value="PMID"{% if relId.attrib.relatedIdentifierType == "PMID"%} selected="selected"{% endif %}>PMID</option>
						<option value="PURL"{% if relId.attrib.relatedIdentifierType == "PURL"%} selected="selected"{% endif %}>PURL</option>
						<option value="UPC"{% if relId.attrib.relatedIdentifierType == "UPC"%} selected="selected"{% endif %}>UPC</option>
						<option value="URL"{% if relId.attrib.relatedIdentifierType == "URL"%} selected="selected"{% endif %}>URL</option>
						<option value="URN"{% if relId.attrib.relatedIdentifierType == "URN"%} selected="selected"{% endif %}>URN</option>
					</select>
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relationType" class="attribute sized">Relation Type:</label>
					<select name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relationType" sendselect="yes" class="choice sized">
						<option value=""></option>
						<option value="Cites"{% if relId.attrib.relationType == "Cities"%} selected="selected"{% endif %}>Cites</option>
						<option value="Compiles"{% if relId.attrib.relationType == "Compiles"%} selected="selected"{% endif %}>Compiles</option>
						<option value="Continues"{% if relId.attrib.relationType == "Continues"%} selected="selected"{% endif %}>Continues</option>
						<option value="Documents"{% if relId.attrib.relationType == "Documents"%} selected="selected"{% endif %}>Documents</option>
						<option value="HasMetadata"{% if relId.attrib.relationType == "HasMetadata"%} selected="selected"{% endif %}>HasMetadata</option>
						<option value="HasPart"{% if relId.attrib.relationType == "HasPart"%} selected="selected"{% endif %}>HasPart</option>
						<option value="IsCitedBy"{% if relId.attrib.relationType == "IsCitedBy"%} selected="selected"{% endif %}>IsCitedBy</option>
						<option value="IsCompiledBy"{% if relId.attrib.relationType == "IsCompiledBy"%} selected="selected"{% endif %}>IsCompiledBy</option>
						<option value="IsContinuedBy"{% if relId.attrib.relationType == "IsContinuedBy"%} selected="selected"{% endif %}>IsContinuedBy</option>
						<option value="IsDocumentedBy"{% if relId.attrib.relationType == "IsDocumentedBy"%} selected="selected"{% endif %}>IsDocumentedBy</option>
						<option value="IsIdenticalTo"{% if relId.attrib.relationType == "IsIdenticalTo"%} selected="selected"{% endif %}>IsIdenticalTo</option>
						<option value="IsMetadataFor"{% if relId.attrib.relationType == "IsMetadataFor"%} selected="selected"{% endif %}>IsMetadataFor</option>
						<option value="IsPartOf"{% if relId.attrib.relationType == "IsPartOf"%} selected="selected"{% endif %}>IsPartOf</option>
						<option value="IsNewVersionOf"{% if relId.attrib.relationType == "IsNewVersionOf"%} selected="selected"{% endif %}>IsNewVersionOf</option>
						<option value="IsOriginalFormOf"{% if relId.attrib.relationType == "IsOriginalVersionOf"%} selected="selected"{% endif %}>IsOriginalFormOf</option>
						<option value="IsPreviousVersionOf"{% if relId.attrib.relationType == "IsPreviousVersionOf"%} selected="selected"{% endif %}>IsPreviousVersionOf</option>
						<option value="IsReferencedBy"{% if relId.attrib.relationType == "IsReferencedBy"%} selected="selected"{% endif %}>IsReferencedBy</option>
						<option value="IsSupplementedBy"{% if relId.attrib.relationType == "IsSupplementedBy"%} selected="selected"{% endif %}>IsSupplementedBy</option>
						<option value="IsSupplementTo"{% if relId.attrib.relationType == "IsSupplementTo"%} selected="selected"{% endif %}>IsSupplementTo</option>
						<option value="IsVariantFormOf"{% if relId.attrib.relationType == "IsVariantOf"%} selected="selected"{% endif %}>IsVariantFormOf</option>
						<option value="References"{% if relId.attrib.relationType == "References"%} selected="selected"{% endif %}>References</option>
					</select>
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relatedMetadataScheme" class="element sized">Related Metadata Scheme:</label>
					<input type="text" name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@relatedMetadataScheme" value="{{ relId.attrib.relatedMetadataScheme }}" class="data sized" />
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@schemeURI" class="element sized">Scheme URI:</label>
					<input type="text" name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@schemeURI" value="{{ relId.attrib.schemeURI }}" class="data sized" />
					<label for="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@schemeType" class="element sized">Scheme Type:</label>
					<input type="text" name="/resource/relatedIdentifiers/relatedIdentifier[{{ forloop.counter }}]/@schemeType" value="{{ relId.attrib.schemeType }}" class="data sized" />
				</div>
				<div class="clearboth"></div>
			</div>
{% endfor %}
