{% load layout_extras %}
{% load i18n %}

<script type="text/javascript">
  $(function() {
    $('#contrib_set .form-container').formset({
      auto_id: '',
      prefix: '{{ form.contrib_set.prefix }}',
      deleteCssId: 'button__minus-contributor',
      addCssId: 'button__plus-contributor'
    });
  })
</script>

<div id="contrib_set" class="fieldset-stacked create__nested-fieldset" role="group" aria-labelledby="contributor_form_set">
  <div class="fieldset-controls__container">
    <div id="contributor_form_set" class="fieldset-controls__legend create__nested-legend">{% trans "Contributor" %}</div>
  {% include "create/_datacite_buttons.html" with element="contributor" %}
  </div>
{% for form in form.contrib_set %}
  <div class="form-container">
  {{ form.non_field_errors }}
  {% for c_field in form %}

  {% if forloop.first %}
    {% include "create/_datacite_inlinetext.html" with field=c_field %}
  <details id="accordion__section-1" class="accordion__section create__accordion-section" {{accordions_open}}>
    <summary class="accordion__title create__accordion-title">{% trans "More Fields" %}</summary>
  {% else %}
    {% if c_field|fieldtype == "TextInput" %}
      {% include "create/_datacite_inlinetext.html" with field=c_field %}
    {% elif c_field|fieldtype == "Select" %}
      {% include "create/_datacite_inlineselect.html" with field=c_field %}
    {% endif %}
  {% endif %}

  {% endfor %}
  </details>

  </div>
{% endfor %}
</div>
{{ form.contrib_set.management_form }}
