{% load i18n %}
<script type="text/javascript">
  $(function() {
    $('#geoloc_set .form-container').formset({
      auto_id: '',
      prefix: '{{ form.geoloc_set.prefix }}',
      deleteCssId: 'button__minus-geoloc',
      addCssId: 'button__plus-geoloc'
    });
  })
</script>

<div id="geoloc_set" class="fieldset-stacked create__nested-fieldset" role="group" aria-labelledby="geoLocation_form_set">
  <div class="fieldset-controls__container">
    <div id="geoLocation_form_set" class="fieldset-controls__legend create__nested-legend">{% trans "Geolocation" %}</div>
  {% include "create/_datacite_buttons.html" with element="geoloc" %}
  </div>
{% for form in form.geoloc_set %}
  <div class="form-container">
{{ form.non_field_errors }}
{% include "create/_datacite_inlinetext.html" with field=form.geoLocationPoint %}
{% include "create/_datacite_inlinetext.html" with field=form.geoLocationBox %}
{% include "create/_datacite_inlinetext.html" with field=form.geoLocationPlace %}
  </div>
{% endfor %}
</div>
{{ form.geoloc_set.management_form }}
