{% load layout_extras %}

{% comment  %}
Formatting used for typical inline ***select*** field for a form that is not repeating 
(appears only one time for a given ID as defined by DataCite schema)
{% endcomment %}

<div class="fcontrol__select-group-inline{% if field.errors %}--invalid{% endif %} create__form-element-group">
  <label for="{{ field.id_for_label }}" class="fcontrol__select-label-inline create__label-advanced {% if reqd %}fcontrol__label-required{% endif %}">{{ field.label }}</label>
  <div class="fcontrol__select-group">
    {{ field|add_attributes:"fcontrol__select--fullwidth"}}
  {% if field.errors %}
    <span class="fcontrol__invalid-flag">
    {% for error in field.errors %}
      {{ error|escape }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
</div>

