{% load layout_extras %}
{% load i18n %}

{{ form.creator_set.management_form }}
<div class="fieldset-stacked fieldset__top-border" role="group" aria-labelledby="creators-creator">
  <div class="fieldset-controls__container">
    <div id="creators-creator" class="fieldset-controls__legend create__nested-legend">{% trans "Creator" %}</div>
    <div class="fieldset-controls__buttons">
      <button class="button__plus">
        <span class="button__text">{% trans "Add" %}</span>
      </button>
      <button class="button__minus">
        <span class="button__text">{% trans "Remove" %}</span>
      </button>
    </div>
  </div>
{% for form in form.creator_set %}
{{ form.non_field_errors }}
  {% for cr_field in form %}

  {% if forloop.first %}
    {% include "create/_datacite_inlinetext.html" with field=cr_field %}
  <details id="accordion__section-1" class="accordion__section create__accordion-section">
    <summary class="accordion__title create__accordion-title">{% trans "More Fields" %}</summary>
  {% else %}
    {% include "create/_datacite_inlinetext.html" with field=cr_field %}
  {% endif %}

  {% endfor %}
  </details>

{% endfor %}
</div>
