{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{%trans "Permanent Identifier Creation Unavailable" %}{% endblock %}

{% block content %}
{% content_heading _("Permanent Identifier Creation Unavailable") %}
<div class="vertical-buffer"></div>
<div class="container">
    <p>
    	{% trans "You may not create any permanent identifiers because your account doesn't have any identifier types (shoulders) assigned to it." %}
    </p>
    
    <p>
        {% url "ui_demo.simple" as url_demosimple %}
    {# Translators: Copy HTML tags over and only translate words outside of these tags #}
    {# Translators: i.e.: <a href="blah blah blah">TRANSLATE THIS ONLY, AND KEEP HTML TAGS</a> #}
        {% blocktrans %}You may still create temporary identifiers with the <a href="{{ url_demosimple }}">demo identifier</a>functionality.{% endblocktrans %}
    </p>
    
    <p>{% trans "If you have questions, you may " %}<a href="{% url "ui.contact" %}">
       {% trans "contact us" %}</a>.</p>
  </div>
{% endblock %}
