{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{%trans "Permanent Identifier Creation Unavailable" %}{% endblock %}

{% block content %}
{% content_heading "Permanent Identifier Creation Unavailable" %}
<div class="vertical-buffer"></div>
<div class="container">
    <p>
    	You may not create any permanent identifiers because your account
    	doesn't have any identifier types (shoulders) assigned to it.	
    </p>
    
    <p>
    	You may still create temporary identifiers with the
    	<a href="{% url "ui_demo.simple" %}">demo identifier</a> functionality.
    </p>
    
    <p>If you have questions, you may <a href="{% url "ui.contact" %}">contact us</a>.</p>
  </div>
{% endblock %}
