{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}
{% block title %}{% trans "Create an Identifier" %}{% endblock %}

{% block heading %}{% content_heading _("Create an Identifier") %}{% endblock %}
{% block content %}
<div class="tab create__tab">
  <input class="tab__input" id="tab-1" type="radio" name="name" checked="checked"/>
  <label class="tab__label" for="tab-1">{% trans "Simple" %}</label>
  <div class="tab__content">
    <form id="create_form" action="{% url "ui_create.simple" %}" method="post" class="form-horizontal" role="form">
    <input name="action" id="action"  type="hidden" value="create"/> 
    <div class="row">

      {% include "includes/simple_id_type.html" with calling_page="Demo" %}

      <div class="col-md-4 create__sidebox">
        <div class="sidebox">
          <h2 class="sidebox__heading">{% trans "Quick Start Guide" %}</h2>
          <ul class="sidebox__list">
            <li><a href="/static/locale/en/EZID_SimpleCreate.pdf" class="link__primary" title="PDF Document" target="_blank">{% trans "Simple ID Creation" %}</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% include "includes/simple_describe.html" %}

    <div class="create__button">
      <button class="button__primary">{% trans "Create" %}</button>
      {# Translators: Please preserve &quot; tags #}
      <p class="create__buttton-note"><em>{% trans "Clicking &quot;Create&quot; will create the identifier and make it public. To defer making it public, use the Advanced form. Once created, an identifier cannot be renamed or deleted." %}</em></p>
    </div>
    </form>
  </div>

  <input class="tab__input" id="tab-2" type="radio" name="name">
  <label class="tab__label" for="tab-2">Advanced</label>
  <div class="tab__content">
    <div class="row">
      <div class="col-md-8">This page cannot be loaded unless you have JavaScript activated in your browser.</div>
    </div>
  </div>
</div>

<script type="text/javascript">
/* ToDo: Bring in both simple and advanced content onto the same page
   Then this JavaScript will be unnecessary since tabs will swap quickly
   btwn simple/advanced content */
$(document).ready(function() {
  // redirect to Advanced ID create 
  $('#tab-2:not(:checked)').on('change', function() {
    document.getElementById('tab-2').checked = false;
    document.getElementById('tab-1').checked = true;
    window.location.href = "{% url "ui_create.advanced" %}";
  });
});
</script>

  <script type="text/javascript" src="/static/javascripts/simple_create.js"></script>
  <script type="text/javascript" src="/static/javascripts/fix_target.js"></script>
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box.js"></script>

{% endblock %}
