{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}Create Simple ID{% endblock %}

{% block content %}
  <div class="grid_9">
    <h1>Create Identifier</h1>
    <form id="create_form" action="{% url ui_create.simple %}" method="post">
      
      {% include "includes/simple_id_type.html" %}
      
      {% include "includes/simple_describe.html" %}
      
      <label class="left">&nbsp;</label>
      <div class="field_right">
        <input type="submit" value="Create"/>
      </div>
      <div style="clear:both">&nbsp;</div>
      <div style="width:80%;float:left;">
        <p>
        	Clicking &quot;Create&quot; will create the identifier and make it public.
        	To defer making it public, use the Advanced form.
        </p>
        <p>Once created, an identifier cannot be renamed or deleted.</p>
      </div>
      <div style="width:20%;float:left">
      	{% help_icon "public_id_help" %}
      </div>
    </form>
    
  </div>
  
  <script type="text/javascript" src="/ezid/static/javascripts/simple_create.js"></script>
  
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/ezid/static/javascripts/help_box.js"></script>
  
  {% include "includes/_tooltip_as_msgbox.html" %}

{% endblock %}