{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}Create Simple ID{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1>Create ID</h1>
    <form id="create_form" action="{% url ui_create.simple %}" method="post">
      
      {% include "includes/simple_id_type.html" %}
      
      {% include "includes/simple_describe.html" %}
      
      <label class="left">&nbsp;</label>
      <div class="field_right">
        <input type="submit" value="Create"/>
      </div>
      <div style="clear:both">&nbsp;</div>
      <p>
        Note: Clicking &quot;Create&quot; will create this identifier immediately.
        If you do not wish to make this identifier public immediately, please use the Advanced form.
      </p>
    </form>
  </div>
  
  <script type="text/javascript" src="/ezid/static/javascripts/simple_create.js"></script>

{% endblock %}