// Footer NewsFeed

.carousel-inner.vertical {
  height: 100%;

  > .footer__news-text.item {
    -o-transition: 1.3s ease-in-out top;
    -webkit-transition: 1.3s ease-in-out top;
    transition: 1.3s ease-in-out top;
  }

  > .footer__news-text.active {
    top: 0;

    .left {
      top: -100%;
      left: 0;
    }

    .right {
      top: 100%;
      left: 0;
    }

  }

  > .footer__news-text.next,
  > .footer__news-text.prev {
    top: 0;
    width: auto;
    height: 100%;
  }

  .footer__news-text.next {
    top: 100%;
    left: 0;
  }

  > .footer__news-text.prev {
    top: -100%;
    left: 0;
  }

  > .footer__news-text.next.left,
  > .prev.right {
    top: 0;
  }


}

@media all and (transform-3d),
(-webkit-transform-3d) {

  .carousel-inner.vertical > .footer__news-text.item {
    -o-transition: -o-transform 1.3s ease-in-out;
    -webkit-transition: -webkit-transform 1.3s ease-in-out;
    transition: transform 1.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }

  .carousel-inner.vertical > .footer__news-text.item.next,
  .carousel-inner.vertical > .footer__news-text.item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  .carousel-inner.vertical > .footer__news-text.item.prev,
  .carousel-inner.vertical > .footer__news-text.item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  .carousel-inner.vertical > .footer__news-text.item.next.left,
  .carousel-inner.vertical > .footer__news-text.item.prev.right,
  .carousel-inner.vertical > .footer__news-text.item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}
