// API Doc page

.api {
  h1 {
    @extend h1;
    color: $design-primary-color;
    border-bottom: 1px dotted black;
  }
  blockquote {
    display: block;
    margin: 15px 0px 20px 40px;
    padding: 0px;
    a, a:visited, a:link {
      @include text-link2($text-link-color);
    }
    a:hover {
      @include text-link2($design-primary-color);
    }
  }
  tr td:first-child {
    background-color: $design-secondary-gradient-top;
    font-weight: bold;
    font-size: 0.9em;
  }
  tr td {
    padding: 5px;
  }
}
