// Demo and ID Create  and Details pages

.idcreate-content {
  border-left: 1px solid $design-light-gray-border-color;
  border-right: 1px solid $design-light-gray-border-color;
  border-top: 1px solid $design-light-gray-border-color;
  background-color: $design-light-gray-bg-color;
  padding: 0px;
}

.idcreate-content-row {
  // Leave top/bottom padding/margin to vertical-buffer class
  padding: 0px 40px 0px 34px;
}

.quick-start {
  margin: 25px 20px 10px 0px;
}

.get_link_box {
  display: none;
  z-index: 5;
  border: solid;
  border-width: 1px;
  border-color: black;
  position: absolute;
  background-color:#fff;
  padding: 10px 10px 10px 10px;
}

.iddetails__delay-text {
  margin-top: 6px;
  color: red;
}

#id_as_url__box {
  height: 26px;
  border: 1px solid $design-light-gray-border-color;
  padding: 4px;
}

#copy_message {
  display: none;
}

