// Learn Page
.panel-body {
  margin-left: 20px;
}

.learn__title--ext-link {
  position: absolute;
  top: 42px;
  right: 20%;
}

.breadcrumb {
  background-color: #FFF;
  margin: 10px 0px 0px 0px;
  padding-left: 0px;
}

// libsass patch: https://github.com/twbs/bootstrap/issues/16576 
.breadcrumb > li + li:before {
  content: $breadcrumb-separator + "\00a0";
}
