// Demo and ID Create pages

.idcreate-content {
  border-left: 1px solid $design-light-gray-border-color;
  border-right: 1px solid $design-light-gray-border-color;
  border-top: 1px solid $design-light-gray-border-color;
  background-color: $design-light-gray-bg-color;
  padding: 0px;
}

.idcreate-content-row {
  padding: 50px 40px 0px 34px;
}