// Learn Page

.panel-body {
  margin: 28px 0px 30px 20px;
}

.learn__title--ext-link {
  margin-bottom: 20px;
}

.breadcrumb {
  background-color: #FFF;
  margin: 10px 0px 0px 0px;
  padding-left: 0px;
}

// libsass patch: https://github.com/twbs/bootstrap/issues/16576 
.breadcrumb > li + li:before {
  content: $breadcrumb-separator + "\00a0";
}
