// Learn Page
.panel-body {
  margin-left: 20px;
}

.learn__title--ext-link {
  position: absolute;
  top: 42px;
  right: 20%;
}

.breadcrumb {
  background-color: #FFF;
  margin-top: 10px;
  margin-bottom: 0px;
}
