// Tables

thead {
  background-color: $design-secondary-gradient-top;
  font-size: 0.9em;
}

.nowrap {
  white-space: nowrap;
}

.table-sm td {
  font-size: 0.8em;
}

.table-md td {
  font-size: 0.9em;
}

.table td a {
  font-weight: normal;  
}

.table-borderless tr,
.table-borderless td,
.table-borderless th {
  border: 0px;
}

.table > thead > tr > th {
  border-bottom: 0px;
}

td, th {
  border: 1px solid #C2AA79;
}

tr.darkened{
  background-color:$design-secondary-lightest;
}
td.right {
  text-align: right;
}

td.center {
  text-align: center;
}

td.left {
  text-align: left;
}
td.subrow {
  padding-left: 10px;
}
td.subhead {
  padding-top: 16px !important;
}
td div.dollar{
  float: left;
  width: 1em;
  padding-left: 3em;
}
