{% extends "layouts/base.html" %}

{% block title %}System Status{% endblock %}

{% block content %}
  <div class="grid_9">
    <h1>System Status</h1>
    <table class="status">
    	<tr>
    		<th>Status</th>
    		<th>Resource</th>
    	</tr>
    	{% for ss in status_list %}
		  	<tr>
		  		<td><img id='{{ss.id}}' src='/ezid/static/images/ajax-loader_gray.gif' alt='Progress indicator' /></td>
		  		<td>{{ss.name}}</td>
		  	</tr>
    	{% endfor %}
    </table>
  </div>
  
  <div class="grid_3">
  	<br/>
  	<div class="status_sidebox">
  		<h2>Legend</h2>
  		<p><img src="/ezid/static/images/good_flag.png" alt="service up">&nbsp;&nbsp;Service up</p>
  		<p><img src="/ezid/static/images/maybe_flag.png" alt="service state unknown">&nbsp;&nbsp;Service state unknown</p>
  		<p><img src="/ezid/static/images/fail_flag.png" alt="service down">&nbsp;&nbsp;Service down</p>
  	</div>
  	<br/><br/>
  	<div class="status_sidebox" style="text-align:center">
  		<h2>For Developer Use Only</h2>
  		<form id="reloadit" action="{% url ui_admin.system_status %}" method="post" >
  			<input type="submit" value="Reload EZID"/>
  		</form>
  		<br/>
  	</div>
  </div>
  <script type="text/javascript">
    {% autoescape off %}
    	var service_ids = {{js_ids}};
    {% endautoescape %}
    var id_index = 0;
    var interval_id = 0;
 
    function displayStatus(){
    	$.ajax({
	  		url:			'{% url ui_admin.ajax_system_status %}' + "?id=" + escape(service_ids[id_index]),
	  		success: 	function(data){
	  		  var ar = data.split(':');
	  		  var id = ar[0];
	  		  var resp = ar[1];
	  			if(resp == 'up'){
	  				$('#' + id).attr('src', '/ezid/static/images/good_flag.png');
	  				$('#' + id).attr('alt', 'service up');
	  				$('#' + id).attr('title', 'service up');
	  			}else if(resp == 'down'){
	  				$('#' + id).attr('src', '/ezid/static/images/fail_flag.png');
	  				$('#' + id).attr('alt', 'service down');
	  				$('#' + id).attr('title', 'service down');
	  			}else{
	  				$('#' + id).attr('src', '/ezid/static/images/maybe_flag.png');
	  				$('#' + id).attr('alt', 'service state unknown');
	  				$('#' + id).attr('title', 'service state unknown');
	  			}
	   		},
	  			async:	true
	  		}); // end ajax function

	  		id_index++;
	  		if(id_index >= service_ids.length){
	  			clearInterval(interval_id);
	  		}
	  }
    
    // have to put the status updates on a timer since Safari will not update display unless there is slack time
    $(document).ready(function(){
			interval_id = setInterval("displayStatus()", 500);
    });
  </script>
{% endblock %}