{% extends "layouts/base.html" %}

{% block title %}View Usage{% endblock %}

{% block content %}
  <div class="grid_9">
  	<h1>View Usage</h1>
		<form id="usage_form" action="{{ currentUrl }}" method="post">
			<label class="left" for="choices">Report for:</label>
				<div class="field_right">
					<select id="choice" name="choice">
						{% for c in choices %}
							<option value="{{c.0}}"
							{% if c.0 == choice %}
								selected="selected"
							{% endif %}
							>{{c.1}}</option>
						{% endfor %}
					</select>
				</div>
		</form>
		<div style="clear:both">&nbsp;</div>
  	
		{% include "includes/_usage_display.html" %}
		
		<script type="text/javascript">
			$("#choice").bind("change", function(event){
    		$("#usage_form").submit();
  		});
		</script>
  </div>
  
{% endblock %}