{% extends "layouts/base.html" %}

{% block title %}View Usage{% endblock %}

{% block content %}
  <div class="grid_9">
    <h1>View Usage</h1>
    <form id="usage_form" action="{% url ui_admin.usage %}" method="post">
    	<label class="left" for="choices">Report for:</label>
				<div class="field_right">
					<select id="choice" name="choice">
						{% for c in choices %}
							<option value="{{c.0}}"
							{% if c.0 == choice %}
								selected="selected"
							{% endif %}
							>{{c.1}}</option>
						{% endfor %}
					</select>
				</div>
    </form>
    <div style="clear:both">&nbsp;</div>
    
    <style>
    	td.a { text-align: left; width: 7em;}
    	td.b { text-align: right; width: 12em;}
    	td.c { text-align: right; width: 12em;}
    	td.d { text-align: right; width: 12em;}
    	table {border-collapse:collapse;}
    	table th {text-align: center;}
    	table, th, td {border: 1px solid black;}
    	.pct {float: right; width: 5em;}
    	.summ {width: 300px;}
    	.wm {float:right; text-align: right;width: 150px;}
    	.tot {float:right; text-align: right;width: 7em;}
    </style>
    {% if report|length > 0 %}
    	<h3>Totals</h3>
    	
    	<div class="summ">
    		<div class="wm">{{totals.2}} have metadata</div>
    		ARKs: <div class="tot">{{totals.1}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{totals.4}} have metadata</div>
    		DOIs: <div class="tot">{{totals.3}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{totals.6}} have metadata</div>
    		URNs: <div class="tot">{{totals.5}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{totals.8}} have metadata</div>
    		Totals: <div class="tot">{{totals.7}}</div>
    	</div>
    	<br/>
    	<h3>{{yearly.text}}</h3>
    	
    	<div class="summ">
    		<div class="wm">{{yearly.ARK_percent}} have metadata</div>
    		ARKs: <div class="tot">{{yearly.ARK_total}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{yearly.DOI_percent}} have metadata</div>
    		DOIs: <div class="tot">{{yearly.DOI_total}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{yearly.URN_percent}} have metadata</div>
    		URNs: <div class="tot">{{yearly.URN_total}}</div>
    	</div>
    	<div class="summ">
    		<div class="wm">{{yearly.tot_percent}} have metadata</div>
    		Total: <div class="tot">{{yearly.totals}}</div>
    	</div>
   		<br/>
   
      <h3>Identifiers Created by Month</h3>
	    <table>
	    	<tr>
	    		<th>Month</th>
	    		<th>ARKs</th>
	    		<th>DOIs</th>
	    		<th>URNs</th>
	    	</tr>
	    	
	    	{% for row in report %}
	    		<tr>
	    			<td class="a">{{row.0}}</td>
	    			<td class="b">
	    				<div class="pct">({{row.2}})</div>
	    				{{row.1}}
	    			</td>
	    			<td class="c">
	    				<div class="pct">({{row.4}})</div>
	    				{{row.3}}
	    			</td>
	    			  
	    			<td class="d">
	    				<div class="pct">({{row.6}})</div>
	    				{{row.5}}
	    			</td>
	    		</tr>
	    	{% endfor %}
	    </table>
	    <p>*Statistics calculated on {{last_tally}}.</p>
	  {% else %}
	  	<p>
	  		There is no usage data for the selected group or user.
	  	</p>
    {% endif %}
  </div>
  
  <script type="text/javascript">
  	$("#choice").bind("change", function(event){
      $("#usage_form").submit();
    });
  </script>
{% endblock %}