{% load manage_form_tags %}
{% load i18n %}

<div class="pagination">
  <form method="get" action="{% url primary_page %}" id="ps-{{ select_position }}" role="form">
  {% rewrite_hidden_except REQUEST 'ps' %}
  <div class="pagination__select-group">
    <label for="page-size-{{ select_position }}" class="pagination__select-label">{% trans "Show" %}</label>
    <select aria-label="{% trans "Show number of entries" %}" name="ps" id="page-size-{{ select_position }}" class="pagination__select">
    {% for size in page_sizes %}
      <option value="{{ size }}"
        {% if size == ps %}
          selected="selected"
        {% endif %}
      >{{ size }}</option>
    {% endfor %}
    </select>
    <span class="search-results__select-appended-text">{% trans "entries" %}</span>
  </div>
  </form>
  <form method="get" action="{% url primary_page %}" id="p-{{ select_position }}" role="form">
  {% rewrite_hidden_except REQUEST 'p' %}
  <div class="pagination__input-group">
  {% pager_display REQUEST p total_pages ps select_position %}
  </div>
  </form>
</div>
<script type="text/javascript">
  // page size: submit on change
  $("#page-size-{{ select_position }}").bind("change", function(event){
    $("#ps-{{ select_position }}").submit();
  });
  // page selection input field: submit on enter 
  $("#page-directselect-{{ select_position }}").keyup(function(e){ 
    var code = e.which;
    if(code==13)e.preventDefault();
    if(code==32||code==13||code==188||code==186){
      // Remove values from other buttons in this form since 
      // we only want to submit value from thsi input field
      // $('#p-{{ select_position }} :button').attr('name', '');
      var b = $('p-{{ select_position }}').getElementsByTagName("button");
      for(var i=0;i<b.length;i++)
        b[i].value = '';
      $("#p-{{ select_position }}").submit();
    }
  });
</script>
