<div class="help_window" id="relevant_mouseovers">

</div>

<script type="text/javascript">
	$( document ).ready(function() {
  	for(key in all_help_tooltip_text){
		  // for-in loop goes over all properties including inherited properties
		  // let's use only our own properties
		  if(all_help_tooltip_text.hasOwnProperty(key)){
		  	if($('.'+key).length>0){
		  		console.log(key);
		  		$('#relevant_mouseovers').append("<div class='info_stanza'>" + all_help_tooltip_text[key] + '</div>');
		  	}
		    //console.log("key = " + key + ", value = " + all_help_tooltip_text[key]);
		  }
		}
	});
</script>
