{% load layout_extras %}
{% load i18n %}


<div class="row idcreate-content-row">
  <div class="col-sm-8 inline-header">
    <span class="number-big">2</span>
    <h2 class="id-creation">{% trans "Optional: Enter a custom remainder (suffix)" %}</h2>
     {% help_icon "custom_remainder" %}
  </div>
  <div class="col-sm-8 form-group form-group-sm">
    <div class="horizontal-buffer">
      <input type="text" name="remainder" id="remainder"
        value="{% form_or_default "remainder" remainder_box_default %}" class="element_customRemainder"/>
    </div>
  </div>
  <div class="col-sm-8 horizontal-buffer" id="preview_div">
    <h2>{% trans "Identifier Preview:" %}</h2>
    <div id="preview_div_value"></div>
  </div>
</div>

<script type="text/javascript">
  $('#remainder').focus(function() {
    $(this).select();
	}).mouseup(function() {
		// this is to hack around Safari problems in which the ordering
		// of events means that any selection made by a click gets immediately
		// de-selected (thus the timer)
    if ($(this).val() === '{{remainder_box_default}}')
    {
    	var _self = this;
	    setTimeout(function(){ _self.select()},30)
    }
	});

  var remainderValue = '';
  $(function () {
    setInterval(checkRemainderChanged,0.25);
  });
  
  function checkRemainderChanged() {
    var currentValue = $('#remainder').val();
    if (currentValue != remainderValue){
      if(currentValue.length < 1 || currentValue == '{{ remainder_box_default }}'){
        $('#preview_div_value').html('');
        $('#preview_div').css('display', 'none');
        $('#remainder').css('font-style', 'italic');
        $('#remainder').css('color', 'gray');
      }else if(currentValue.indexOf(' ')>=0){
        $('#preview_div_value').html('Invalid remainder');
        $('#preview_div').css('display', 'block');
        $('#preview_div_value').css('color', 'red');
        $('#remainder').css('font-style', 'normal');
        $('#remainder').css('color', 'black');
      }else{
        $('#preview_div_value').html(
        $('#create_form input:radio[name=shoulder]:checked').val()  + $('#remainder').val());
        $('#preview_div').css('display', 'block');
        $('#preview_div_value').css('color', 'black');
        $('#remainder').css('font-style', 'normal');
        $('#remainder').css('color', 'black');
      }
      remainderValue = currentValue; 
    }
  }
  
  // to force recalculation of preview when shoulder radio changed
  $('#create_form input:radio[name=shoulder]').change(function(){
    remainderValue = (new Date()).valueOf(); // triggers as changed from old value
  });
  checkRemainderChanged();
</script>
