{% load layout_extras %}
{% load i18n %}

  <div class="row idcreate-content-row vertical-buffer-sm">
    <div class="col-sm-12 inline-header">
      <span class="number-big">3</span>
      <h2 class="id-creation">{% trans "Decide" %}</h2>
    </div>
  </div>

  <div class="row horizontal-buffer">
    <div class="col-xs-5 form-group form-group-sm">
      {% trans "Make this identifier public?" %}
    </div>
    <div class="col-xs-7 form-group form-group-sm">
      <div class="radio-inline radio_svg">
        <input type="radio" name="publish" value="True" id="publish_true" class="radio__icon"
          {% if request.POST.publish != 'False' %}
            checked="checked"
          {% endif %} 
        /><label for="publish_true" class="image-radio-label">{% trans "YES" %}</label>
      </div>
      <div class="radio-inline radio_svg">
        <input type="radio" name="publish" value="False" id="publish_false" class="radio__icon"
          {% if request.POST.publish == 'False' %}
            checked="checked"
          {% endif %}
        /><label for="publish_false" class="image-radio-label">{% trans "NO" %}</label>
        {% help_icon "decide_public" %}
      </div>
    </div>
  </div>

  <div class="row horizontal-buffer" id="harv_index">
    <div class="col-xs-5 form-group form-group-sm">
      {% trans "Allow harvesting/indexing?" %}
    </div>
    <div class="col-xs-7 form-group form-group-sm">
      <div class="radio-inline radio_svg">
        <input type="radio" name="export" value="yes" id="export_yes" class="radio__icon"
          {% if request.POST.export != 'no' %}
            checked="checked"
          {% endif %}
        /><label for="export_yes" class="image-radio-label">{% trans "YES" %}</label>
      </div>
      <div class="radio-inline radio_svg">
        <input type="radio" name="export" value="no" id="export_no" class="radio__icon"
          {% if request.POST.export == 'no' %}
            checked="checked"
          {% endif %}
        /><label for="export_no" class="image-radio-label">{% trans "NO" %}</label>
        {% help_icon "decide_export" %}
      </div>
    </div>
  </div>
 
<script type="application/javascript">
	function setHidden(){
  	if ($('#publish_true').is(':checked')) {
 			// public
  		$("#harv_index").show();
		}else{
			// reserved
			$("#harv_index").hide();
		}
  }
	$("[name='publish']").bind("change", function(){
		setHidden();
  });
  setHidden();
</script>
