{% load layout_extras %}
{% load i18n %}

<fieldset class="fieldset-stacked-no-border" role="group" aria-labelledby="create__fieldset4">
  <legend id="create__fieldset4" class="fieldset-stacked__legend-number-2">
    <h2 class="fieldset__heading-2">{% trans "Optional: Enter a custom remainder (suffix)" %}</h2>
    {% help_icon "custom_remainder" _("on creating a custom remainder for the identifier") %}
  </legend>
  {{ form.remainder_form.non_field_errors }}
  {% for field in form.remainder_form %}
  <div class="fcontrol__group-stacked{% if field.errors %}--invalid{% endif %} create__form-element-group">
    <label for="{{ field.id_for_label }}" class="fcontrol__text-label-hidden">{{ field.label }}</label>
    {{ field|add_attributes:"fcontrol__text-field-stacked" }}
    {% if field.errors %}
      <span class="fcontrol__invalid-flag">{% for error in field.errors %}{{ error|escape }}{% endfor %}</span>
    {% endif %}
  </div>
  {% endfor %}
  <div id="preview_div" class="fcontrol__group-inline">
    <div class="fcontrol__text-label-inline">{% trans "Identifier Preview:" %}</div>
    <div id="preview_div_value" class="fcontrol__text-field-inline"></div>
  </div>
</fieldset>

<script type="text/javascript">
{%if remainder %}
  // Coming from the request, before it's being instantiated by the form object
  $('#remainder').val('{{ remainder }}');
{% endif %}
  $('#remainder').focus(function() {
    $(this).select();
	}).mouseup(function() {
		// this is to hack around Safari problems in which the ordering
		// of events means that any selection made by a click gets immediately
		// de-selected (thus the timer)
    if ($(this).val() === '{{remainder_box_default}}')
    {
    	var _self = this;
	    setTimeout(function(){ _self.select()},30)
    }
	});

  var remainderValue = '';
  $(function () {
    setInterval(checkRemainderChanged,1);
  });
  
  function checkRemainderChanged() {
    var currentValue = $('#remainder').val();
    if (currentValue != remainderValue){
      if(currentValue.length < 1 || currentValue == '{{ remainder_box_default }}'){
        $('#preview_div_value').html('');
        $('#preview_div').css('display', 'none');
        $('#remainder').css('color', '#707070');
      }else if(currentValue.indexOf(' ')>=0){
        $('#preview_div_value').html('Invalid remainder');
        $('#preview_div').css('display', 'block');
        $('#preview_div_value').css('color', 'red');
        $('#remainder').css('font-style', 'normal');
        $('#remainder').css('color', 'black');
      }else{
        $('#preview_div_value').html(
        $('#create_form input:radio[name=shoulder]:checked').val()  + $('#remainder').val());
        $('#preview_div').css('display', 'block');
        $('#preview_div_value').css('color', 'black');
        $('#remainder').css('font-style', 'normal');
        $('#remainder').css('color', 'black');
      }
      remainderValue = currentValue; 
    }
  }
  
  // to force recalculation of preview when shoulder radio changed
  $('#create_form input:radio[name=shoulder]').change(function(){
    remainderValue = (new Date()).valueOf(); // triggers as changed from old value
  });
  checkRemainderChanged();
</script>
