{% load layout_extras %}
{% load i18n %}

<fieldset class="fieldset-stacked-no-border" role="group" aria-labelledby="fieldset-publish">
  <legend id="fieldset-publish" aria-label='{% trans "Publishing options" %}' class="fieldset-stacked__legend-number-3">
    <h2 class="fieldset__heading-2">{% trans "Decide" %}</h2>
  </legend>
  <div class="legend-clear"></div>
  <fieldset class="fieldset-inline create__form-element-group" role="group" aria-labelledby="create__publish">
      <legend id="create__publish" class="fieldset-inline__legend create__inline-nested-legend">{% trans "Make this identifier" %}</legend>
      <label for="publish_true" class="fcontrol__radio-label-inline">
        <input id="publish_true" class="fcontrol__radio-button-stacked" type="radio" value="True" name="publish"
        {% if request.POST.publish != 'False' or request.GET.publish != 'False' %}
          checked="checked"
        {% endif %}
        ><span>{% trans "Public" %}</span>
      </label>
      <label for="publish_false" class="fcontrol__radio-label-inline">
        <input id="publish_false" class="fcontrol__radio-button-stacked" type="radio" value="False" name="publish"
        {% if request.POST.publish == 'False' or request.GET.publish == 'False' %}
          checked="checked"
        {% endif %}
        ><span>{% trans "Reserved" %}</span>
      </label>
      {% help_icon "decide_public" _("on making an identifier public or reserved") %}
  </fieldset>
  <fieldset id="harv_index" class="fieldset-inline create__form-element-group" role="group" aria-labelledby="fieldset-harvesting">
    <legend id="fieldset-harvesting" class="fieldset-inline__legend create__inline-nested-legend">{% trans "Allow harvesting/indexing?" %}</legend>
    <label for="export_yes" class="fcontrol__radio-label-inline">
      <input id="export_yes" class="fcontrol__radio-button-stacked" type="radio" value="yes" name="export"
      {% if request.POST.export != 'no' %}
        checked="checked"
      {% endif %}
      > <span>{% trans "Yes" %}</span>
    </label>
    <label for="export_no" class="fcontrol__radio-label-inline">
      <input id="export_no" class="fcontrol__radio-button-stacked" type="radio" value="no" name="export"
      {% if request.POST.export == 'no' %}
        checked="checked"
      {% endif %}
      > <span>{% trans "No" %}</span>
    </label>
    {% help_icon "decide_export" _("on harvesting/indexing") %}
  </fieldset>
</fieldset>
