{% load layout_extras %}
<h2>Step 3: Decide</h2>
 
<div class="form_yn_question_box">
  Make this identifier public?
  <div class="yn_select">
	  <input type="radio" name="publish" value="True" id="publish_true" 
	    {% if request.POST.publish != 'False' %}
	        checked="checked"
	    {% endif %}
	   /><label
	    for="publish_true">Yes</label>&nbsp;
	  <input type="radio" name="publish" value="False" id="publish_false"
	    {% if request.POST.publish == 'False' %}
	      checked="checked"
	    {% endif %}
	   /><label
	    for="publish_false">No</label>
	    {% help_icon "public_id_help" %}
	</div>
</div>

<div class="form_yn_question_box" id="harv_index">
  Allow harvesting/indexing?
  <div class="yn_select">
	  <input type="radio" name="export" value="yes" id="export_yes" 
	    {% if request.POST.export != 'no' %}
	        checked="checked"
	    {% endif %}
	   /><label
	    for="export_yes">Yes</label>&nbsp;
	  <input type="radio" name="export" value="no" id="export_no"
	    {% if request.POST.export == 'no' %}
	      checked="checked"
	    {% endif %}
	   /><label
	    for="export_no">No</label>
	    {% help_icon "export_help" %}
	</div>
</div>

<script type="application/javascript">
	function setHidden(){
  	if ($('#publish_true').is(':checked')) {
 			// public
  		$("#harv_index").show();
		}else{
			// reserved
			$("#harv_index").hide();
		}
  }
	$("[name='publish']").bind("change", function(){
		setHidden();
  });
  setHidden();
</script>