{% load layout_extras %}
{% load metadata_tags %}

<input name="original_profile" id="original_profile"  type="hidden" value="{{current_profile.name}}"/>
<h2>Step 4: Describe the identified object using the 
<select name="current_profile" id="current_profile">
  {% for prof in profile_names %}
    <option value="{{prof.0}}"
      {% if prof.0 == current_profile_name %}
        selected="selected"
      {% endif %}
    >{{prof.1}}</option>
  {% endfor %}
</select>
citation profile:</h2>
<label for="_target" class="left {% tooltip_class "_target" %}">
  {{internal_profile.target.displayName}}:
</label>
<div class="field_right">
  <input type="text" class="{% tooltip_class "_target" %} std_form_width" name="_target" id="_target" size="35" value="{% request_value "_target" %}"/>
</div>
{% if manual_profile %}
  <div style="clear:both;">
  	{% include manual_template %}
  </div>
{% else %}
	{% for e in current_profile.elements %}
	  <label for="{{e.name}}" class="left {% tooltip_class e.name %}">
	    {{e.displayName}}:
	  </label>
	  <div class="field_right">
	    {% display_form_element e %}
	    {% if current_profile.name == 'datacite' and e.name != 'datacite.resourcetype' %}
				{% datacite_field_help_icon e.name %}
	  	{% endif %}
	  </div>        
	{% endfor %}
{% endif %}
