	  <table>

	    {% if datacite_obj.creators.creator %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Creator:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for creator in datacite_obj.creators.creator %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Name:</td> 
	    <td class="dcms_value">{{ creator.creatorName }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Name Identifier:</td> 
	    <td class="dcms_value">{{ creator.nameIdentifier }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Name Identifier Scheme:</td> 
	    <td class="dcms_value">{{ creator.nameIdentifier.attrib.nameIdentifierScheme }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme URI:</td> 
	    <td class="dcms_value">{{ creator.nameIdentifier.attrib.schemeURI }}</td></tr>
	    {% endfor %}
	    {% endif %}

	    {% if datacite_obj.titles.title %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Title:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for title in datacite_obj.titles.title %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Title:</td> 
	    <td class="dcms_value">{{ title }}</td></tr>

	    <tr class="dcms_element">
	    <td class="dcms_label">Type:</td> 
	    <td class="dcms_value">
	      {% if title.attrib.titleType %}{{ title.attrib.titleType }}
              {% else %}Main{% endif %}
	    </td></tr>
	    {% endfor %}
	    {% endif %}

	    <tr class="dcms_element">
	    <th class="dcms_label">Publisher:</th> 
	    <td class="dcms_value">{{ datacite_obj.publisher }}</td></tr>
	    <tr class="dcms_element">
	    <th class="dcms_label">Publication Year:</th> 
	    <td class="dcms_value">{{ datacite_obj.publicationYear }}</td></tr>
	    {% if datacite_obj.language %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Language:</th> 
	    <td class="dcms_value">{{ datacite_obj.language }}</td></tr>
	    {% endif %}
	    {% if datacite_obj.version %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Version:</th> 
	    <td class="dcms_value">{{ datacite_obj.version }}</td></tr>
	    {% endif %}

	    {% if datacite_obj.resourceType.attrib.resourceTypeGeneral %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Resource Type:</th> 
	    <td class="dcms_value">{{ datacite_obj.resourceType.attrib.resourceTypeGeneral }}</td></tr>
	    {% endif %}
	    {% if datacite_obj.resourceType %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Resource Type Description:</td> 
	    <td class="dcms_value">{{ datacite_obj.resourceType }}</td></tr>
	    {% endif %}

	    {% if datacite_obj.descriptions.description %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Abstract:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
            {% for descr in datacite_obj.descriptions.description %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Descriptive information:</td> 
	    <td class="dcms_value">{{ descr }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Type:</td> 
	    <td class="dcms_value">{{ descr.attrib.descriptionType }}</td></tr>
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.subjects.subject %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Subject:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for subject in datacite_obj.subjects.subject %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Subject:</td> 
	    <td class="dcms_value">{{ subject }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme:</td> 
	    <td class="dcms_value">{{ subject.attrib.subjectScheme }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme URI:</td> 
	    <td class="dcms_value">{{ subject.attrib.schemeURI }}</td></tr>
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.contributors.contributor %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Contributor:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for contributor in datacite_obj.contributors.contributor %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Name:</td> 
	    <td class="dcms_value">{{ contributor.contributorName }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Name Identifier:</td> 
	    <td class="dcms_value">{{ contributor.nameIdentifier }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Name Identifier Scheme:</td> 
	    <td class="dcms_value">{{ contributor.nameIdentifier.attrib.nameIdentifierScheme }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme URI:</td> 
	    <td class="dcms_value">{{ contributor.nameIdentifier.attrib.schemeURI }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Contributor Type:</td> 
	    <td class="dcms_value">{{ contributor.attrib.contributorType }}</td></tr>
	    {% endfor %}
	    {% endif %}

	    {% if datacite_obj.formats.format %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Format:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for format in datacite_obj.formats.format %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Format:</td> 
	    <td class="dcms_value">{{ format }}</td></tr>
	    {% endfor %}
	    {% endif %}

	    {% if datacite_obj.dates.date %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Date:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
            {% for date in datacite_obj.dates.date %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Date:</td> 
	    <td class="dcms_value">{{ date }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Date Type:</td> 
	    <td class="dcms_value">{{ date.attrib.dateType }}</td></tr>
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.alternateIdentifiers.alternateIdentifier %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Alternate Identifier:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
            {% for altId in datacite_obj.alternateIdentifiers.alternateIdentifier %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Identifier:</td> 
	    <td class="dcms_value">{{ altId }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Identifier Type:</td> 
	    <td class="dcms_value">{{ altId.attrib.alternateIdentifierType }}</td></tr>
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.relatedIdentifiers.relatedIdentifier %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Related Identifier:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for relId in datacite_obj.relatedIdentifiers.relatedIdentifier %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Identifier:</td> 
	    <td class="dcms_value">{{ relId }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Identifier Type:</td> 
	    <td class="dcms_value">{{ relId.attrib.relatedIdentifierType }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Relation Type:</td> 
	    <td class="dcms_value">{{ relId.attrib.relationType }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Related Metadata Scheme:</td> 
	    <td class="dcms_value">{{ relId.attrib.relatedMetadataScheme }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme URI:</td> 
	    <td class="dcms_value">{{ relId.attrib.schemeURI }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">Scheme Type:</td> 
	    <td class="dcms_value">{{ relId.attrib.schemeType }}</td></tr>
	    {% endfor %}
	    {% endif %}

	    {% if datacite_obj.rightsList.rights %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Rights:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
            {% for rights in datacite_obj.rightsList.rights %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Rights:</td> 
	    <td class="dcms_value">{{ rights }}</td></tr>
	    <tr class="dcms_element">
	    <td class="dcms_label">URI:</td> 
	    <td class="dcms_value">{{ rights.attrib.rightsURI }}</td></tr>
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.geoLocations.geoLocation %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Geolocation:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
            {% for geoLoc in datacite_obj.geoLocations.geoLocation %}
	    {% if geoLoc.geoLocationPoint %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Point:</td> 
	    <td class="dcms_value">{{ geoLoc.geoLocationPoint }}</td></tr>
	    {% endif %}
	    {% if geoLoc.geoLocationBox %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Box:</td> 
	    <td class="dcms_value">{{ geoLoc.geoLocationBox }}</td></tr>
	    {% endif %}
	    {% if geoLoc.geoLocationPlace %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Place:</td> 
	    <td class="dcms_value">{{ geoLoc.geoLocationPlace }}</td></tr>
	    {% endif %}
            {% endfor %}
	    {% endif %}

	    {% if datacite_obj.sizes.size %}
	    <tr class="dcms_element">
	    <th class="dcms_label">Size:</th> 
	    <td class="dcms_value">&nbsp;</td></tr>
	    {% for size in datacite_obj.sizes.size %}
	    <tr class="dcms_element">
	    <td class="dcms_label">Size:</td> 
	    <td class="dcms_value">{{ size }}</td></tr>
	    {% endfor %}
	    {% endif %}
