{% load layout_extras %}
{% load i18n %}
  <div class="col-xs-1" style="float: left;">
    <button class="btn" id="get_link" type="button">{% trans "Get Link" %}</button>
  </div>

  <!-- Get Link Modal -->
  <div class="get_link_box" id="get_link_box">
    <div style="padding-top:8px;">
      <div style="float:right;padding-right:8px;">
        <a href="#" class="close not-text" id="close_box_link" aria-label="close">&times;</a>
      </div>
      <input type="text" id="copy_url_value" size="32" value="{% full_url_to_id_details id_text %}" readonly="true" /><br/>
    </div>
 </div>
  <!-- End Get Link Modal -->
<script type="text/javascript">
  $("#get_link").bind("click", function(event){
    $("#get_link_box").css('display','block');
    $("#copy_url_value").focus();
    $("#copy_url_value").select();
    return false;
  });
  
  $("#close_box_link").bind("click", function(event){
    $("#get_link_box").css('display','none');
    return false;
  });
</script>
