{% load layout_extras %}
{% load i18n %}
    <button class="btn" id="copy_link" type="button">{% trans "Copy Link" %}</button>

<script type="text/javascript">
  // Copy URL
  $('#copy_link').click(function(){
    $('#url_to_copy').fadeOut(100, function() {
      $('#copy_message').fadeIn(400).delay(600);
      $('#id_as_url__box').css('background-color', '#F9EDBE');
      $('#copy_message').fadeOut('normal', function() {
        $('#url_to_copy').fadeIn(100);
        $('#id_as_url__box').css('background-color', 'white');
      });
    });
  });
</script>
