{% with sp="&nbsp;&nbsp;&nbsp;" %}
      <select name="owner_selected" id="owner_selected" class="fcontrol__select">
{% for realm,group in owner_names.items %}
        {% if realm != '' %}
	<option value="{{realm}}"
        {% if realm == owner_selected %}
          selected="selected"
        {% endif %}
        >{{realm}}</option>
        {% endif %}
  {% for g,users in group.items %}
    {% if g != '' %}
	<option value="{{g}}"
      {% if g == owner_selected %}
          selected="selected"
      {% endif %}
      {% if group_admin %}
        >{{sp}}{{group_admin}}</option>
      {% else %}
        >{{sp}}{{g}}</option>
      {% endif %}
    {% endif %}
    {% for username, userdisplay in users %}
	<option value="{{username}}"
        {% if username == owner_selected %}
          selected="selected"
        {% endif %}
        >{{sp}}{{sp}}{{userdisplay}}</option>
    {% endfor %}
  {% endfor %}
{% endfor %}
      {% if realm == 'realm_null' %}

      {% endif %}
      </select>
{% endwith %}
