    <div class="fcontrol__help-wrapper">
      <div class="fcontrol__help">EZID search uses AND logic which means ALL terms entered into a search box must be present in order to show up in the results.
      </div>
      <div>
        <div class="fcontrol__help">&nbsp;&nbsp;&nbsp;&nbsp;&#8226; Example AND search: "trees fruit" will return any search results with both keywords trees and fruit.</div>
        <div class="fcontrol__help">If you would like to use OR logic which means ANY terms entered in the search box can be present in the results, please add an "OR" to the search query.</div>
        <div class="fcontrol__help">&nbsp;&nbsp;&nbsp;&nbsp;&#8226; Example OR search: "trees OR fruit" will return any search results with the keywords trees or fruit.</div>
      </div>
    </div>
