{% load layout_extras %}
{% load metadata_tags %}
{% load i18n %}

<div class="fieldset-stacked" role="group" aria-labelledby="create__fieldset2">
  <span id="create__fieldset2" class="fieldset-stacked__legend-number-2">{% trans "Describe the identified object" %}</span>
  <input type="hidden" name="current_profile" id="current_profile" value="{{current_profile.name}}" />
{{ form.non_field_errors }}
{% for field in form %}
  <div class="fcontrol__group-inline{% if field.errors %}--invalid{% endif %} create__form-element-group">
    <label for="{{ field.id_for_label }}" class="fcontrol__text-label-inline create__label-simple">{{ field.label }}</label>
    {{ field|add_attributes:"fcontrol__text-field-inline"}}
  {% if field.errors %}
    <span class="fcontrol__invalid-flag">
    {% for error in field.errors %}
      {{ error|escape }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endfor %}
</div>
