{% load layout_extras %}
{% load metadata_tags %}
{% load i18n %}

<div class="row idcreate-content-row vertical-buffer-sm">
  <div class="inline-header">
    <span class="number-big">2</span>
    <h2 class="id-creation">{% trans "Describe the identified object" %}</h2>{% help_icon "describe_profile" %}
  </div>
  <input type="hidden" name="current_profile" id="current_profile" value="{{current_profile.name}}" />
{% for field in form %}
  <div class="form-group form-group-sm{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
      {{ field.label }}
    </label>
    <div class="col-sm-7">
      {{ field|add_attributes:"form-control"}}
    </div>
  {% if field.errors %}
    <div class="col-sm-2">
    {% for error in field.errors %}
      {{ error|escape }}
    {% endfor %}
    </div>
  {% endif %}
  </div>
{% endfor %}
</div>
