{% load layout_extras %}
{% load i18n %}

<div class="fieldset-stacked" role="group" aria-labelledby="create__fieldset1">
  <fieldset>
    <legend id="create__fieldset1" aria-label="{% trans "Step 1 - Choose an identifier type" %}" class="fieldset-stacked__legend-number-1">
      <h2 class="fieldset__heading-2">{% trans "Choose an identifier type" %}</h2>
      {% if calling_page == 'demo' %}
        {% help_icon "choose_id_demo" _("on choosing the type of identifier") %}
      {% else %}
        {% help_icon "choose_id" _("on choosing the type of identifier") %}
      {% endif %}
    </legend>
    {% if prefixes|duplicate_id_types %}
      {% comment %}
        class 'ays-ignore' is used by 'are-you-sure.js' which prevents users from accidentally leaving
        a form they are working on. In this case, we will allow users to choose between shoulder types.
        Although it's best we map already filled in fields over to next profile, which is something we should implement.
      {% endcomment %}
      {% for p in prefixes %}
        <label for="{{p.prefix}}" class="fcontrol__radio-label-stacked create__radio-button">
          <input id="{{p.prefix}}" class="fcontrol__radio-button-stacked ays-ignore" type="radio" value="{{p.prefix}}" name="shoulder" {% selected_radio "shoulder" forloop.counter p.prefix %} /> <span>{% shoulder_display p "False" testPrefixes "False" %}</span>
        </label>
      {% endfor %}
    {% else %}
      {% for p in prefixes %}
        <label for="{{p.prefix}}" class="fcontrol__radio-label-stacked create__radio-button">
          <input id="{{p.prefix}}" class="fcontrol__radio-button-stacked ays-ignore" type="radio" value="{{p.prefix}}" name="shoulder" {% selected_radio "shoulder" forloop.counter p.prefix %} /> <span>{% shoulder_display p "False" testPrefixes "True" %}</span>
        </label>
      {% endfor %}
    {% endif %}
  </fieldset>
</div>
