{% load layout_extras %}
{% load metadata_tags %}

<h2>Step 2: Describe the identified object</h2>
<input type="hidden" name="current_profile" id="current_profile" value="{{current_profile.name}}" />
<label for="_target" class="left {% tooltip_class "_target" %}">
  {{internal_profile.target.displayName}}:
</label>
<div class="field_right">
  <input type="text" class="{% tooltip_class "_target" %} std_form_width" name="_target" id="_target" size="35" value="{% request_value "_target" %}"/>
  {% include "includes/datacite_delay_disclaimor.html" %}
</div>
{% for e in current_profile.elements %}
  <label for="{{e.name}}" class="left {% tooltip_class e.name %}">
    {{e.displayName}}:
  </label>
  <div class="field_right">
  	{% display_form_element e %}
  	{% if current_profile.name == 'datacite' and e.name != 'datacite.resourcetype' %}
			{% datacite_field_help_icon e.name %}
  	{% endif %}
  </div>
{% endfor %}