{% load layout_extras %}
{% load menus %}

<div class="header__admin-text">
&nbsp;
{% if session.auth %}
Welcome {{ session.auth.user|first }}!
{% endif %}
</div>

<header role="banner" class="header">
  <div class="header__logos">

      {% comment %} host_based_include "includes/localized/_/logo.html" {% endcomment %}
    <a class="header__main-logo-link" href="/">
      <img class="header__main-logo-image" src="/static/images/logo.svg" alt="University of California, Easy ID, identifiers made easy">
    </a>
    <a class="header__affiliate-logo-link" href="http://www.lib.purdue.edu">
      <img class="header__affiliate-logo-image" src="/static/images/logo_purdue.svg" alt="Purdue University Libraries">
    </a>
  </div>

  <button type="button" id="js-header__nav-button" class="header__nav-button" aria-controls="js-header__nav">
    <img src="/static/images/mobile-menu.svg" alt="Show or hide navigation" class="header__nav-button-icon">
  </button>

  <nav role="navigation" id="js-header__nav" class="header__nav--selected" aria-hidden="false">
    <a class="header__search-link" href="/search">Search</a>
    <div class="header__learn">
      <a id="header__learn-link" class="header__learn-link" href="{% url "ui_home.learn" %}">Learn</a>
      <ul class="header__learn-subnav" aria-hidden="true">
        <li><a id="learn-01" href="{% url "ui_home.learn" %}#01">What Is EZID?</a></li>
        <li><a id="learn-02" href="{% url "ui_home.learn" %}#02">Current Users</a></li>
        <li><a id="learn-03" href="{% url "ui_home.learn" %}#03">Pricing</a></li>
        <li><a id="learn-04" href="{% url "ui_home.learn" %}#04">Documentation</a></li>
        <li><a id="learn-05" href="{% url "ui_home.learn" %}#05">FAQ</a></li>
        <li><a id="learn-06" href="{% url "ui_home.learn" %}#06">Media</a></li>
        <li><a href="/doc/apidoc.html">API Guide</a></li>
        <li><a href="{% url "ui_demo.index" %}">EZID Demo</a></li>
      </ul>
    </div>
    <a class="header__contact-link" href="{% url "ui.contact" %}">Contact</a>
    <div class="header__loginout">
      {% if session.auth %}
      <a class="not-text" href="/logout"><button class="header__loginout-link">Logout</button></a>
      {% else %}
      <button id="js-header__loginout-button" class="header__loginout-link">Login</button>
      {% endif %}
      {% include "includes/login-modal.html" %}
    </div>
  </nav>
</header>
    {% if session.auth %}
    <div class="login-menu">
      {% menu_user menu_item session %}
    </div>
    <p class="vertical-buffer-20"></p>
    {% endif %}
