<div class="grid_16 menu_main">
  <div>
    <span class="menu_current">Home</span>
  </div>
  <div>
    <a href="">Manage IDs</a>
  </div>
  <div>
    <a href="">Create IDs</a>
  </div>
  <div>
    <a href="">Lookup ID</a>
  </div>
  <div>
    <a href="">Demo</a>
  </div>
  <div>
    <a href="">Admin</a>
  </div>
</div>

<div class="grid_16 menu_secondary">
  <span class="menu_current">Why EZID?</span>
  &nbsp;|&nbsp;
  <a href="">Understanding Identifiers</a>
  &nbsp;|&nbsp;
  <a href="">Pricing</a>
  &nbsp;|&nbsp;
  <a href="">Documentation</a>
  &nbsp;|&nbsp;
  <a href="">Outreach</a>
  &nbsp;|&nbsp;
  <a href="">The EZID Community</a>  
</div>