// Footer
.footer-base{
  height: 130px;
}
$footer__padding-top--primary: 42px;
$footer__link--color: rgb(0, 86, 149); // Slightly diff't Teal Blue #005695
$footer-newsfeed-col-padding: 20px;

#footer-content{
  @extend .footer-base;
  padding: 0px;
  background-color:$design-secondary-lightest;
  max-width: 1000px;
  float:left;
}
#footer-content a{
  color: $footer__link--color;
  font-weight: normal;
}
#footer-gutter-left{
  @extend .footer-base;
  background-color:$design-secondary-lightest;
  width: calc(50% - 500px);  // ToDO: Should this say something like container.width/2 instead of 400?
  float:left;
}
#footer-gutter-right{
  @extend .footer-base;
  background-color:$design-secondary-footer-newsfeed;
  width: calc(50% - 500px);
  float:right;
}

#footer-logo-col {
  @extend .footer-base;
  width: 12.0%;     // 9.375%  75px
  margin-top: $footer__padding-top--primary;
}
#footer-content-col {
  @extend .footer-base;
  display: inline-block;
  width:  55.750%;  //  53.125%   425px
  padding-top: $footer__padding-top--primary;
  padding-right: 20px;
  padding-left: 17px;
  font-size: 0.7em;
  line-height: 1.8; 
}
// Small dividing border on left side
#footer-content-col > span {
  border-left: 1px solid #333;
  height: 38px;
  position: absolute;
  top: $footer__padding-top--primary;
  left: 0px;
}

#footer-icon-col {
  @extend .footer-base;
  display: inline-block;
  width: 7.2%;    //  8.125%  65px
  background-color: $design-secondary-footer-iconBG;
  padding-top: 12px;
}
#footer-newsfeed-col {
  @extend .footer-base;
  position: relative;
  display: inline-block;
  width: 25.05%;     // 29.375%  35px;
  background-color: $design-secondary-footer-newsfeed;
  padding-top: $footer__padding-top--primary - 10;
  padding-left: $footer-newsfeed-col-padding;
  font-size: 0.97em;
  font-family: $font-family-sans-serif--wider;
}
#footer-newsfeed-col a{
  font-size: 0.95em;
  font-family: $font-family-sans-serif;
}
#footer-newsfeed-linkall {
  position: absolute;
  top: 100px;
  left: $footer-newsfeed-col-padding;
}

.carousel-inner.vertical {
  height: 100%;
}
.carousel-inner.vertical > .item {
  -webkit-transition: 1.3s ease-in-out top;
  -o-transition: 1.3s ease-in-out top;
  transition: 1.3s ease-in-out top;
}

@media all and (transform-3d), 
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform 1.3s ease-in-out;
    -o-transition: -o-transform 1.3s ease-in-out;
    transition: transform 1.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner.vertical {
  > .active {
    top: 0;
  }
  > .next, > .prev {
    top: 0;
    height: 100%;
    width: auto;
  }
  .next {
    left: 0;
    top: 100%;
  }
  > .prev {
    left: 0;
    top: -100%
  }
  > .next.left, > .prev.right {
    top: 0;
  }
  > .active.left {
    left: 0;
    top: -100%;
  }
  > .active.right {
    left: 0;
    top: 100%;
  }
}
