/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Icons  (and Links with Icons)  ##### //

//Icon for indicating link points externally
// *** NOT PART OF HREF TAG - used for API Doc ***
.ext-icon {
  margin: 0px 4px 5px 4px;
  padding:9px;
  background: url("/static/images/ext-link.svg") no-repeat center left;
  width: 15px;
  height: 15px;
}

.ext-link {
  @extend %link__primary;
  margin-right: 24px;
  white-space:nowrap;
}

.ext-link:after {
  position: absolute;
  top: -0.1em;
  right: 0; // Align icon to the right edge of the link
  content: url('/static/images/ext-link.svg');
  width: 15px;
  height: 15px;
}

// This doesn't wrap properly. This has been re-implemented in dev/sass/_links.scss
//    although the underline border styling still extends too far in this
//    latest implementation (2016-03-04)
// .pdf-link {
//   @extend %link__primary;
//   margin-right: 24px;
// }

// .pdf-link:after {
//   position: absolute;
//   top: -0.1em;
//   right: -25px;
//   content: url('/static/images/pdf-icon_18x18.png');
//   width: 15px;
//   height: 15px;
// }

// Links to PDFs (png background image)
.ppt-link {
  @extend %link__primary;
  margin-right: 24px;
}

.ppt-link:after {
  position: absolute;
  top: -0.1em;
  right: -20px;
  content: url('/static/images/powerpoint.svg');
  width: 15px;
  height: 15px;
}

// Links to PDFs (png background image)
.msword-link {
  @extend %link__primary;
  margin-right: 24px;
}

.msword-link:after {
  position: absolute;
  top: -0.1em;
  right: -20px;
  content: url('/static/images/word-icon.svg');
  width: 15px;
  height: 15px;
}
