/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

%link__primary {
	position: relative;
	border-bottom: 1px solid $design-light-gray-border-color;
	color: $design-primary-color;
	text-decoration: none;

	&:hover {
		border-bottom: 1px solid $design-primary-color;
		color: $design-primary-color;
		text-decoration: none; // bootstrap override
	}

}
