/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// Contact Page


@media (min-width:$container-md){
  .contact-promotional-base{
    min-height: 560px;
  }
}

@media (max-width:$container-sm){
  .contact-promotional-base{
    min-height: 300px;
  }
}
#contact-gutter-left {
  @extend .contact-promotional-base;
  background: $design-secondary-color;
  width: calc(50% - #{$container-md/2});
  float:left;
}
#contact-content{
  padding: 0px;
  max-width: $container-md;
  float:left;
}
#contact-gutter-right{
  width: calc(50% - #{$container-md/2});
  float:right;
}
.promotional {
  @extend .contact-promotional-base;
}
// Overwrite default border-left and padding
blockquote {
  margin: 0px;
  border-left: 0px;
  padding: 28px 33px 0px 0px;
  line-height: 1.2em;
}

blockquote p {
  font-size: 0.9em;
  font-style: italic;
  font-weight: bold;
  color: $design-primary-color;;
  a, , a:visited, , a:active , a:hover {
    color: #FFF;
    text-decoration: underline;
  }
}
.blockquote-footer {
  margin: 18px 0px 0px $layout-container-margin-lg;
  font-family: $font-family-sans-serif-caps;
  font-size: 0.80em;
  color: $design-primary-color;
  line-height: 1.2em;
}
.carousel-indicators {
  bottom: 0px;
  li {
    border: 1px solid $design-primary-color;
    background-color: $design-primary-color;
  }
}
.col-promotional .tagline {
  margin: 20px 10px 0px 0px;
  font-size: 1.09em;
  font-family: $font-family-sans-serif--wider;
  font-weight: bold;
  text-align: right;
  a, a:visited, a:hover, a:active {
    color: $design-pop-gradient-bottom !important;
  }
}
