/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Bootstrap Popover ##### //

// This style needs to be asserted. Otherwise, styles inhert from assigned container
.popover-content, .popover-body {
	font-size: 15px;
	line-height: 1.3;
	font-weight: normal;
	color: $design-black-color;
}
