/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Main Sass ##### //

// Test with red borders
// * {
//  border: 1px solid red !important;
// }

// This file imports all Sass partials below and compiles result to main.css

// ***** Global Settings ***** //
@import "variables";  // I think this needs to come before bootstrap import below
@import "fonts";

// ***** Vendor Libraries ***** //
@import "_bootstrap.scss";

// ***** Custom Components ***** //
@import "mixins"; // This needs to come first in order

// ***** Custom Elements ***** //
@import "icons";
@import "links_new";
@import "text";

@import "footer";  // Just carousel stuff left in here
@import "headings";
@import "modal-login_new";
@import "modal-customize";
@import "pg-api";
@import "pg-contact";
@import "pg-dashboard";
@import "pg-idcreate";
@import "pg-index";
@import "pg-learn";
/* @import "popover"; */
@import "datacite_xml";

.inline {
  display: inline;
}
padding-left-base {
  padding-left: 40px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.vertical-buffer-bot { margin-bottom: $layout-container-margin-xs;}
.vertical-buffer-bot-md { margin-bottom: 15px;}
.vertical-buffer-bot-lg { margin-bottom: 25px;}
.vertical-buffer { margin-top:50px; }
.vertical-buffer-sm { margin-top:30px; }
@media (min-width:$container-md){
  .vertical-buffer-sm-resp { margin-top:40px; }
}
@media (max-width:$container-md){
  .vertical-buffer-sm-resp { margin-top:15px; }
}
.vertical-buffer-20 { margin-top:20px; }
.vertical-buffer-xs { margin-top:15px; }
.vertical-buffer-xxs { margin-top:5px; }
.horizontal-buffer-xs { margin-left:10px; }
.vertical-buffer-xxs { margin-top:5px; }
.horizontal-buffer { margin-left:40px; }
.tagline { margin: 0px; }

.width-reduced {
  width: 87%;
}

.width-reduced-md {
  width: 75%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.padding-left {
  @extend padding-left-base;
}

.padding-left {
  @extend padding-left-base;
}

hr {
  border-color: $design-secondary-color !important; // works in Chrome and Safari
  background-color: $design-secondary-color; // works in Firefox and Opera
  color: $design-secondary-color;  // works in IE7+
  margin-top: 0px;
  margin-bottom: 20px;
}

.border-left-solid-blue {
  position: relative;
  border-left: 1px solid $design-primary-color;
  padding-left: $layout-container-margin-sm;
  height: 7px;
  top: 1px;
  left: 2px;
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 1024px) {
//  .container {
//    width: $container-md;
//  }
// }
// @media screen and (max-width: 799px) {
//   .container {
//     padding: 0px 8px;
//   }
// }

/* a hidden field in the email form for screen scrapers for
 * a "honeypot" like spam reducer.  If this field is filled
 * in then something is wrong since it should not be filled
 * in by normal users.
 */
.trapper_keeper {
  display:none;
}
