/*!
 * Copyright©2021, Regents of the University of California
 * http://creativecommons.org/licenses/BSD
 */

// ##### Global Variables ##### //

// ***** Design Variables ***** //

// Teal Gradient (light to dark):
// 00A3AD to 00778B
// Gold Gradient (light to dark):
// C7b183 to B4975A

$breadcrumb-separator:          "/" !default; // now missing from bootstrap

$text-link-color: rgb(176, 189, 202); // muted blue #B0BDCA

$text-link-over-beige: rgb(0, 57, 97); // #003961 blue link over beige backgrounds

$design-primary-color: rgb(0, 119, 138); // Teal Blue #00778b
$design-primary-gradient-top: rgb(6, 80, 89); // Lighter Teal Blue #168b99 was #17A2AC
$design-primary-gradient-bottom: rgb(1, 64, 71); // Slightly darker Teal Blue #056a7b

// Brown colors
$design-secondary-gradient-top: rgb(213, 197, 165); // #D5C5A5
$design-secondary-color: rgb(208, 190, 149); // #D0BE95
$design-secondary-lighter: rgb(214, 200, 164); // #D6C8A4

$design-secondary-footer-newsfeed: rgb(221, 208, 181); // #DDD0B5
$design-secondary-footer-icon-bg: rgb(229, 219, 197); // #E5DBC5
$design-secondary-lightest: rgb(236, 229, 214); // Beige  #ECE5D6

// Orange colors
$design-pop-color: rgb(255, 127, 34); // Bright Orange  #FF7F22
$design-pop-gradient-top: rgb(255,142,40); // Slightly Lighter Orange  #FF8E28
$design-pop-gradient-bottom: rgb(255,112,28); // Slightly Darker Orange  #FF701C
$design-pop-dark: rgb(216,64,47); // Reddish Orange  #D8402F

// These were missing so I'm guessing at the values and required to compile scss
$gray-light: rgb(190, 182, 175); // #BEB6AF
$gray-lighter: rgb(237, 234, 229); // #EDEAE5

$design-light-gray-border-color: rgb(190, 182, 175);
$design-light-gray-bg-color: rgb(249, 248, 247);  // #F9F8F7
$design-light-gray-gradient-bottom: rgb(237,234,229); // #EDEAE5

$design-dark-gray-color: rgb(124, 126, 127); // #7c7e7f

$design-form-element-bg: linear-gradient(to bottom, lighten($design-dark-gray-color, 47%), lighten($design-dark-gray-color, 40%));

$design-mark-color: rgb(251, 183, 20);  // orange highlight color  #FBB714

$design-white-color: rgb(255, 255, 255); // white #fff

$design-black-color: rgb(0, 0, 0); // black #000

$design-red-color: rgb(158, 25, 25); // red #9E1919

$header-logo-xs-width: 200px;
$header-logo-xs-height: 60px;
$header-logo-md-width: 284px;
$header-logo-md-height: 82px;
$layout-component-margin: 20px;
$layout-container-margin-xs: 4px;
$layout-container-margin-sm: 10px;
$layout-container-margin-md: 20px;
$layout-container-margin-lg: 30px;
$layout-box-padding: 10px;
$listview-text-line-height: 1.5em;
$print-sm-min: 5in;
$print-md-min: 7.5in;
$print-lg-min: $print-md-min;
$form-element-height: 30px;
$form-element-group-spacing: 20px;
$form-element-label-width: 23rem;
$form-element-border-radius: 3px;

// ***** Bootstrap Variables ***** //

$text-color: #000;
$link-color: $design-primary-color;
$font-family-sans-serif:  KievitWeb, Arial, sans-serif !default;
$font-family-sans-serif-caps:  KievitScWeb, Arial, sans-serif;
$font-family-sans-serif--wider:  FreightSansProMedium-Regular, Arial, sans-serif;
$font-size-base: 1.3;
$line-height-base: 1.3;
$btn-default-border: #FFF;
$input-border: $design-dark-gray-color;
$input-border-focus: $design-primary-color;
$input-color-placeholder: lighten(#000, 44.0%) !default; // #707070 WCAG-AA compliant
$border-radius-base: 0;
$grid-gutter-width: 0;
// $screen-sm-min: 780px;
// $screen-md-min: 1000px;
$screen-sm: 480px;
$screen-sm-min: 480px;
$screen-md: 768px;
$screen-md-min: 768px;
$screen-lg: 1000px;
$screen-lg-min: 1000px;
$container-sm: $screen-sm-min;
$container-md: $screen-md-min;
$container-lg: $screen-lg-min;
$popover-bg: #eee;
$popover-max-width: auto;
$popover-arrow-color: $popover-bg;

$alert-warning-bg:            #ff8625;   // Slightly more muted version of $design-pop-color
$alert-warning-border:        #ff8625;
$alert-warning-text:          $design-black-color;
$alert-success-bg:            #86CA82;
$alert-success-border:        #86CA82;
$alert-success-text:          $design-black-color;
$alert-error-bg:            $design-red-color;
$alert-error-border:        $design-red-color;
$alert-error-text:          $design-white-color;

$alert-info-bg:               #c4ae7d;
// $alert-info-text:             $state-info-text !default;
// $alert-info-border:           $state-info-border !default;

$breadcrumb-bg:   $design-white-color;
$carousel-indicator-active-bg:       $design-primary-color !default;
$carousel-indicator-border-color:    $design-primary-color !default;

// ***** Font Awesome ***** //

$fa-font-path: "/bower_components/fontawesome/fonts" !default;

// ***** Slick Carousel ***** //

$slick-font-family: "FontAwesome";
$slick-arrow-color: $design-primary-color;
$slick-prev-character: '\f104';
$slick-next-character: '\f105';
$slick-arrow-spacing: 30px;

$hr-border: $design-secondary-color;
