{% load manage_form_tags %}
{% load i18n %}

<div class="pagination">
  <form method="get" action="{% url primary_page %}" id="ps-{{ select_position }}" role="form">
  {% if filtered %}
  <input name="filtered" type="hidden" value="t"/>
  {% endif %}
  {% rewrite_hidden_except REQUEST 'ps,p' %}
  <input name="p" type="hidden" value="1"/>
  <div class="pagination__select-group">
    <label for="page-size-{{ select_position }}" class="pagination__select-label">{% trans "Show" %}</label>
    <select aria-label="{% trans "Show number of entries" %}" name="ps" id="page-size-{{ select_position }}" class="pagination__select">
    {% for size in page_sizes %}
      <option value="{{ size }}"
        {% if size == ps %}
          selected="selected"
        {% endif %}
      >{{ size }}</option>
    {% endfor %}
    </select>
    <span class="search-results__select-appended-text">{% trans "entries" %}</span>
  </div>
  </form>
  <form method="get" action="{% url primary_page %}" id="p-{{ select_position }}" role="form">
  {% if filtered %}
  <input name="filtered" type="hidden" value="t"/>
  {% endif %}
  {% rewrite_hidden_except REQUEST 'p' %}
  <div class="pagination__input-group">
  {% pager_display REQUEST p total_pages ps select_position %}
  </div>
  </form>
</div>
<script type="text/javascript">
  // ******* PAGE SIZE *******
  // submit on change
  $("#page-size-{{ select_position }}").bind("change", function(event){
    $("#ps-{{ select_position }}").submit();
    setTimeout(function() { loadingIndicator(); }, 4000);
  });

  // *******   PAGE   *******
  // page selection input field: submit on enter key
  $("#page-directselect-{{ select_position }}").keyup(function(e){ 
    // submit value in input on enter key
    var code = e.which;
    if(code==13)e.preventDefault();
    if(code==32||code==13||code==188||code==186){
      $("#p-{{ select_position }}").submit();
      setTimeout(function() { loadingIndicator(); }, 4000);
    }
  });

  // ensure "Go" button triggers same logic as Enter key
  $("#page-directselect-{{ select_position }}").siblings("button[type='submit']").click(function(e){
    e.preventDefault();
    $("#p_{{ select_position }}").submit();
  });

  // page selection buttons change value in input field and submit on click
  $("#p-{{ select_position }} button").click(function(e){
    var p = $(e.currentTarget).data('page');
    $('#page-directselect-{{ select_position }}').val(p);
    $("#p-{{ select_position }}").submit();
    setTimeout(function() { loadingIndicator(); }, 4000);
  });
</script>
