[auth]
admin_password: {{ auth_password }}

[databases]
store_host: {{ database_host }}
store_port: {{ database_port }}
store_password: {{ database_password }} 

search_host: {{ database_host }}
search_port: {{ database_port }}
search_password: {{ database_password }} 

[binder]
password: {{ binder_passwod }}

[shoulders]
password: {{ shoulders_password }}

[minter_server_main]
password: {{ minter_server_main_password }}

[allocator_CDL]
password: {{ allocator_CDL_password }}

[allocator_PURDUE]
password: {{ allocator_PURDUE_password }}

[crossref]
password: {{ crossref_password }}
