[auth]
admin_password: {{ admin_password }}

[databases]
store_host: {{ db_host }}
store_port: {{ db_port }}
store_password: {{ db_password }} 

search_host: {{ db_host }}
search_port: {{ db_port }}
search_password: {{ db_password }} 

[binder]
password: {{ binder_password }}

[shoulders]
password: {{ binder_password }}

[minter_server_main]
password: {{ binder_password }}

[allocator_CDL]
password: {{ allocator_cdl_password }}

[allocator_PURDUE]
password: {{ allocator_purdue_password }}

[crossref]
password: {{ crossref_password }}
