# Managed by Ansible
#
# Sourced by etc/init.d/httpd for WSGI config
#
EZID_DEV={{ app_dir }}/ezid
export PYTHONPATH="${EZID_DEV}:${EZID_DEV}/impl:$PYTHONPATH"
export PATH="{{ pyenv_root }}/bin:${PATH}"
export venv={{ venv_name }}
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
