[auth]
admin_password: {{admin_password}}

[databases]
store_host: {{db_host}}
store_port: {{db_port}}
store_password: {{db_password}}

search_host: {{db_host}}
search_port: {{db_port}}
search_password: {{db_password}}
