{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}Learn About EZID{% endblock %}A
{% block description %}{%trans "Learn more about EZID pricing, documentation and current users." %}{% endblock %}

{% block heading %}{% content_heading "Learn About EZID" %}{% endblock %}
{% block content %}
<div class="container accordion vertical-buffer-xs">
  <div class="accordion">
  <details id="accordion__section-01" class="accordion__section">
    <summary class="accordion__title">What Is EZID?</summary>
{% include "info/what_is_ezid.html" %}
  </details>
  <details id="accordion__section-02" class="accordion__section">
    <summary class="accordion__title">Current Users</summary>
{% include "info/current_users.html" %}		
  </details>
  <details id="accordion__section-03" class="accordion__section">
    <summary class="accordion__title">Pricing</summary>
{% include "info/pricing.html" %}    
  </details>
  <details id="accordion__section-04" class="accordion__section">
    <summary class="accordion__title">Documentation</summary>
{% include "info/documentation.html" %}
  </details>
  <details id="accordion__section-05" class="accordion__section">
    <summary class="accordion__title"><abbr title="Frequently Asked Questions">FAQ</abbr></summary>
{% include "info/faq.html" %}
  </details>
  <details id="accordion__section-06" class="accordion__section">
    <summary class="accordion__title">Media</summary>
{% include "info/media.html" %}
  </details>
  </div>
</div>

{% endblock %}
