{% extends "layouts/base.html" %}
{% load i18n %}
{% comment %}
***** NOT WORKING ****}
{% trans "Contact Us" as t2_title %}
{% endcomment %}
{% block title %}{%trans "Contact Us" %}{% endblock %}

{% block content %}

{% comment %}
***** NOT WORKING ****}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<p>{% trans "TESTING: Welcome to our page. Language: " %}{{ LAGUAGE_CODE }}</p>
{% endcomment %}

{% comment %}
This tag forces language:
{% language 'fr' %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    <p>{% trans "TESTING: Welcome to our page. Language: " %}{{ LANGUAGE_CODE }}</p>
{% endlanguage %}
{% endcomment %}

<!-- 
{% get_language_info for LANGUAGE_CODE as lang %}
Language code: {{ lang.code }}<br />
Name of language: {{ lang.name_local }}<br />
Name in English: {{ lang.name }}<br />
Bi-directional: {{ lang.bidi }}<br />
request.LANGUAGE_CODE: {{ request.LANGUAGE_CODE }}
-->

{% trans "Contact Us" as t_title %}

<div id="pwreset" class="grid_12">

	<h1 id="title">{{ t_title }}</h1>

	<p style="width:500px">
		{% blocktrans %}Please fill out this form if you would like more information about our services or have a specific question. If you have a comment we are always happy to hear feedback.{% endblocktrans %}
	</p>

	<form name="contact" action="{% url "ui.contact" %}" method="post">
		<label for="your_name" class="left">{% trans "Your Name" %}:</label>
		<div class="field_right">
			<input type="text" name="your_name" value="{{ your_name }}" maxlength="200" size="40" />
		</div>
		
		<label for="url" class="trapper_keeper">Your url:</label>
		<div class="trapper_keeper">
			<input type="text" name="url" value="" maxlength="200" size="40" /> * {% trans "Please leave blank. This field is meant to filter out Spam Bots." %}
		</div>

		<label for="email" class="left">{% trans "Your Email" %}:</label>
		<div class="field_right">
			<input type="text" name="email" value="{{ email }}" maxlength="200" size="40" />
		</div>

		<label for="affiliation" class="left">{% trans "Your Institution" %}:</label>
		<div class="field_right">
			<input type="text" name="affiliation" value="{{ affiliation }}" maxlength="200" size="40" />
		</div>
		
		<label class="left">&nbsp;</label>
		<div class="field_right" style="width:400px;">
			{% trans "Please indicate your question or comment" %}:<br/>
			<textarea rows="10" cols="50" name="comment" style="margin-bottom:16px;">{{comment}}</textarea>
		</div>
		
		<div style="clear:both"></div>

		<label for="hear_about" class="left">{% trans "How did you hear about us?" %}</label>
		<div class="field_right">
			<select name="hear_about" id="hear_about">
				{% for tup in heard %}
					<option value="{{ tup.0 }}"
						{% if tup.0 == hear_about %}
							selected="selected"
						{% endif %}
						>{{ tup.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<label class="left"></label>
		<div class="field_right">
			{# Translators: This is the Submit button #}
			{% trans "Submit" as t_submit context "Button text"%}
			<input type="submit" value="{{ t_submit }}" />
		</div>

	</form>
</div>

{% endblock %}
