{% extends "tabs.html" %}

{% block hometab %}active{% endblock %}

{% block content %}

<p>EZID (ee-zee-eye-dee) makes it easy to create and manage unique,
persistent identifiers.</p>

<ul id="home">

<li class="bullet">You can create identifiers for any kind of entity
&mdash; physical, digital, abstract, etc.  For identifiers of objects
on the web, you can use EZID to maintain their current locations so
that people who click on the identifiers are correctly forwarded.</li>

<li class="bullet">You can also store citation metadata with
identifiers to aid in interpreting and maintaining them.  Several
citation formats are possible.</li>

<li class="bullet">EZID supports a number of persistent identifier
technologies, including <a
href="https://wiki.ucop.edu/display/Curation/ARK">ARKs</a> (Archival
Resource Keys) and <a href="http://www.doi.org/">DOIs</a> (Digital
Object Identifiers).</li>

<li class="bullet">Visit our <a
href="http://www.cdlib.org/services/uc3/ezid/index.html">website</a>
for more information about EZID identifiers, features, and
benefits.</li>

</ul>

<p>To operate EZID use the tabs above or the <a
href="http://www.cdlib.org/uc3/docs/ezidapi.html">programming
interface</a>.  You will need a login account to create identifiers,
but anyone can view identifier metadata.  Please <a
href="http://www.cdlib.org/services/uc3/contact.html">contact us</a>
if you are interested in setting up an account.</p>

{% endblock %}
