{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}EZID Home{% endblock %}

{% block content %}
    <div class"vertical-buffer-xs" id="frontpage_img">
      <div class="container">
        <div class="row">
          <ul class="lead">
            <li>Automate research workflow</li>
            <li>Store citation information</li>
            <li>Share unbreakable links</li>
          </ul>
          <p class="tagline">
            <a href="#" class="boxy-pop btn-big">SIGN UP FOR OUR NEWSLETTER &raquo;</a>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row vertical-buffer-sm">
      <!-- TODO: Mobile: Make this stmnt spread out. Hide arrow, or change it to point down -->
        <div class="col-sm-2" id="frontpage_idcreate_promo">
          <div class="lead2">SEE HOW EASY IT IS:</div>
          <div class="vertical-buffer-xs font-med">
            <p><strong>NOTE:</strong>&nbsp;&nbsp;This is just a demo.
            To create a real identifier, you must have an account.</p>
          </div>
        </div>

        <div class="col-sm-10" id="frontpage_idcreate_content">
          <div class="frontpage_idcreate_arrow"></div>
          <form id="create_form" action="{% url "ui_demo.simple" %}" method="post" class="form-horizontal" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="inline-header nowrap">
                  <span class="number-big-pop">1</span>
                  <h2 class="id-creation">Choose an identifier type</h2>
                </div>
              </div>
              <div id="frontpage_form_radiobuttons" class="col-md-6">
                <div class="form-group form-group-sm">
                 {% for p in prefixes %}
                  <div class="radio-inline radio_svg">
                    <input type="radio" name="shoulder" value="{{p.prefix}}" id="{{p.prefix}}" 
                      class="radio__icon" {% selected_radio "shoulder" forloop.counter p.prefix %} />
                    <label for="{{p.prefix}}" class="image-radio-label">
                      {% shoulder_display p "True" %}
                    </label>
                  </div>
                 {% endfor %}
                {% help_icon "create_id_01" %}
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="inline-header">
                <span class="number-big-pop">2</span>
                <h2 class="id-creation">Describe the identified object</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 form-group form-group-sm">
                <label for="create_target_url" class="sr-only control-label">Location URL</label>
                <input type="text" class="form-control width-reduced" id="create_target_url" placeholder="Location URL" />
                <a role="button" id="id_type2" data-toggle="popover" data-trigger="focus"><img src="/static/images/iconHelp.svg" class="icon-help" ALT="What is this?"></a>
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="create_demo_what" class="sr-only control-label">What?</label>
                <input type="text" class="form-control width-reduced" id="create_demo_what" placeholder="What?" />
                <img src="/static/images/iconHelp.svg" class="icon-help" ALT="What is this?">
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="create_demo_who" class="sr-only control-label">Who?</label>
                <input type="text" class="form-control width-reduced" id="create_demo_who" placeholder="Who?" />
                <img src="/static/images/iconHelp.svg" class="icon-help" ALT="What is this?">
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="create_demo_when" class="sr-only control-label">When?</label>
                <input type="text" class="form-control width-reduced" id="create_demo_when" placeholder="When?" />
                <img src="/static/images/iconHelp.svg" class="icon-help" ALT="What is this?">
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary">CREATE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Load random hero image-->
    <script type="text/javascript">
      var rImg = "url(" + getImageTag() + ")";
      $("#frontpage_img").css({"backgroundImage": rImg});
    </script>
    <!-- Help Popover -->
    {% include "info/popup_help.html" %}
    <script type="text/javascript" src="/static/javascripts/help_box.js"></script>
{% endblock %}
