{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}EZID {% trans "Home" %}{% endblock %}{% endblock %}
{% block description %}{%trans "EZID service creates long-term identifiers and is a key component for keeping data and digital objects safe while fulfilling grant requirements for data management plans." %}{% endblock %}
{% block javascript %}
  var imageURLs = [
    'homeHero_01.jpg', 'homeHero_02.jpg', 'homeHero_03.jpg', 'homeHero_04.jpg',
    'homeHero_05.jpg', 'homeHero_06.jpg', 'homeHero_07.jpg', 'homeHero_08.jpg',
    'homeHero_09.jpg'
  ];
  function getImageTag() {
    var img = '/static/images/';
    var randomIndex = Math.floor(Math.random() * imageURLs.length);
    img += imageURLs[randomIndex];
    return img;
  }
{% endblock %}
{% block content %}
{% csrf_token %}
    <h1 style="display: none;">EZID: {% trans "Identifiers made easy" %}</h1>
    <!-- Home Banner -->
    <div class="home-banner">
      <div class="home-banner__lead-container">
      <div class="home-banner__lead">
        <p class="home-banner__lead-text">{% trans "Create and manage long-term globally unique IDs for data and other sources" %}</p>
        <a href="{% url "ui_home.learn" %}" class="home-banner__lead-button">{% trans "Learn more about EZID" %}</a>
      </div>
      </div>
    </div>

    <div class="home__identifier-container">

      <div class="home__identifier-lead-box">
        <h2 class="home__identifier-lead-heading">{% trans "See how easy it is" %}:</h2>
        <p class="home__identifier-lead-note">
      {% comment %}Translators: Copy HTML tags over and only translate words outside of these tags
      i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p>
      i.e.: <a class="don't_translate_classes" href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a>
      {% endcomment %}
      {% blocktrans trimmed %}
          <b>NOTE:</b> This is just a demo.
      {% endblocktrans %}
          &nbsp;&nbsp;
      {% if not authenticatedUser %}
        {% blocktrans trimmed %}
          To create a real identifier, <a class="link__primary" href="/contact">request an account</a>.
        {% endblocktrans %}
      {% endif %}
        </p>
      </div>

      <div class="home__identifier-form">

        <fieldset class="fieldset-inline" role="group" aria-labelledby="create__step1 fieldset__1">
          <legend id="fieldset__1" class="fieldset-inline__legend-number-1" class="fieldset-inline__legend-number-1">
            <span id="create__step1" class="sr-only">Step 1 of 4</span>
            {% trans "Choose an identifier type" %}
          </legend>

      {% for p in prefixes %}
          <label for="{{p.prefix}}" class="fcontrol__radio-label-inline home__radio-labels">
            <input id="{{p.prefix}}" class="fcontrol__radio-button-stacked" type="radio" value="{{p.prefix}}" name="selshoulder" {% selected_radio "shoulder" forloop.counter p.prefix %}> <span>{% shoulder_display p "True" %}</span>
          </label>
      {% endfor %}
          {% help_icon "choose_id_demo" _("on choosing the type of identifier") %}
        </fieldset>
        <div id="form-container">
          {% include "create/_home_demo_form.html" %}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // Load random hero image
      var rImg = "url(" + getImageTag() + ")";
      $(".home-banner").css({"backgroundImage": rImg});

      // ToDo: Load different fields depending on ID type
      $(document).ready(function () {
        toggleIdFields();
        //Whenever ID type changes
        $(".id_type_button").change(function () {
          toggleIdFields();
        });
      });
      function toggleIdFields() {
        if ($("#ark\\:\\/99999\\/fk4").is(':checked')) {
          $("#home_demo_ark").show();
          $("#home_demo_doi").hide();
        } else {
          $("#home_demo_ark").hide();
          $("#home_demo_doi").show();
        }
      }
    </script>

    <script type="text/javascript" src="/static/javascripts/simple_create_ajax.js"></script>
    <script type="text/javascript" src="/static/javascripts/fix_target.js"></script>
    {% include "info/popup_help.html" %}
    <script type="text/javascript" src="/static/javascripts/help_box_.js"></script>
{% endblock %}
