{% extends "layouts/base.html" %}
{% load layout_extras %}

{% block title %}EZID Home{% endblock %}

{% block content %}
    <div class="vertical-buffer-xs" id="frontpage_img">
      <div class="container">
        <div class="row">
          <div class="lead">
            Create and manage long-term <br/>
            globally unique IDs for data<br/>
            and other sources using EZID
          </div>
          <p class="tagline">
            <a href="/learn#01" class="boxy-pop btn-big">LEARN MORE &raquo;</a>
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row vertical-buffer-sm">
      <!-- TODO: Mobile: Make this stmnt spread out. Hide arrow, or change it to point down -->
        <div class="col-sm-2" id="frontpage_idcreate_promo">
          <h1 class="lead2">SEE HOW EASY IT IS:</h1>
          <div class="vertical-buffer-xs font-med">
            <p><strong>NOTE:</strong>&nbsp;&nbsp;This is just a demo.
            To create a real identifier, you must have an account.</p>
          </div>
        </div>

        <div class="col-sm-10" id="frontpage_idcreate_content">
          <div class="frontpage_idcreate_arrow"></div>
          <form id="create_form" action="{% url "ui_demo.simple" %}" method="post" class="form-horizontal" role="form">
            <div class="row">
              <div class="col-md-6">
                <div class="inline-header text-nowrap">
                  <span class="number-big-pop">1</span>
                  <h2 class="id-creation">Choose an identifier type</h2>
                </div>
              </div>
              <div id="frontpage_form_radiobuttons" class="col-md-6">
                <div class="form-group form-group-sm">
                {% for p in prefixes %}
                  <label for="{{p.prefix}}" class="radio-css">
                    <input type="radio" name="shoulder" value="{{p.prefix}}" 
                      class="id_type_button" id="{{p.prefix}}" 
                      {% selected_radio "shoulder" forloop.counter p.prefix %} />
                    <span>{% shoulder_display p "True" %}</span>
                  </label>
                {% endfor %}
                {% help_icon "choose_id_demo" %}
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="inline-header">
                <span class="number-big-pop">2</span>
                <h2 class="id-creation">Describe the identified object</h2>
                {% help_icon "describe_profile_frontpage" %}
              </div>
            </div>
            <div id="home_demo_ark" class="row">
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_ark_target_url" class="sr-only control-label">Location URL</label>
                <input type="text" class="form-control width-reduced" id="createdemo_ark_target_url" placeholder="Location URL" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_ark_what" class="sr-only control-label">What?</label>
                <input type="text" class="form-control width-reduced" id="createdemo_ark_what" placeholder="What?" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_ark_who" class="sr-only control-label">Who?</label>
                <input type="text" class="form-control width-reduced" id="createdemo_ark_who" placeholder="Who?" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_ark_when" class="sr-only control-label">When?</label>
                <input type="text" class="form-control width-reduced" id="createdemo_ark_when" placeholder="When?" />
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary">CREATE</button>
              </div>
            </div>
            <div id="home_demo_doi" class="row">
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_target_url" class="sr-only control-label">Location URL</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_target_url" placeholder="Location URL" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_creator" class="sr-only control-label">Creator</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_creator" placeholder="Creator" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_title" class="sr-only control-label">Title</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_title" placeholder="Title" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_publisher" class="sr-only control-label">Publisher</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_publisher" placeholder="Publisher" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_publicationyear" class="sr-only control-label">Publication Year</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_publicationyear" placeholder="Publication Year" />
              </div>
              <div class="col-md-5 form-group form-group-sm">
                <label for="createdemo_doi_resourcetype" class="sr-only control-label">Resource Type</label>
                <input type="text" class="form-control width-reduced" id="createdemo_doi_resourcetype" placeholder="Resource Type" />
              </div>
              <div class="col-md-1">
                <button type="submit" class="btn btn-primary">CREATE</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // Load random hero image
      var rImg = "url(" + getImageTag() + ")";
      $("#frontpage_img").css({"backgroundImage": rImg});

      // Load different fields depending on ID type
      $(document).ready(function () {
        toggleIdFields();
        //Whenever ID type changes
        $(".id_type_button").change(function () {
          toggleIdFields();
        });
      });
      function toggleIdFields() {
        if ($("#ark\\:\\/99999\\/fk4").is(':checked')) {
          $("#home_demo_ark").show();
          $("#home_demo_doi").hide();
        } else {
          $("#home_demo_ark").hide();
          $("#home_demo_doi").show();
        }
      }
    </script>
    <!-- Help Popover -->
    {% include "info/popup_help.html" %}
    <script type="text/javascript" src="/static/javascripts/help_box.js"></script>
{% endblock %}
