{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "Learn About EZID" %}{% endblock %}{% endblock %}
{% block description %}{%trans "Learn more about EZID pricing, documentation and current users." %}{% endblock %}
{% block javascript %}
// Open accordion anchors from Learn Menu (single URL) without reloading page
$(document).ready(function(){
  $(".header__nav-subitem").click(function() {
    window.location.href = $(this).attr("href");
    window.location.reload(false);
  });
});
{% endblock %}

{% block heading %}{% content_heading _("Learn About EZID") %}{% endblock %}
{% block content %}
<div class="container accordion vertical-buffer-xs">
  <div class="accordion">
  <details id="accordion__section-01" class="accordion__section">
    <summary class="accordion__title"><h2 class="accordion__title-heading">What Is EZID?</h2></summary>
{% include "info/learnsub_what_is_ezid.html" %}
  </details>
  <details id="accordion__section-02" class="accordion__section">
    <summary class="accordion__title"><h2 class="accordion__title-heading">Current Users</h2></summary>
      <div class="panel-body">
{% include "info/learnsub_testimonials.html" %}
      <br/><br/>
{% include "info/learnsub_current_users.html" %}
      </div>
  </details>
  <details id="accordion__section-04" class="accordion__section">
    <summary class="accordion__title"><h2 class="accordion__title-heading">Documentation</h2></summary>
{% include "info/learnsub_documentation.html" %}
  </details>
  <details id="accordion__section-05" class="accordion__section">
    <summary class="accordion__title"><abbr title="Frequently Asked Questions"><h2 class="accordion__title-heading">FAQ</h2></abbr></summary>
{% include "info/learnsub_faq.html" %}
  </details>
  <details id="accordion__section-06" class="accordion__section">
    <summary class="accordion__title"><h2 class="accordion__title-heading">Media</h2></summary>
{% include "info/learnsub_media.html" %}
  </details>
  </div>

  <a href="/doc/apidoc.html">
    <div class="learn-button__section">
      <div class="learn-button__title">
        <h2 class="learn-button__title-heading">API Guide</h2>
      </div>
    </div>
  </a>

  <a href="{% url "ui_demo.index" %}">
    <div class="learn-button__section">
      <div class="learn-button__title">
        <h2 class="learn-button__title-heading">EZID Demo</h2>
      </div>
    </div>
  </a>

</div>


{% endblock %}
