{% extends "base.html" %}

{% block title %}EZID : Request password reset{% endblock %}

{% block javascript %}
$(document).ready(function () {
  $("#username").keydown(clearMessages);
  $("#email").keydown(clearMessages);
  $("#username").focus();
});
{% endblock %}

{% block content %}

<div id="pwreset">

<p id="title">Request password reset</p>

<form method="post" action="/ezid/pwreset">
<table>
<tr>
<th>Username</th>
<td><input type="text" id="username" name="username" size="20"
value="{{ username }}"/></td>
</tr>
<tr>
<th>Email address</th>
<td><input type="text" id="email" name="email" size="20"
value="{{ email }}"/></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Send email"/></td>
</tr>
</table>
</form>

<p>You will be sent an email containing a link allowing your password
to be reset.<br/>
(<a href="http://www.cdlib.org/services/uc3/contact.html">Contact
us</a> if you don't remember your username.)</p>

</div>

{% endblock %}
