{% load manage_form_tags %}

<form method="get" id="p_crossref" role="form">
  {% rewrite_hidden_except REQUEST 'p' %}
  <div class="pagination__input-group">
  {% pager_display REQUEST p total_pages ps "crossref" %}
  </div>
</form>

<div id="error_crossref"></div>
<table id="crossref_table" class="table2">
  <thead>
    <tr>
    <th>Identifier</th>
    <th>Date Submitted</th>
    <th>Description</th>
    <th>Required Action</th>
    </tr>
  </thead>
<tbody>
</tbody>
</table>
<div id="loading_crossref" class="loading"></div>

{% include "dashboard/_dashboard_js.html" with name="crossref" %}
