<form method="POST" id="p" role="form">
  <div class="pagination__input-group">
    <input id='page-directselect' type='number' class='pagination__input' min='1' max='5' name='p' value='1'/> 
    of 5 
    <button data-page='2' class='pagination__next' aria-label='Next page of results' type='button'>Next</button> 
    <button data-page='5' class='pagination__last' aria-label='Last page of results' type='button'></button> 
  </div>
</form>

<!--table class="table2">
   header_row REQUEST fields_selected fields_mapped order_by sort primary_page
<tbody>
 for item in results 
<tr>
   data_row item fields_selected field_display_types account_co_owners testPrefixes
</tr>
 endfor
</tbody>
</table -->

<div id="error"></div>
<table id="id_issues_table" class="table2">
  <thead>
    <tr>
    <th class='sorting'><a title='Sort on this column' class='table__th-link' href=''>Identifier</a></th>
    <th class='sorting'><a title='Sort on this column' class='table__th-link' href=''>Issue</a></th>
    <th class='sorting'><a title='Sort on this column' class='table__th-link' href=''>Object Title</a></th>
    <th class='sort__desc'><a title='Sorting in descending order. Click to change to ascending order.' class='table__th-link' href=''>ID Date Last Modified</a></th>
    </tr>
  </thead>
<tbody>

</tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#p').on('submit', function(e){
        e.preventDefault();
        $.ajax({
            url : "dashboard/ajax_issues",
            type : "POST", 
            data : { p : $('#page-directselect').val() },
            dataType : "json",
            success : function(json) {
                var out = "",
                    count = 0;
                // [{"c_title":"","c_update_time":1458756654,"c_id_issue":"","c_identifier":"ark:/99999/fk4kk9jk46"},
                for (var line in json) {
                    var id = json[line].c_identifier,
                        i = json[line].c_id_issue,
                        t = json[line].c_title,
                        u = json[line].c_update_time,
                        url = "<a href='/id/" + id + "'>";
                    count++;
                    out += "<tr><td>" + url + id + "</a></td>";
                    out += "<td>" + url + i + "</a></td>";
                    out += "<td>" + url + t + "</a></td>";
                    out += "<td>" + url + u + "</a></td></tr>";
                }
                $('#id_issues_table tbody').html(out);
            },
            error : function(xhr,errmsg,err) {
                $('#error').html("<div class='alert alert-error' role='alert'>" +
                                      "<div class='alert-text'>Oops! We have encountered an error: " + errmsg +
                                   "</div></div>");
                // console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
  });

  // *******   PAGE   *******
  // page selection input field: submit on enter key
  $("#page-directselect").keyup(function(e){ 
    // submit value in input on enter key
    var code = e.which;
    if(code==13)e.preventDefault();
    if(code==32||code==13||code==188||code==186){
      $("#p").submit();
    }
  });
  // page selection buttons change value in input field and submit on click
  $("#p button").click(function(e){
    var p = $(e.currentTarget).data('page');
    $('#page-directselect').val(p);
    $("#p").submit();
  });
</script>
