{% load manage_form_tags %}

<form method="get" id="p_issues" role="form">
  {% rewrite_hidden_except REQUEST 'p' %}
  <div class="pagination__input-group">
  {% pager_display REQUEST p total_pages ps "issues" %}
  </div>
</form>

<div id="error_issues"></div>
<table id="issues_table" class="table2">
  <thead>
    <tr>
    <th>Identifier</th>
    <th>Issue</th>
    <th>Object Title</th>
    <th>ID Date Last Modified</th>
    </tr>
  </thead>
<tbody>
{% for item in results_issues %}
<tr>
   {% data_row item fields_selected_issues field_display_types_issues testPrefixes %}
</tr>
{% endfor %}

</tbody>
</table>
<div id="loading_issues" class="loading"></div>

{% include "dashboard/_dashboard_js.html" with name="issues" %}
