{% load i18n %}

  <div class="col-md-8">
  <h2 class="heading-sub__icon-4">{% trans "Total Identifiers Created By Month" %}</h2>
  <div class="dashboard__month-range">
    <div class="fcontrol__select-group-inline">
      <label for="month_begin" class="fcontrol__select-label-hidden">Month Begin</label>
      <select name="month-range" class="fcontrol__select">
        <option value="">June 2011</option>
        <option value="">June 2013</option>
      </select>
      &nbsp;&nbsp;to&nbsp;&nbsp;
      <label for="month_begin" class="fcontrol__select-label-hidden">Month Begin</label>
      <select name="month-range" class="fcontrol__select">
        <option value="">June 2011</option>
        <option value="">June 2013</option>
      </select>
    </div>
  </div>
<table class="table2 dashboard__table-identifiers">
<thead>
<tr>
<th>{% trans "Month" %}</th>
<th>ARKs</th>
<th>DOIs</th>
<th>URNs</th>
</tr>
</thead>
<tbody>

{% for row in report %}
<tr>
<td>{{row.0}}</td>
<td>
  {{row.1}}
  <span class="pct">({{row.2}})</span>
</td>
<td>
  {{row.3}}
  <span class="pct">({{row.4}})</span>
</td>
<td>
  {{row.5}}
  <span class="pct">({{row.6}})</span>
</td>
</tr>
{% endfor %}

</tbody>
</table>
<p>* {% trans "Statistics calculated on" %} {{last_tally}}.</p>
</div>

