{% load i18n %}

  <div class="col-md-8">
  <h2 class="heading-sub__icon-4">{% trans "Total Identifiers Created By Month" %}</h2>
  <div class="dashboard__month-range">
    <div class="fcontrol__select-group-inline">
      <form id="month_from_form" action="/dashboard" role="form">
      <input name="owner_selected" type="hidden" value="{{ owner_selected|default_if_none:'' }}"/>
      <input name="month_to" type="hidden" value="{{month_to}}"/>
      <label for="month_from" class="fcontrol__select-label-hidden">{% trans "Month From" %}</label>
      <select id="month_from" name="month_from" class="fcontrol__select">
        {% for m in months_all %}
        <option value="{{m}}"
        {% if m == month_from %}
          selected="selected"
        {% endif %}
        >{{m}}</option>
        {% endfor %}
      </select>
      </form>
      &nbsp;&nbsp;to&nbsp;&nbsp;
      <form id="month_to_form" action="/dashboard" role="form">
      <input name="owner_selected" type="hidden" value="{{ owner_selected|default_if_none:'' }}"/>
      <input name="month_from" type="hidden" value="{{month_from}}"/>
      <label for="month_to" class="fcontrol__select-label-hidden">{% trans "Month To" %}</label>
      <select id="month_to" name="month_to" class="fcontrol__select">
        {% for m in months_all %}
        <option value="{{m}}"
        {% if m == month_to %}
          selected="selected"
        {% endif %}
        >{{m}}</option>
        {% endfor %}
      </select>
      </form>
    </div>
  </div>
<table class="table2 dashboard__table-identifiers">
<thead>
<tr>
<th>{% trans "Month" %}</th>
<th>ARKs</th>
<th>DOIs</th>
</tr>
</thead>
<tbody>

{% for row in totals_by_month %}
<tr>
<td>{{row.month}}</td>
<td>
  {{row.ARK.total}}
  <span class="pct">({{row.ARK.hasMetadataPercentage}}%)</span>
</td>
<td>
  {{row.DOI.total}}
  <span class="pct">({{row.DOI.hasMetadataPercentage}}%)</span>
</td>
</tr>
{% endfor %}

</tbody>
</table>
<p>* {% trans "Statistics calculated nightly" %}.</p>
</div>
<script type="text/javascript">
  // submit form when owner filter changes
  $("#month_from").bind("change", function(event){
      do_submit($('#month_from_form'));
  });
  $("#month_to").bind("change", function(event){
      do_submit($('#month_to_form'));
  });
  function do_submit(frm){
    frm.attr('action', location.pathname);
    frm.unbind('submit');
    frm.attr('method', 'get');
    frm.submit();
  }  
</script>
