{% load layout_extras %}
{% load i18n %}
  <div class="col-md-6">
  <h2 class="heading__icon-4">{% trans "Total Identifiers" %}</h2>
<table class="table2 dashboard__table-identifiers">
<thead>
<tr>
<th>{% trans "ID Type" %}</th>
<th>{% trans "Number of IDs" %}</th>
<th>{% trans "Percentage of Metadata Complete" %}</th>
</tr>
</thead>
{% trans "have metadata" as have_metadata  %}
<tbody>
<tr>
<td>ARKs</td>
<td>{{totals.1}}</td>
<td>{{totals.2}} {{have_metadata}}</td>
</tr>
<tr>
<tr>
<td>DOIs</td>
<td>{{totals.3}}</td>
<td>{{totals.4}} {{have_metadata}}</td>
</tr>
<tr>
<td>URNs</td>
<td>{{totals.5}}</td>
<td>{{totals.6}} {{have_metadata}}</td>
</tr>
<tr>
<td>Totals</td>
<td>{{totals.7}}</td>
<td>{{totals.8}} {{have_metadata}}</td>
</tr>
</tbody>
</table>
  </div>
