{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{%trans "Dashboard" %}{% endblock %}
{% block content %}
<div class="container vertical-buffer-xs">
  <form action="" role="form">
    <button class="button__primary" type="button">{% trans "Administration" %}&nbsp;<span title="External Link" class="ext-icon"></span></button>
  </form>
  <hr/>
  <div role="group" aria-labelledby="fieldset__owner-filter">
  <form id="usage_form" action="{% url "ui_admin.dashboard" %}" method="post">
    <div class="fieldset-stacked__inline-select">
      <span id="fieldset__owner-filter" class="heading__icon-2">{% trans "View Report for" %}</span>
      <label for="tbd" class="fcontrol__text-label-hidden">{% trans "Specific User or Group" %}</label>

        <select id="choice" name="choice" class="fcontrol__select-inline">
      {% for c in choices %}
          <option value="{{c.0}}"
        {% if c.0 == choice %}
            selected="selected"
        {% endif %}
          >{{c.1}}</option>
      {% endfor %}
        </select>
    </div>
  </form>
  </div>
{% if report|length > 0 %}

{% include "dashboard/_totalIds.html" %}
{% include "dashboard/_totalIdsByMonth.html" %}
{% comment     include "dashboard/_totalIds.html" %}
{% endcomment %}

{% else %}
<p>There is no usage data for the selected group or user.</p>
{% endif %}
  <div class="col-md-12">
    <hr/>
    <h2 class="heading__icon-6">{% trans "Identifier Issues" %}</h2>
      {% include "search/_results.html" with primary_page="ui_admin.dashboard" %}
    <h2 class="heading__icon-10">{% trans "CrossRef&reg; Submission Status" %}</h2>
      {% include "search/_results.html" with primary_page="ui_admin.dashboard" %}
  </div>
</div>
  <script type="text/javascript">
  	$("#choice").bind("change", function(event){
      $("#usage_form").submit();
    });
  </script>
{% endblock %}
