# Sample crontab

PYTHONPATH=/path/to/SITE_ROOT/PROJECT_ROOT
DJANGO_SETTINGS_MODULE=settings.production

# Nightly maintenance
0 0 * * * /path/to/SITE_ROOT/PROJECT_ROOT/tools/expire-downloads

# Sunday morning maintenance
0 0 * * 0 django-admin clearsessions
10 0 * * 0 /path/to/SITE_ROOT/PROJECT_ROOT/tools/expunge -

# Monthly statistics
0 3 2 * * /path/to/SITE_ROOT/PROJECT_ROOT/tools/dashboard -s - http://...
