# Sample crontab
0 0 * * 0 env PYTHONPATH=/n2t/apache/ezid/SITE/PROJECT DJANGO_SETTINGS_MODULE=settings.production /n2t/sw/bin/django-admin.py cleanup
10 0 * * 0 /n2t/sw/bin/sqlite3 /n2t/apache/ezid/SITE/db/django.sqlite3 vacuum
20 0 * * 0 env PYTHONPATH=/n2t/apache/ezid/SITE/PROJECT DJANGO_SETTINGS_MODULE=settings.production /n2t/sw/bin/python /n2t/apache/ezid/SITE/PROJECT/tools/expunge - http://noid.cdlib.org/nd/noidu_g3
50 0 * * 0 env PYTHONPATH=/n2t/apache/ezid/SITE/PROJECT DJANGO_SETTINGS_MODULE=settings.production /n2t/sw/bin/python /n2t/apache/ezid/SITE/PROJECT/tools/stats -s - -
30 0 2 * * env PYTHONPATH=/n2t/apache/ezid/SITE/PROJECT/code /n2t/sw/bin/python /n2t/apache/ezid/SITE/PROJECT/tools/dashboard /noid/nd/g3/NOID/noid.bdb http://stats.cdlib.org:9005
