{% extends "layouts/learn.html" %}
{% load layout_extras %}
{% load menus %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "ARKs in the Open FAQ" %}{% endblock %}{% endblock %}
{% block heading %}{% content_heading _("ARKs in the Open: Frequently Asked Questions") %}{% endblock %}
{% block content %}

{% comment %}Don't need to translate this{% endcomment %}
{% learn_breadcrumb 'ARKs in the Open FAQ' 'FAQ' '#05' %}
<div class="container api">
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags 
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p> 
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a> 
{% endcomment %}
{% blocktrans trimmed %}
<p><strong>What is ARKs in the Open?</strong></p>

<p>ARKs in the Open is a collaboration between CDL and <a href="http://duraspace.org/about" class=ext-link">DuraSpace</a> aimed at building an open, international community around <a href="http://n2t.net/e/ark_ids.html" class="ext-link">Archival Resource Keys (ARKs)</a> and their use as persistent identifiers in the open scholarly ecosystem.</p>


<p><strong>Why is CDL working on the ARKs in the Open initiative</strong></p>

<p>We (CDL) are launching this pilot project as a first step toward ensuring the ongoing health and development of the ARK infrastructure. By "ARK infrastructure," we mean open source software tools and systems, the ARK specification, and production-grade resolver services. Community ownership of ARK identifier assets has been under discussion for over a decade, and the project makes a start by establishing an active ARK community group with the aims of:</p>
<p>1.       Maintaining two key assets: the ARK specification and the NAAN registry, and</p>
<p>2.       Submitting the current ARK specification to the IETF as in Internet Informational RFC.</p>

<p><strong>What is DuraSpace's role</strong></p>

<p>Since 2001, CDL has served as the "incubator" for ARKs. Now, to achieve long-term sustainability, ARKs and the ARK infrastructure must emerge from CDL and mature in partnership with multiple organizations and community participants to guide its future.
To jumpstart the process, CDL sought a collaboration with DuraSpace, an independent not-for-profit organization providing leadership for open technologies and communities such as Fedora, DSpace, and VIVO.</p>

<p><strong>Does this mean EZID or CDL will stop offering ARK identifiers?</strong></p>

<p>Not at all. EZID will continue to provide full services for the creation and maintenance of ARKs and other identifiers. CDL expects to play a prominent role in whatever community partnership emerges around ARKs and ARK infrastructure.
</p>

<p><strong>Where can I get more detailed information about ARKs in the Open?</strong></p>

<p>The project's home page:  <a href="https://wiki.duraspace.org/display/DSP/ARKs+in+the+Open+Project" class=ext-link">https://wiki.duraspace.org/display/DSP/ARKs+in+the+Open+Project</a></p>

<p><strong>How can I stay informed about ARKs in the Open?</strong></p>
<p>Regular updates will be posted to the ARK mailing list. Join the list here:  <a href="https://groups.google.com/forum/#!forum/arks-forum" class=ext-link">https://groups.google.com/forum/#!forum/arks-forum</a></p>
 
<p><strong>How can I get more involved?</strong></p>
<p>Express your interest here: <a href="http://bit.ly/2C4fU8f" class=ext-link">http://bit.ly/2C4fU8f</a></p>
<p>Or give us feedback here: <a href="https://wiki.duraspace.org/display/DSP/Project+Vision" class=ext-link">https://wiki.duraspace.org/display/DSP/Project+Vision</a></p>  
 
<p><strong>I have more questions about ARKs. Where can I get answers?</strong></p>
<p>All about ARKs: <a href="http://n2t.net/e/ark_ids.html" class=ext-link">http://n2t.net/e/ark_ids.html</a></p>
<p>Or, contact the <a class="link__primary" href="mailto:arks@ucop.edu">CDL ARKs in the Open team</a></p>





{% endblocktrans %}
</div>
{% endblock %}
