{% extends "layouts/learn.html" %}
{% load layout_extras %}
{% load menus %}
{% load i18n %}

{% block title %}{% block title-twitter %}{% trans "Registration Services FAQ" %}{% endblock %}{% endblock %}
{% block heading %}{% content_heading _("Frequently Asked Questions") %}{% endblock %}
{% block content %}

{% comment %}Don't need to translate this{% endcomment %}
{% learn_breadcrumb 'Registration Services FAQ' 'FAQ' '#05' %}
<div class="container api">
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags 
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p> 
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a> 
{% endcomment %}
{% blocktrans trimmed %}
  <h2 class="heading_2">How do I obtain a new account?</h2>

<p>
  New accounts for ARK and DOI services are available to University of California users only, with access being
  managed at the campus-level through the library. Please reach out to your campus library directly to obtain an account.
</p>
<br/>
<h2 class="heading_2">What alternatives do I have for DOI and ARK registration services?</h2>

<h3 class="heading_3">For DOI services:</h3>

<p>Option 1: Use the services of a repository that provides DOIs, such as
  <a href="https://datadryad.org" class="ext-link">Dryad</a>,
  <a href="https://dataverse.harvard.edu/" class="ext-link">Dataverse</a> or
  <a href="https://figshare.com/" class="ext-link">figshare</a>.
  This is a good option if you need only a very small number of DOIs.
</p>

<p>
  Option 2: Direct membership in <a href="https://www.datacite.org" class="ext-link">DataCite</a>.
  See <a href="https://www.datacite.org" class="ext-link">https://www.datacite.org</a> for additional details.
</p>

<p>
  Option 3: Direct membership in <a href="https://www.crossref.org" class="ext-link">Crossref</a>.
  See <a href="https://www.crossref.org" class="ext-link">https://www.crossref.org</a> for additional details.
</p>

<h3 class="heading_3">For ARK services:</h3>

<p>
  The <a href="https://arks.org" class="ext-link">ARK Alliance</a> offers many
  resources to help users get started with ARKs, including
  setting up your own infrastructure. See
  <a href="https://arks.org" class="ext-link">https://arks.org</a> for additional details.
</p>

  <br/>
<h2 class="heading_2">
  If I already have an EZID account, can I upgrade or change it?
</h2>

<p>
  For assistance with changes to existing accounts, please contact us.
</p>

{% endblocktrans %}
</div>
{% endblock %}
