{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Identifier Details" %}{% endblock %}

{% block content %}
{% content_heading _("Identifier Details") %}
<div class="container vertical-buffer-20">
  <div class="row">
    <label class="col-sm-12">{% trans "Identifier" %}:</label>
  </div>
  <div class="row vertical-buffer-bot">
    <div id="iddetails-id">{% identifier_display id_text testPrefixes %}</div>
    {% include "includes/get_link.html" %}  
    {% if recent_creation %}
    <div class="iddetails__delay-text">
      ({% trans "takes up to 30 minutes for link to work" %})
    </div>
    {% else %}
      {% if recent_update %}
      <div class="iddetails__delay-text">
        ({% trans "takes up to 30 minutes for link to be updated" %})
      </div>
      {% endif %}
    {% endif %}
  </div>
  <hr/>
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <img id="id__icon--aboutobject" src="/static/images/idAboutObject.svg" ALT="">
        <h3>{% trans "ABOUT THE IDENTIFIED OBJECT" %}</h3>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.target.displayName}}: </label>
    <div class="col-sm-7">{% display_value identifier internal_profile.target %}</div>
  </div>
	    
  {% if not has_block_data %}
    {% for e in current_profile.elements %}
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{e.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier e %}</div>
  </div>
    {% endfor %}
  {% endif %}
	    
  {% if erc_block_list %}
    {% for e in erc_block_list %}
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{ e.0|capfirst }}:</label>
    <div class="col-sm-7">{{ e.1 }}</div>
  </div>
    {% endfor %}
  {% endif %}

	{% if datacite_html %}
		<style type="text/css">
			tr.dcms_identifier { display: none;}
		</style>
		{% autoescape off %}
			{{datacite_html}}
		{% endautoescape %}
	    <p><a href="/manage/display_xml/{{ id_text }}" target="_blank">{% trans "See the DataCite XML Metadata record in a new window" %}</a></p>
	{% endif %}
	 
	{% if has_crossref_metadata %}
	    <p><a href="/manage/display_xml/{{ id_text }}" target="_blank" style="position:relative;top:10px;">{% trans "See the CrossRef XML Metadata record in a new window" %}</a></p>
	{% endif %}

  <div class="vertical-buffer-20"> </div>
  <hr/>
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <img id="id__icon--aboutid" src="/static/images/idAboutID.svg" ALT="">
        <h3>{% trans "ABOUT THE IDENTIFIER" %}</h3>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.owner.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.owner %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.ownergroup.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.ownergroup %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.coowners.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.coowners %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.created.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.created %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.updated.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.updated %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.status.displayName}}:</label>
    <div class="col-sm-7">{{pub_status}}{% help_icon "public_id_help" %}</div>
  </div>
	    
  {% if stat_reason %}
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">&nbsp;</label>
    <div class="col-sm-7">{{ stat_reason }}</div>
  </div>
  {% endif %}
			
  {% if pub_status == 'public' %}
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.export.displayName}}</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.export %}{% help_icon "export_help" %}</div>
  </div>
  {% endif %}

  {% if allow_update %}
  <div class="vertical-buffer-20"></div>
  <form action="{% url "ui_manage.edit" id_text %}" method="get">
    <div class="row">
      <div class="form-group form-group-sm">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary padding-side-med">
            {% trans "MAKE CHANGES" %}</button>
        </div>
      </div>
    </div>
  </form>
  {% endif %}
				  
  <div class="">
	{% if not has_block_data and current_profile.name == 'datacite' %}
			<h2 style="margin-top: 2em;">{% trans "Citation Preview" %}</h2>
		  {% get_dict_value identifier "datacite.creator" %}
		  ({% get_dict_value identifier "datacite.publicationyear" %}):
		  {% get_dict_value identifier "datacite.title" %}.
		  {% get_dict_value identifier "datacite.version" %}
		  {% get_dict_value identifier "datacite.publisher" %}.
		  {% if has_resource_type %}
		  	{% get_dict_value identifier "datacite.resourcetype" %}.
		  {% endif %}
		  {% active_id_display id_text testPrefixes %}
	{% endif %}
  </div>
</div>
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box.js"></script>
{% endblock %}
