{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Identifier Details" %}{% endblock %}
{% block heading %}{% content_heading _("Identifier Details") %}{% endblock %}
{% block content %}
{% if schemaDotOrgMetadata %}
<script type="application/ld+json">
{% autoescape off %}{{ schemaDotOrgMetadata }}{% endautoescape %}
</script>
{% endif %}

<div class="container vertical-buffer-20">
  {% if allow_update %}
  <p class="heading_2">{% trans "Edit and add descriptive information to your identifier." %}</p>
  {% endif %}
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <h2 class="heading__icon-4">{% trans "About the Identifier" %}</h2>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <div class="col-md-8">
      <div class="row">
        <label for="identifier_info" class="col-md-4 vertical-buffer-xxs">{% trans "Identifier" %}:</label>
        <div id="identifier_info" class="col-md-8 vertical-buffer-bot-md"><strong>{% identifier_display id_text testPrefixes %}</strong></div>
        <label for="url_to_copy" class="col-md-4 vertical-buffer-xxs">{% trans "Identifier as URL" %}:</label>
        <div class="col-md-7">
          <div id="id_as_url__box" class="vertical-buffer-xxs">
            <span id="url_to_copy">{{ id_as_url }}</span>
            <span id="copy_message">{% trans "Link copied to your clipboard" %}</span>
          </div>
          <div class="iddetails__delay-text">
            {% if recent_creation %}
            ({% trans "Be aware that it can take up to several hours until new DOIs become resolvable." %})
            {% elif recent_update %}
            ({% trans "Be aware that it can take up to 24 hours until a DOI update is globally known." %})
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% if is_test_id %}
    <div class="col-md-4 call-out__small">
      <div class="call-out__small-text">&#42; {% trans "Indicates demo identifier. Demo IDs are subject to deletion two weeks after creation and are only meant for testing purposes." %}
      {% if not authenticatedUser %}
        <br/><br/>
        {% blocktrans trimmed %}
        To create a real identifier, <a class="link__primary" href="/contact">request an account</a>.
        {% endblocktrans %}
      {% endif %}
      </div>
    </div>
    {% endif %}
    <!-- div class="col-sm-4">
      include "includes/get_link.html"
    </div -->
  </div>

  {% if current_profile.name == 'datacite' %}
  <div class="row vertical-buffer-20">
    <div class="call-out">
      <h2 class="call-out__heading">{% trans "Citation Preview" %}</h2>
      <p class="truncated call-out__citation-indent">
        {% get_dict_value identifier "datacite.creator" %}
        ({% get_dict_value identifier "datacite.publicationyear" %}):
        {% get_dict_value identifier "datacite.title" %}.
        {% get_dict_value identifier "datacite.version" %}
        {% get_dict_value identifier "datacite.publisher" %}.
        {% if has_resource_type %}
          {% get_dict_value identifier "datacite.resourcetype" %}.
        {% endif %}
        {% active_id_display id_text testPrefixes %}
      </p>
    </div>
  </div>
  {% endif %}

  <div class="vertical-buffer-20"> </div>
  <hr/>
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <h2 class="heading__icon-9">{% trans "About the Identified Object" %}</h2>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="internal_profile_target" class="col-sm-2">{{internal_profile.target.displayName}}: </label>
    <div id="internal_profile_target" class="col-sm-7">{% display_value identifier internal_profile.target %}</div>
  </div>
	    
  {% if not has_block_data %}
    {% for e in current_profile.elements %}
  <div class="row vertical-buffer-bot">
    <label for="an-element{{forloop.counter}}" class="col-sm-2">{{e.displayName}}:</label>
    <div id="an-element{{forloop.counter}}" class="col-sm-7">{% display_value identifier e %}</div>
  </div>
    {% endfor %}
  {% endif %}
	    
  {% if datacite_html %}
    <style type="text/css">
			tr.dcms_identifier { display: none;}
    </style>
    {% autoescape off %}
      {{datacite_html}}
    {% endautoescape %}
    <p><a class="link__primary" href="/manage/display_xml/{{ id_text }}" target="_blank">{% trans "See the DataCite XML Metadata record in a new window" %}</a></p>
  {% endif %}
	 
  {% if has_crossref_metadata %}
    <p><a class="link__primary" href="/manage/display_xml/{{ id_text }}" target="_blank" style="position:relative;top:10px;">{% trans "See the Crossref XML Metadata record in a new window" %}</a></p>
  {% endif %}

  <div class="vertical-buffer-20"> </div>
  <hr/>
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <h2 class="heading__icon-4">{% trans "About the Identifier's Status" %}</h2>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="profile_owner" class="col-sm-2">{{internal_profile.owner.displayName}}:</label>
    <div id="profile_owner" class="col-sm-7">{% display_value identifier internal_profile.owner %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="ownergroup" class="col-sm-2">{{internal_profile.ownergroup.displayName}}:</label>
    <div id="ownergroup" class="col-sm-7">{% display_value identifier internal_profile.ownergroup %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="created_displayname" class="col-sm-2">{{internal_profile.created.displayName}}:</label>
    <div id="created_displayname" class="col-sm-7">{% display_value identifier internal_profile.created %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="updated_displayname" class="col-sm-2">{{internal_profile.updated.displayName}}:</label>
    <div id="updated_displayname" class="col-sm-7">{% display_value identifier internal_profile.updated %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label for="status_displayname" class="col-sm-2">{{internal_profile.status.displayName}}:</label>
    <div id="status_displayname" class="col-sm-7">{{pub_status}}</div>
  </div>
	    
  {% if stat_reason %}
  <div class="row vertical-buffer-bot">
    <label for="stat_reason" class="col-sm-2">&nbsp;</label>
    <div id="stat_reason" class="col-sm-7">{{ stat_reason }}</div>
  </div>
  {% endif %}
			
  {% if pub_status == 'public' %}
  <div class="row vertical-buffer-bot">
    <label for="internal_profile_export" class="col-sm-2">{{internal_profile.export.displayName}}</label>
    <div id="internal_profile_export"class="col-sm-7">{% display_value identifier internal_profile.export %}</div>
  </div>
  {% endif %}

  {% if allow_update %}
  <div class="vertical-buffer-20"></div>
  <form action="{% url "ui_manage.edit" id_text %}" method="get">
    <div class="row">
      <div class="form-group form-group-sm">
        <div class="col-sm-12">
          <button type="submit" class="button__primary">
            {% trans "Make Changes" %}</button>
        </div>
      </div>
    </div>
  </form>
  {% endif %}
				  
</div>
  <script type="text/javascript" src="/static/javascripts/trunk8.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
    // Citation Preview Truncation
    $('.truncated').trunk8({
      lines: 3,
      fill: '&hellip; <a id="read-more" href="#">Read more &dArr;</a>'
    });

    $(document).on('click', '#read-more', function(event) {
      $(this).parent().trunk8('revert').append('&nbsp;&nbsp;&nbsp;<a id="read-less" href="#">&uArr; Read less</a>');
      return false;
    }).
    on('click', '#read-less', function(event) {
      $(this).parent().trunk8();
      return false;
    });
  });
</script>
{% endblock %}
