{% extends "layouts/base.html" %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Download Link Unavailable" %}{% endblock %}
{% block heading %}{% content_heading _("Download Link Unavailable") %}{% endblock %}
{% block content %}
<div class="container">
<p class="general__p">{% trans "You tried to access something that doesn't exist. You may have requested a file currently in progress and not yet completed." %}</p>

<p class="general__p">
{% comment %}Translators: Copy HTML tags over and only translate words outside of these tags 
i.e.: <p>TRANSLATE TEXT WRAPPED BY HTML TAGS</p> 
i.e.: <a href="don't_translate_urls">PLEASE PRESERVE HTML TAGS</a> 
{% endcomment %}
{% blocktrans trimmed %}
Please <a class="link__primary" href="/contact">contact us</a> if you need assistance.
{% endblocktrans %}
</p>
 
</div>
{% endblock %}
