{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}
{% load i18n %}

{% block title %}{% trans "Edit Identifier Details" %}{% endblock %}

{% block heading %}{% content_heading _("Identifier Details") %}{% endblock %}
{% block content %}
<div class="container vertical-buffer-20">
  <form id="edit_form" action="{% url "ui_manage.edit" id_text %}" method="post" class="form-horizontal" role="form">
    <!-- original profile is the profile that was loaded before possibly being changed from drop-down list -->
    <input name="action" id="action"  type="hidden" value="edit"/>
    <input name="identifier" id="identifier"  type="hidden" value="{{ id_text }}"/>
    <input name="original_profile" id="original_profile"  type="hidden" value="{{current_profile.name}}"/>
    <input name="simpleToAdvanced" id="simpleToAdvanced"  type="hidden" value="False"/>
  <div class="row vertical-buffer-bot">
    <label class="col-xs-2">{% trans "Identifier" %}:</label>
    <div class="col-sm-7 col-xs-10"><strong>{% identifier_display id_text testPrefixes %}</strong></div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2 col-xs-2">{% trans "Identifier as URL" %}:</label>
    <div class="col-sm-5 col-xs-8">
      <div id="id_as_url__box" class="vertical-buffer-xxs">
        <span id="url_to_copy">{% full_url_to_id_details id_text %}</span>
        <span id="copy_message">{% trans "Link copied to your clipboard" %}</span>
      </div>
    </div>
    <div class="col-xs-2">
      {% include "includes/get_link.html" %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-3 col-lg-push-9">
    {% if not manual_profile %}
      <div class="call-out quick-start">
          {% if not manual_profile and current_profile.name == "datacite" %}
        <input id="profile_simpleToAdvanced" type="button" name="simpleToAdvanced" value="&gt;&gt;&nbsp; {% trans "Add more information to the record" %}" onclick="profileSimpleToAdvanced(event);" class="link-lookalike"/>
          {% elif not manual_profile and current_profile.name != "datacite" %}
        {% trans "Would you like to add more information to the record?" %}
        <input id="profile_simpleToAdvanced" type="button" name="simpleToAdvanced" value="&gt;&gt;&nbsp; {% trans "Convert to the DataCite citation profile" %}" onclick="profileSimpleToAdvanced(event);" class="link-lookalike"/> <span style="position:relative;top:-50px;left:83%"></span>
          {% endif %}
      </div>
    {% endif %}
    </div>

    <div class="col-md-12 col-lg-9 col-lg-pull-3">
      <div class="row vertical-buffer-20 vertical-buffer-bot">
        <div class="inline-header">
          <h2 class="heading__icon-9">{% trans "About the Identified Object" %}</h2>
        </div>
        <div class="row vertical-buffer-xs">
          <label class="col-sm-7"><small>{% trans "This identified object uses the" %} <strong>{{ current_profile.displayName }}</strong> {% trans "profile" %}.</small></label>
        </div>
      </div>

  {% if manual_profile %}
    {% include manual_template %}
  {% else %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <div class="form-group form-group-sm{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">
          {{ field.label }}
        </label>
        <div class="col-sm-7">
          {{ field|add_attributes:"form-control"}}
        </div>
      {% if field.errors %}
        <div class="col-sm-2">
        {% for error in field.errors %}
          {{ error|escape }}
        {% endfor %}
        </div>
      {% endif %}
      </div>
    {% endfor %}
  {% endif %}
    </div>
  </div>
  <div class="vertical-buffer-20"> </div>
  <div class="row vertical-buffer-bot">
    <div class="inline-header">
      <h2 class="heading__icon-8">{% trans "About the Identifier" %}</h2>
    </div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2 col-xs-3">{{internal_profile.owner.displayName}}:</label>
    <div class="col-sm-7 col-xs-9">{% display_value identifier internal_profile.owner %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2 col-xs-3">{{internal_profile.ownergroup.displayName}}:</label>
    <div class="col-sm-7 col-xs-9">{% display_value identifier internal_profile.ownergroup %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2 col-xs-3">{{internal_profile.coowners.displayName}}:</label>
    <div class="col-sm-7 col-xs-9">{% display_value identifier internal_profile.coowners %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.created.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.created %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-sm-2">{{internal_profile.updated.displayName}}:</label>
    <div class="col-sm-7">{% display_value identifier internal_profile.updated %}</div>
  </div>
  <div class="row vertical-buffer-bot">
    <label class="col-xs-2">{{internal_profile.status.displayName}}:</label>
    <div class="col-xs-7">
      <div class="form-group form-group-sm">
      {% if orig_status == 'reserved' %}
        <label class="radio-css" for="_status_reserved">
          <input type="radio" name="_status" id="_status_reserved" value="reserved"
          {% if pub_status == 'reserved' %}
            checked="checked"
          {% endif %}
          /><span>{% trans "reserved" %}</span>
        </label>
      {% endif %}		            
        <label class="radio-css" for="_status_public">
          <input type="radio" name="_status" id="_status_public" value="public"
          {% if pub_status == 'public' %}
            checked="checked"
          {% endif %}
          /><span>{% trans "public" %}</span>
        </label>
      {% if orig_status != 'reserved' %}    
        <label class="radio-css" for="_status_unavailable">
          <input type="radio" name="_status" id="_status_unavailable" value="unavailable"
          {% if pub_status == 'unavailable' %}
            checked="checked"
          {% endif %}
          /><span>{% trans "unavailable" %}</span>
        </label>

      {% endif %}
      {% help_icon "decide_public" %}
      </div>
    </div>
  </div>
  <div id="unavailable_reason_row" 
    {% if pub_status == 'unavailable' %}
      style="display: visible;"
    {% else %}
      style="display: none;"
    {% endif %}
    class="row vertical-buffer-bot">
    <label class="col-sm-2">{% trans "Unavailable reason" %}:</label>
    <div class="col-sm-7">
      <div class="form-group form-group-sm">
        <input type="text" name="stat_reason" id="stat_reason" 
          {% if stat_reason %}
            value="{{stat_reason}}"
          {% else %}
            value=""
          {% endif %}
          class="form-control" />
      </div>
    </div>
  </div>
  <div id="indexing_row" class="row vertical-buffer-bot">
    <label class="col-sm-2 col-xs-3">{% trans "Allow harvesting/indexing?" %}</label>
    <div class="col-sm-7 col-xs-9">
      <div class="form-group form-group-sm">
        <label class="radio-css" for="export_yes">
          <input type="radio" name="_export" id="export_yes" value="yes"
          {% if export == 'yes' %}
            checked="checked"
          {% endif %}
          /><span>{% trans "Yes" %}</span>
        </label>
        <label class="radio-css" for="export_no">
          <input type="radio" name="_export" id="export_no" value="no"
          {% if export != 'yes' %}
            checked="checked"
          {% endif %}
          /><span>{% trans "No" %}</span>
        </label>
        {% help_icon "decide_export" %}
      </div>
    </div>
  </div>
  <div class="row vertical-buffer-sm">
    <div class="form-group form-group-sm">
      <div class="col-sm-12">
        <button type="submit" class="button__primary">
          {% trans "Save Changes" %}</button>
      </div>
    </div>
  </div>
  </form>
  
  <script type="text/javascript">
        // submit form when profile changed
          $("#current_profile").bind("change", function(event){
            $("#edit_form").submit();
          });
    function profileSimpleToAdvanced(e){
        e.preventDefault();
        $("input[type=hidden][name=simpleToAdvanced]").val('True');
        $('#edit_form').submit();
    }
    function setHidden(){
    	if ($('#_status_unavailable').is(':checked')) {
   			// unavailable
    		$("#unavailable_reason_row").show();
    		$("#indexing_row").hide();
			} else if ($('#_status_reserved').is(':checked')) {
				// reserved
    		$("#unavailable_reason_row").hide();
    		$("#indexing_row").hide();
			}else{
				// public
				$("#unavailable_reason_row").hide();
				$("#indexing_row").show();
			}
    }
		$("[name='_status']").bind("change", function(){
			setHidden();
    });
    setHidden();
  </script>
  
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/static/javascripts/help_box.js"></script>
</div>
{% endblock %}
