{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}

{% block title %}Edit Identifier Details{% endblock %}

{% block header %}
{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
  <div class="grid_9">
  	<div style="float:right">
  		
  	</div>
    <h1>Identifier Details</h1>
    <div class="left_desc">Identifier:</div>
    <div class="right_val">
      <div style="float:left;padding-right:20px;">
        {{ id_text }}
      </div>
       {% include "includes/get_link.html" %}
    </div>
    
    <div style="clear:left;"></div>
    
    <h2>About the identified object</h2>
    <form id="edit_form" action="{% url ui_manage.edit id_text %}" method="post">
      <!-- original profile is the profile that was loaded before possibly being changed from drop-down list -->
      <input name="original_profile" id="original_profile"  type="hidden" value="{{current_profile.name}}"/>
      <p>Describe the identified object using the 
      <select name="current_profile" id="current_profile">
        {% for prof in profiles %}
          <option value="{{prof.name}}"
            {% if prof.name == current_profile.name %}
              selected="selected"
            {% endif %}
          >{{prof.displayName}}</option>
        {% endfor %}
      </select>
      citation profile.</p>
      
      <label for="_target" class="left {% tooltip_class "_target" %}">
        {{internal_profile.target.displayName}}:
      </label>
      <div class="field_right {% tooltip_class "_target" %}">
        <input type="text" name="_target" id="_target" size="35" value="{% form_or_dict_value identifier "_target" %}" class="std_form_width" />
      </div>
      
      {% for e in current_profile.elements %}
        <label for="{{e.name}}" class="left {% tooltip_class e.name %}">
          {{e.displayName}}:
        </label>
        <div class="field_right">
          {% display_form_element e identifier %}
          {% if current_profile.name == 'datacite' and e.name != 'datacite.resourcetype' %}
						{% datacite_field_help_icon e.name %}
  				{% endif %}
        </div>        
      {% endfor %}
    	<label class="left">&nbsp;</label>
    	<div class="field_right">
    		<input type="submit" value="Save changes" />
    	</div>
      <div style="clear:both;"></div>
    
      <h2>About the identifier</h2>
      <table>
      	<tr>
	      	<td class='{% tooltip_class "_owner label_col" %}'>{{internal_profile.owner.displayName}}:</td>
	      	<td>{% display_value identifier internal_profile.owner %}</td>
	    	</tr>
	    	
	    	<tr>
		      <td class='{% tooltip_class "_ownergroup" %}'>{{internal_profile.ownergroup.displayName}}:</td>
		      <td>{% display_value identifier internal_profile.ownergroup %}</td>
		    </tr>
		    
		    <tr>
		      <td class='{% tooltip_class "_coowners" %}'>{{internal_profile.coowners.displayName}}:</td>
		      <td>{% display_value identifier internal_profile.coowners %}</td>
		    </tr>
		    
		    <tr>
		      <td class='{% tooltip_class "_created" %}'>{{internal_profile.created.displayName}}:</td>
		      <td>{% display_value identifier internal_profile.created %}</td>
		    </tr>
		    
		    <tr>
		      <td class='{% tooltip_class "_updated" %}'>{{internal_profile.updated.displayName}}:</td>
		      <td>{% display_value identifier internal_profile.updated %}</td>
		    </tr>
		    
	      {% if status == 'public' %}
		      <tr>
		        <td>{{internal_profile.status.displayName}}:</td>
		        <td>{% display_value identifier internal_profile.status %}{% help_icon "public_id_help" %}</td>
		      </tr>
	      {% else %}
	      <tr colspan="2">
	      	<td>
		        <p>
		          Do you wish to publish this identifier now? 
		          <input type="radio" name="_status" id="status_no" value="reserved"
		          {% if post_status != 'public' %}
		            checked="checked"
		          {% endif %}
		          /><label for="status_no">No</label>
		          <input type="radio" name="_status" id="status_yes" value="public"
		            {% if post_status == 'public' %}
		              checked="checked"
		            {% endif %}/><label for="status_yes">yes</label>
		          {% help_icon "public_id_help" %}
		        </p>
	       	</td>
	      </tr>
	      {% endif %}
      </table>
    </form>
  </div>
  <div class="grid_3">
  	<img src="https://chart.googleapis.com/chart?chs=120x120&cht=qr&chld=L|0&chl={% full_url_to_id_details_urlencoded id_text %}"
  		   alt="QR Code for {% full_url_to_id_details id_text %}" title="QR Code for {% full_url_to_id_details id_text %}"/>
  </div>
  
  <script type="text/javascript">
    // submit form when profile changed
    $("#current_profile").bind("change", function(event){
      $("#edit_form").submit();
    });
  </script>
  
  {% include "info/popup_help.html" %}
  <script type="text/javascript" src="/ezid/static/javascripts/help_box.js"></script>

{% endblock %}