{% extends "layouts/base.html" %}
{% load metadata_tags %}
{% load layout_extras %}

{% block title %}Edit Identifier Details{% endblock %}

{% block javascript %}

{% endblock %}

{% block content %}
  <div class="grid_12">
    <h1>Identifier Details</h1>
    <div class="left_desc">Identifier:</div>
    <div class="right_val">{{ id_text }}</div>
    
    <div style="clear:both;"></div>
    
    <h2>About the identified object</h2>
    <form id="edit_form" action="{% url ui_manage.edit id_text %}" method="post">
      <!-- original profile is the profile that was loaded before possibly being changed from drop-down list -->
      <input name="original_profile" id="original_profile"  type="hidden" value="{{current_profile.name}}"/>
      <p>Describe the identified object using the 
      <select name="current_profile" id="current_profile">
        {% for prof in profiles %}
          <option value="{{prof.name}}"
            {% if prof.name == current_profile.name %}
              selected="selected"
            {% endif %}
          >{{prof.displayName}}</option>
        {% endfor %}
      </select>
      citation profile.</p>
      
      <label for="_target" class="left">
        {{internal_profile.target.displayName}}:
      </label>
      <div class="field_right">
        <input type="text" name="_target" id="_target" size="35" value="{% form_or_dict_value identifier "_target" %}" />
      </div>
      
      {% for e in current_profile.elements %}
        <label for="{{e.name}}" class="left">
          {{e.displayName}}:
        </label>
        <div class="field_right">
          <input type="text" name="{{e.name}}" id="{{e.name}}" size="35" value="{% form_or_dict_value identifier e.name %}" />
        </div>        
      {% endfor %}
    
      <div style="clear:both;"></div>
    
      <h2>About the identifier</h2>
      <div class="left_desc">{{internal_profile.owner.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.owner %}</div>
    
      <div class="left_desc">{{internal_profile.ownergroup.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.ownergroup %}</div>
    
      <div class="left_desc">{{internal_profile.coowners.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.coowners %}</div>
    
      <div class="left_desc">{{internal_profile.created.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.created %}</div>
    
      <div class="left_desc">{{internal_profile.updated.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.updated %}</div>
    
      <div class="left_desc">{{internal_profile.status.displayName}}:</div>
      <div class="right_val">{% display_value identifier internal_profile.status %}</div>
      
      <div style="clear:both">&nbsp;</div>
      
      <input type="submit" value="Save changes" />
    </form>
  </div>
  
  <script type="text/javascript">
    $("#current_profile").bind("change", function(event){
      $("#edit_form").submit();
    });
    $('#_target').focus();
  </script>

{% endblock %}