{% extends "layouts/base.html" %}
{% load manage_form_tags %}

{% block title %}Manage IDs{% endblock %}

{% block content %}
  
	  <div class="grid_12">
	  	<h1 style="display:inline-block">Identifiers</h1>&nbsp;
  {% if results|length < 1 %}
		<p>There are no recent results to display.<br/>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
	  </div>
  {% else %}
	  	{% if includeCoowned %}
	  		(includes co-owned identifiers)
	  	{% else %}
				(does not include co-owned identifiers)
		{% endif %} 
	  	
	  	&nbsp;&nbsp;&nbsp;<a href="#dialog" name="modal">Customize view</a>
	  	{% include "manage/_choose_cols.html" %}
	  </div>
	  
	  <div style="clear:both"></div>
	  
	  <div class="grid_12">
	    {% pager_display REQUEST p total_pages ps %}
		  <table class="manage">
		  	{% header_row REQUEST fields_selected fields_mapped field_widths order_by sort %}
		  	{% for item in results %}
		  	  <tr class="{% cycle 'row1' 'row2' %}">
		  			{% data_row item fields_selected field_display_types account_co_owners testPrefixes %}
		  		</tr>
		  	{% endfor %}
		  </table>
		  {% pager_display REQUEST p total_pages ps %}
		</div>
  {% endif %}

  {% if results|length > 0 %}
	  <div class="grid_12">
		<p>Identifiers shown with a <span class="fakeid">highlight</span> are demo/temporary identifiers.</p>
	  </div>
  {% endif %}
	<script type="text/javascript">
  	// Add class for current column heading
	  $(document).ready(function() {
	  	$("th:has(.order_by_col)").attr("id", "cur_sort");
		});
	</script>
{% endblock %}


