{% extends "layouts/base.html" %}
{% load manage_form_tags %}
{% load i18n %}

{% block title %}{% trans "Manage IDs" %}{% endblock %}
{% comment %} No Heading necessary for this template {% endcomment %}
{% block content %}
<div class="search-results__simple">
  <div class="fcontrol__group-stacked">
    <label for="search__simple-label" class="fcontrol__text-label-hidden">{% trans "Search" %}</label>
    <input id="search__simple-label" class="fcontrol__text-field-stacked" type="search" placeholder="{% trans "Full text search using words about or describing the identifier" %}.">
    <span class="fcontrol__invalid-flag">{% trans "Your search cannot not be empty" %}</span>
  </div>
  <div class="search-results__simple-button-group">
    <button class="search-results__simple-button">{% trans "Search Your Identifiers" %}</button>
  </div>
</div>
<div class="customize-table">
  <h2 class="customize-table__heading">{% trans "Your Identifiers" %} (#######) </h2>
  {% if results|length > 0 %}
  <button class="customize-table__button" data-toggle="modal" data-target="#myModal">{% trans "Customize View" %}</button>
  {% endif %}
</div>
{% include "includes/_choose_cols.html" %}

{% if results|length < 1 %}
  <p>No identifiers found.<br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
{% else %}
  
  {% include "includes/_pagination.html" %}

  <table class="table2">
  {% header_row REQUEST fields_selected fields_mapped order_by sort %}
  <tbody>
  {% for item in results %}
  <tr>
    {% data_row item fields_selected field_display_types account_co_owners testPrefixes %}
  </tr>
  {% endfor %}
  </tbody>
  </table>

  <p class="paragraph">Identifiers shown with an asterisk (&#42;) are demo/temporary identifiers.</p>
  {% include "includes/_pagination.html" %}
{% endif %}

  <script type="text/javascript">
  // Add class for current column heading
    $(document).ready(function() {
      $("th:has(.order_by_col)").attr("id", "cur_sort");
    });
  </script>
{% endblock %}


