{% extends "layouts/base.html" %}
{% load manage_form_tags %}
{% load i18n %}

{% block title %}{% trans "Manage IDs" %}{% endblock %}
{% comment %} No Heading necessary for this template {% endcomment %}
{% block content %}
<div class="container vertical-buffer-xs">
  {% if results|length < 1 %}
  <p>There are no recent results to display.<br/>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
  {% else %}
  <div class="vertical-buffer-bot-md">
    <a href="{% url "ui_search.index" %}"><button class="btn btn-primary btn-fullwidth-sm" type="button">{% trans "SEARCH YOUR IDENTIFIERS" %}</button></a>
  </div>
  <div class="vertical-buffer-xxs"></div>

  <div class="row gradient-orange block-header">
    <div class="col-sm-10">
      <div class="inline-header">
        <h3 id="search_table_id_info">{% trans "My Identifiers" %} (20,951) - 
          {% trans "(Includes co-owned identifiers)" %}</h3>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary padding-side-xs" data-toggle="modal" data-target="#myModal">{% trans "CUSTOMIZE VIEW" %}</button>
    </div>
  </div> 
  {% include "manage/_choose_cols.html" %}
	  
  {% pager_display REQUEST p total_pages ps %}
  <table class="manage">
  {% header_row REQUEST fields_selected fields_mapped field_widths order_by sort %}
  {% for item in results %}
  <tr class="{% cycle 'row1' 'row2' %}">
    {% data_row item fields_selected field_display_types account_co_owners testPrefixes %}
  </tr>
  {% endfor %}
  </table>
  {% pager_display REQUEST p total_pages ps %}

  <p>Identifiers shown with an asterisk (&#42;) are demo/temporary identifiers.</p>
  {% endif %}
</div> 
  <script type="text/javascript">
  // Add class for current column heading
    $(document).ready(function() {
      $("th:has(.order_by_col)").attr("id", "cur_sort");
    });
  </script>
{% endblock %}


