[ { '_url': IdNamespace(doi:10.9935/X5),
    'body': '',
    'status': b'error',
    'status_message': b'bad request - error="ValidationError([\'Registration '
                      b'with Crossref requires Crossref metadata supplied as'
                      b" value of element \\'crossref\\'. Received metadata: {"
                      b'\\\'datacite\\\': \\\'<?xml version="1.0"?>\\\
<res'
                      b'ource xmlns="http://datacite.org/schema/kernel-3" xm'
                      b'lns:xsi="http://www.w3.org/2001/XMLSchema-instance" '
                      b'xsi:schemaLocation="http://datacite.org/schema/kerne'
                      b'l-%25s http://schema.datacite.org/meta/kernel-3/meta'
                      b'data.xsd"><identifier identifierType="DOI">10.9935/X'
                      b'54W20</identifier><creators><creator><creatorName>CN'
                      b'=First Last A12345,O=Google,C=US,DC=cilogon,DC=org</'
                      b'creatorName></creator></creators><titles><title xml:'
                      b'lang="en">(:unkn)</title></titles><publisher>Test pu'
                      b'blisher</publisher><publicationYear>1999</publicatio'
                      b'nYear><resourceType resourceTypeGeneral="Dataset"/><'
                      b'formats><format>text/plain</format></formats></resou'
                      b"rce>\\', \\'datacite.creator\\': \\'Last, First\\', \\"
                      b"'datacite.format\\': \\'text/plain\\', \\'datacite.p"
                      b"ublicationyear\\': \\'1999\\', \\'datacite.publisher"
                      b"\\': \\'Test publisher\\', \\'datacite.resourcetype\\"
                      b"': \\'Dataset/data\\', \\'datacite.size\\': \\'123456"
                      b'7\\\', \\\'datacite.title\\\': \\\'(:unkn)\\\'}\'])" Me'
                      b'tadata: {\'datacite\': \'<?xml version="1.0"?>\
\'  '
                      b'            \'<resource xmlns="http://datacite.org/sc'
                      b'hema/kernel-3" \'              \'xmlns:xsi="http://www'
                      b'.w3.org/2001/XMLSchema-instance" \'              \'xsi'
                      b':schemaLocation="http://datacite.org/schema/kernel-%'
                      b"25s '              'http://schema.datacite.org/meta/"
                      b'kernel-3/metadata.xsd"><identifier \'              \'i'
                      b'dentifierType="DOI">10.9935/X54W20</identifier><crea'
                      b"tors><creator><creatorName>CN=First '              '"
                      b"Last '              'A12345,O=Google,C=US,DC=cilogon"
                      b',DC=org</creatorName></creator></creators><titles><t'
                      b'itle \'              \'xml:lang="en">(:unkn)</title></'
                      b"titles><publisher>Test '              'publisher</pu"
                      b'blisher><publicationYear>1999</publicationYear><reso'
                      b'urceType \'              \'resourceTypeGeneral="Datase'
                      b't"/><formats><format>text/plain</format></formats></'
                      b"resource>',  'datacite.creator': 'Last, First',  'da"
                      b"tacite.format': 'text/plain',  'datacite.publication"
                      b"year': '1999',  'datacite.publisher': 'Test publishe"
                      b"r',  'datacite.resourcetype': 'Dataset/data',  'data"
                      b"cite.size': '1234567',  'datacite.title': '(:unkn)'}"}]