ERROR impl.nog.shoulder shoulder Datacenter must be one of:
  CDL.CDL
  CDL.CMU
  CDL.INVEMAR
  CDL.LCC
  CDL.MITLCP
  CDL.PITT
  CDL.PQR
  CDL.UCB
  CDL.UCD
  CDL.UCI
  CDL.UCLA
  CDL.UCM
  CDL.UCR
  CDL.UCSB
  CDL.UCSC
  CDL.UCSD
  CDL.UCSF
  CDL.USFWS
  CDL.UTAUSTIN
  PURDUE.NUL
