{ 'active': True,
  'crossrefEnabled': False,
  'datacenter': None,
  'date': FakeDate(2010, 10, 11),
  'group_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager object
at [MEMORY-ADDRESS]>,
  'isArk': True,
  'isCrossref': False,
  'isDatacite': False,
  'isDoi': False,
  'isSupershoulder': False,
  'isTest': False,
  'isUuid': False,
  'manager': 'ezid',
  'minter': 'ezid:/91101/r01',
  'name': '91101/r01 test org',
  'prefix': 'ark:/91101/r01/',
  'prefix_shares_datacenter': False,
  'registration_agency': 'ezid',
  'shoulder_type': 'shoulder',
  'type': 'ARK',
  'user_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager object
at [MEMORY-ADDRESS]>}
