[ { '_url': IdNamespace(doi:10.19936/X9Y0),
    'body': '',
    'status': b'error',
    'status_message': b'bad request - error="ValidationError({\'datacenter\': '
                      b'[\'Missing datacenter.\']})" Metadata: {\'datacite\''
                      b': \'<resource xmlns="http://datacite.org/schema/kerne'
                      b'l-3" \'              \'xmlns:xsi="http://www.w3.org/20'
                      b'01/XMLSchema-instance" \'              \'xsi:schemaLoc'
                      b'ation="http://datacite.org/schema/kernel-3          '
                      b" '              'http://schema.datacite.org/meta/ker"
                      b'nel-3/metadata.xsd"><identifier \'              \'iden'
                      b'tifierType="DOI">doi:10.19936/X9Y0</identifier><crea'
                      b"tors><creator><creatorName>CN=First '              '"
                      b"Last '              'A12345,O=Google,C=US,DC=cilogon"
                      b',DC=org</creatorName></creator></creators><titles><t'
                      b'itle \'              \'xml:lang="en">(:unkn)</title></'
                      b"titles><publisher>Test '              'publisher</pu"
                      b'blisher><publicationYear>1999</publicationYear><reso'
                      b'urceType \'              \'resourceTypeGeneral="Datase'
                      b't"/><formats><format>text/plain</format></formats></'
                      b"resource>',  'datacite.creator': 'Last, First',  'da"
                      b"tacite.format': 'text/plain',  'datacite.publication"
                      b"year': '1999',  'datacite.publisher': 'Test publishe"
                      b"r',  'datacite.resourcetype': 'Dataset / data',  'da"
                      b"tacite.size': '1234567',  'datacite.title': '(:unkn)"
                      b"'}"}]