"    INFO impl.nog.shoulder shoulder Creating minter for ARK shoulder: ark:/91101/r01
    INFO impl.nog.reload reload Hostname [HOSTNAME]
    INFO ezidapp.management.commands.shoulder-create-ark shoulder-create-ark Shoulder created
"
