{ 'active': True,
  'crossrefEnabled': False,
  'datacenter': None,
  'date': FakeDate(2015, 4, 6),
  'isArk': True,
  'isCrossref': False,
  'isDatacite': False,
  'isDoi': False,
  'isSupershoulder': False,
  'isTest': False,
  'isUuid': False,
  'manager': 'ezid',
  'minter': 'https://n2t.net/a/ezid/m/ark/87610/t6',
  'name': 'UTA Institute of Classical Archaeology',
  'prefix': 'ark:/87610/t6',
  'prefix_shares_datacenter': False,
  'registration_agency': <RegistrationAgency: RegistrationAgency object (1)>,
  'shoulder_type': <ShoulderType: ShoulderType object (1)>,
  'storegroup_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager
object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager
object at [MEMORY-ADDRESS]>,
  'type': 'ARK'}