"INFO     ezidapp.management.commands.shoulder-create-doi Creating minter for DOI shoulder: doi:10.9111/r01
INFO     ezidapp.management.commands.shoulder-create-doi Shoulder created: doi:10.9111/r01
"
