{ 'active': True,
  'crossrefEnabled': False,
  'datacenter': None,
  'date': FakeDate(2015, 4, 6),
  'isArk': True,
  'isCrossref': False,
  'isDatacite': False,
  'isDoi': False,
  'isSupershoulder': False,
  'isTest': False,
  'isUuid': False,
  'manager': u'ezid',
  'minter': u'https://n2t.net/a/ezid/m/ark/87610/t6',
  'name': u'UTA Institute of Classical Archaeology',
  'prefix': u'ark:/87610/t6',
  'prefix_shares_datacenter': False,
  'registration_agency': <RegistrationAgency: RegistrationAgency object>,
  'shoulder_type': <ShoulderType: ShoulderType object>,
  'storegroup_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'type': u'ARK'}
