{ 'active': False,
  'crossrefEnabled': False,
  'datacenter': <StoreDatacenter: CDL.UCSB>,
  'date': FakeDate(2016, 3, 7),
  'isArk': False,
  'isCrossref': False,
  'isDatacite': True,
  'isDoi': True,
  'isSupershoulder': False,
  'isTest': False,
  'isUuid': False,
  'manager': 'ezid',
  'minter': 'https://n2t.net/a/ezid/m/ark/c8739/a2',
  'name': 'NSF Arctic Data Center Minter',
  'prefix': 'doi:10.18739/A2',
  'prefix_shares_datacenter': False,
  'registration_agency': <RegistrationAgency: RegistrationAgency object (2)>,
  'shoulder_type': <ShoulderType: ShoulderType object (1)>,
  'storegroup_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager
object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.create_forward_many_to_many_manager.<locals>.ManyRelatedManager
object at [MEMORY-ADDRESS]>,
  'type': 'DOI'}