[
  {
    "_created": "1286755200",
    "_export": "yes",
    "_owner": "admin",
    "_ownergroup": "admin",
    "_profile": "erc",
    "_status": "public",
    "_target": "http://test.ezid.org/test/id/ark:/99933/x14w2j",
    "_updated": "1286755200",
    "_url": "ark:/99933/x1",
    "body": "",
    "status": "success",
    "status_message": "ark:/99933/x14w2j",
    "test - what": "test - entry",
    "test - when": "2020-06-24",
    "test - who": "test - mint_identifier"
  },
  {
    "_created": "1286755200",
    "_export": "yes",
    "_owner": "admin",
    "_ownergroup": "admin",
    "_profile": "erc",
    "_status": "public",
    "_target": "http://test.ezid.org/test/id/ark:/99934/x24w20",
    "_updated": "1286755200",
    "_url": "ark:/99934/x2",
    "body": "",
    "status": "success",
    "status_message": "ark:/99934/x24w20",
    "test - what": "test - entry",
    "test - when": "2020-06-24",
    "test - who": "test - mint_identifier"
  },
  {
    "_created": "1286755200",
    "_export": "yes",
    "_owner": "admin",
    "_ownergroup": "admin",
    "_profile": "erc",
    "_status": "public",
    "_target": "http://test.ezid.org/test/id/ark:/99933/x3y44w2p",
    "_updated": "1286755200",
    "_url": "ark:/99933/x3y4",
    "body": "",
    "status": "success",
    "status_message": "ark:/99933/x3y44w2p",
    "test - what": "test - entry",
    "test - when": "2020-06-24",
    "test - who": "test - mint_identifier"
  },
  {
    "_created": "1286755200",
    "_export": "yes",
    "_owner": "admin",
    "_ownergroup": "admin",
    "_profile": "erc",
    "_status": "public",
    "_target": "http://test.ezid.org/test/id/ark:/99934/4w2q",
    "_updated": "1286755200",
    "_url": "ark:/99934/",
    "body": "",
    "status": "success",
    "status_message": "ark:/99934/4w2q",
    "test - what": "test - entry",
    "test - when": "2020-06-24",
    "test - who": "test - mint_identifier"
  }
]
