"INFO     ezidapp.management.commands.shoulder-create-doi Creating DOI minter: doi:10.9111/R01
ERROR    impl.nog.shoulder Datacenter must be one of:
  CDL.CDL
  CDL.UCB
  CDL.UCD
  CDL.UCI
  CDL.UCLA
  CDL.UCM
  CDL.UCR
  CDL.UCSB
  CDL.UCSC
  CDL.UCSD
  CDL.UCSF
"
