input_json=
{"erc.what":"UCI Library Service Level Agreement"}
~~~~~~~~~~
dict_pp=
{'erc.what': 'UCI Library Service Level Agreement'}
~~~~~~~~~~
keys=
erc.what
~~~~~~~~~~
output_exchange=
erc.what UCI%20Library%20Service%20Level%20Agreement