input_json=
{"erc.what":"End of Term Harvest 2008-2012"}
~~~~~~~~~~
dict_pp=
{'erc.what': 'End of Term Harvest 2008-2012'}
~~~~~~~~~~
keys=
erc.what
~~~~~~~~~~
output_exchange=
erc.what End%20of%20Term%20Harvest%202008-2012