{ 'active': True,
  'crossrefEnabled': False,
  'datacenter': <StoreDatacenter: CDL.UCLA>,
  'date': FakeDate(2010, 10, 11),
  'isArk': False,
  'isCrossref': False,
  'isDatacite': True,
  'isDoi': True,
  'isSupershoulder': True,
  'isTest': True,
  'isUuid': False,
  'manager': None,
  'minter': u'ezid:/b9111/r01',
  'name': u'r01 test org',
  'prefix': u'doi:10.9111/R01',
  'prefix_shares_datacenter': True,
  'registration_agency': None,
  'shoulder_type': None,
  'storegroup_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'type': u'DOI'}
