[ { '_url': IdNamespace(doi:10.9935/X5),
    'body': '',
    'status': b'error',
    'status_message': b'bad request - error="ValidationError({\'datacenter\': '
                      b'[\'Missing datacenter.\']})" Metadata: {\'datacite\''
                      b': \'<resource xmlns="http://datacite.org/schema/kerne'
                      b'l-3" \'              \'xmlns:xsi="http://www.w3.org/20'
                      b'01/XMLSchema-instance" \'              \'xsi:schemaLoc'
                      b'ation="http://datacite.org/schema/kernel-3          '
                      b" '              'http://schema.datacite.org/meta/ker"
                      b'nel-3/metadata.xsd"><identifier \'              \'iden'
                      b'tifierType="DOI">doi:10.9935/X5</identifier><creator'
                      b"s><creator><creatorName>CN=First '              'Las"
                      b"t '              'A12345,O=Google,C=US,DC=cilogon,DC"
                      b'=org</creatorName></creator></creators><titles><titl'
                      b'e \'              \'xml:lang="en">(:unkn)</title></tit'
                      b"les><publisher>Test '              'publisher</publi"
                      b'sher><publicationYear>1999</publicationYear><resourc'
                      b'eType \'              \'resourceTypeGeneral="Dataset"/'
                      b'><formats><format>text/plain</format></formats></res'
                      b"ource>',  'datacite.creator': 'Last, First',  'datac"
                      b"ite.format': 'text/plain',  'datacite.publicationyea"
                      b"r': '1999',  'datacite.publisher': 'Test publisher',"
                      b"  'datacite.resourcetype': 'Dataset / data',  'datac"
                      b"ite.size': '1234567',  'datacite.title': '(:unkn)'}"}]