{ 'active': True,
  'crossrefEnabled': False,
  'datacenter': None,
  'date': FakeDate(2010, 10, 11),
  'isArk': True,
  'isCrossref': False,
  'isDatacite': False,
  'isDoi': False,
  'isSupershoulder': True,
  'isTest': True,
  'isUuid': False,
  'manager': u'ezid',
  'minter': u'ezid:/99920/NULL',
  'name': u'91101/r01 test org',
  'prefix': u'ark:/99920/',
  'prefix_shares_datacenter': False,
  'registration_agency': None,
  'shoulder_type': None,
  'storegroup_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'type': u'ARK'}
