[ { '_url': IdNamespace(doi:10.19936/X6Y7),
    'body': '',
    'status': b'error',
    'status_message': b'bad request - error="ValidationError([\'Registration '
                      b'with Crossref requires Crossref metadata supplied as'
                      b" value of element \\'crossref\\'. Received metadata: {"
                      b'\\\'datacite\\\': \\\'<?xml version="1.0"?>\\\
<res'
                      b'ource xmlns="http://datacite.org/schema/kernel-3" xm'
                      b'lns:xsi="http://www.w3.org/2001/XMLSchema-instance" '
                      b'xsi:schemaLocation="http://datacite.org/schema/kerne'
                      b'l-%25s http://schema.datacite.org/meta/kernel-3/meta'
                      b'data.xsd"><identifier identifierType="DOI">10.19936/'
                      b'X6Y74W28</identifier><creators><creator><creatorName'
                      b'>CN=First Last A12345,O=Google,C=US,DC=cilogon,DC=or'
                      b'g</creatorName></creator></creators><titles><title x'
                      b'ml:lang="en">(:unkn)</title></titles><publisher>Test'
                      b' publisher</publisher><publicationYear>1999</publica'
                      b'tionYear><resourceType resourceTypeGeneral="Dataset"'
                      b'/><formats><format>text/plain</format></formats></re'
                      b"source>\\', \\'datacite.creator\\': \\'Last, First\\'"
                      b", \\'datacite.format\\': \\'text/plain\\', \\'datacit"
                      b"e.publicationyear\\': \\'1999\\', \\'datacite.publis"
                      b"her\\': \\'Test publisher\\', \\'datacite.resourcety"
                      b"pe\\': \\'Dataset/data\\', \\'datacite.size\\': \\'123"
                      b'4567\\\', \\\'datacite.title\\\': \\\'(:unkn)\\\'}\'])"'
                      b' Metadata: {\'datacite\': \'<?xml version="1.0"?>\
'
                      b'\'              \'<resource xmlns="http://datacite.org'
                      b'/schema/kernel-3" \'              \'xmlns:xsi="http://'
                      b'www.w3.org/2001/XMLSchema-instance" \'              \''
                      b'xsi:schemaLocation="http://datacite.org/schema/kerne'
                      b"l-%25s '              'http://schema.datacite.org/me"
                      b'ta/kernel-3/metadata.xsd"><identifier \'             '
                      b' \'identifierType="DOI">10.19936/X6Y74W28</identifier'
                      b"><creators><creator><creatorName>CN=First '         "
                      b"     'Last '              'A12345,O=Google,C=US,DC=c"
                      b'ilogon,DC=org</creatorName></creator></creators><tit'
                      b'les><title \'              \'xml:lang="en">(:unkn)</ti'
                      b"tle></titles><publisher>Test '              'publish"
                      b'er</publisher><publicationYear>1999</publicationYear'
                      b'><resourceType \'              \'resourceTypeGeneral="'
                      b'Dataset"/><formats><format>text/plain</format></form'
                      b"ats></resource>',  'datacite.creator': 'Last, First'"
                      b",  'datacite.format': 'text/plain',  'datacite.publi"
                      b"cationyear': '1999',  'datacite.publisher': 'Test pu"
                      b"blisher',  'datacite.resourcetype': 'Dataset/data', "
                      b" 'datacite.size': '1234567',  'datacite.title': '(:u"
                      b"nkn)'}"}]