{ 'active': False,
  'crossrefEnabled': False,
  'datacenter': <StoreDatacenter: CDL.UCSB>,
  'date': FakeDate(2016, 3, 7),
  'isArk': False,
  'isCrossref': False,
  'isDatacite': True,
  'isDoi': True,
  'isSupershoulder': False,
  'isTest': False,
  'isUuid': False,
  'manager': u'ezid',
  'minter': u'https://n2t.net/a/ezid/m/ark/c8739/a2',
  'name': u'NSF Arctic Data Center Minter',
  'prefix': u'doi:10.18739/A2',
  'prefix_shares_datacenter': False,
  'registration_agency': <RegistrationAgency: RegistrationAgency object>,
  'shoulder_type': <ShoulderType: ShoulderType object>,
  'storegroup_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'storeuser_set': <django.db.models.fields.related_descriptors.ManyRelatedManager object at [MEMORY-ADDRESS]>,
  'type': u'DOI'}
