input_json=
{"erc.who":"Kunze, John (California Digital Library)","erc.when":"2007-11-02","erc.what":"Name-to-Thing (N2T) Resolver: Vision"}
~~~~~~~~~~
dict_pp=
{'erc.what': 'Name-to-Thing (N2T) Resolver: Vision',
 'erc.when': '2007-11-02',
 'erc.who': 'Kunze, John (California Digital Library)'}
~~~~~~~~~~
keys=
erc.who, erc.when, erc.what
~~~~~~~~~~
output_exchange=
erc.who Kunze,%20John%20%28California%20Digital%20Library%29 erc.when 2007-11-02 erc.what Name-to-
Thing%20%28N2T%29%20Resolver:%20Vision