input_json=
{"erc.what":"UCB Research Hub Owner"}
~~~~~~~~~~
dict_pp=
{'erc.what': 'UCB Research Hub Owner'}
~~~~~~~~~~
keys=
erc.what
~~~~~~~~~~
output_exchange=
erc.what UCB%20Research%20Hub%20Owner