# Redirect non-SSL connections to SSL
#
Listen {{ http_port }}
<VirtualHost *:{{ http_port }}>
	ServerName {{ ansible_facts.fqdn }}
        UseCanonicalName On
        RedirectMatch ^/(.*)$ https://{{ ansible_facts.fqdn }}/$1
</VirtualHost>

